---
# <!-- @formatter:off -->
title: Passport Report
show-in-left-nav: false
additional-scripts:
  - src: /scripts/page--passport-report.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/passport-report.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}

<div class="cmc-article">

    <p class="cmc-article__subtitle">{{title}}</p>

    <div
        id="PassportReport"
        class="passport-report"
        data-year="2017"
    >
        <div class="loading--placeholder">loading...</div>
    </div>
</div>
{{/content}}

{{/extend}}
