@import './components/sign-in-sign-up';
@import './components/sponsor-footer';

.cmc-footer__contact-links {
    @include make-xs-column(12);
    @include make-sm-column(4);
    @include make-md-column(3);
    padding-bottom: rhythm(1);
    clear: none;
}

.horizontal-menu__wrapper {
    clear: both;
}

.cmc-footer__vcard__contact-numbers {
    margin-bottom: 0;
}

.cmc-footer__contact-links {
    padding: 0 0 rhythm(1);
}

/*
.headroom--top.headroom--pinned {
    position: relative;
    + .layout__bg--main {
        margin-top: rhythm(1);
        @media (min-width: $screen-md-min) {
            margin-top: rhythm(2);
        }
    }
}

.headroom + .layout__bg--main {
    margin-top: rhythm(4);
    @media (min-width: $screen-md-min) {
        margin-top: rhythm(5);
    }
}
*/

.cmc-footer__copyright-row {
    clear: both;
}

.award-categories-list {
    margin-left: rhythm(1);
    h3 {
        font-weight: 400;
    }
}

.cmc-form {
    .input-note {
        @include adjust-font-size-to(12px, 0.75);
        color: $border-color;
    }
}

.products-and-solutions__title {
    @include adjust-font-size-to(38px, 1.5);
    font-family: $font-family-secondary;
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(45px, 2);
    }
    margin-bottom: rhythm(0.5);
    span {
        color: $theme-tertiary;
    }
}

.session-track__title {
    @include adjust-font-size-to(24px, 1);
    font-family: $font-family-secondary;
    margin: rhythm(0.25) 0 rhythm(0.5);
    color: $font-color-link;
}

.layout__bg--events {
    margin-bottom: 0;
}

.cmc-article__link.cmc-article__link--reversed {
    padding: 0.25rem rhythm(0.75) 0.25rem rhythm(1.25);
    &:after {
        transform: translateY(-50%) rotate(180deg);
        position: absolute;
        left: rhythm(0.5);
        right: auto;
    }
}

.cmc-form__submit-row {
    .cmc-article__link {
        margin-right: $grid-gutter-width / 2;
        margin-top: rhythm(0.5);
        margin-bottom: 0;
    }
}

.show-error {
    clear: both;
}

.schedule-warning-modal__modal-body p {
    margin-bottom: rhythm(1);
}

.schedule-warning-modal__continue-btn {
    margin: 0 auto rhythm(0);
}

.loading--top {
    top: 0;
}

.horizontal-menu button {
    display: block;
    cursor: pointer;
}

.horizontal-menu > li > button {
    // top level
    font-family: $font-family-secondary;
    @include adjust-font-size-to($base-font-size, 1.5);
    color: $horizontal-menu-txt-color;
    padding: 0 0.5em;
    background-color: transparent;
    border: 0;
    &:after {
        @include svg-sprite-icon();
        // scss-lint:disable SpaceAroundOperator
        background-image: svg-load(
                'images/ui/chevron-down.svg' fill=$font-color-text-dark
        );
        // scss-lint:enable SpaceAroundOperator
        width: 9.7px;
        height: 6.4px;
        content: '';
        margin: 0 0 0.1em 1em;
    }
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(14px, 1.5);
        border: 0;
        padding: 0 1em;
    }
}

.horizontal-menu > .sfHover > button {
    // top level hover
    color: $horizontal-menu-txt-color;

    @media (min-width: $screen-sm-min) {
        color: $font-color-icon;
        background: $left-nav-bg-hover;
        &:after {
            // scss-lint:disable SpaceAroundOperator
            background-image: svg-load(
                    'images/ui/chevron-down.svg' fill=$font-color-lightest
            );
            // scss-lint:enable SpaceAroundOperator
            width: 9.7px;
            height: 6.4px;
        }
    }
}
