@import 'cmc-site/app/styles/common-imports';
@import 'base/variables';

.top-nav-menu .top-nav-menu__charm-button--account {
    @include charm-button;
}

.social-media-share-item--twitter-hash {
    display: block;
    margin-bottom: rhythm(0.5);
    @media (min-width: $screen-xs-land-min) {
        display: inline-block;
        margin-bottom: 0;
    }
}

// scss-lint:disable QualifyingElement
.social-media-share__button--twitter-hash,
a.social-media-share__button--twitter-hash {
    @include adjust-font-size-to(14px, 1);
    font-weight: 400;
    text-decoration: none;
    color: $font-color-text-dark;
    background-color: transparent;
    cursor: auto;
    &:before {
        content: none;
    }
}
// scss-lint:enable QualifyingElement
