---
# <!-- @formatter:off -->
title: Breakout Session Presentations
show-in-left-nav: false
private: true
banner-image: /images/pages/global/banner-ci2017-logo.png
bucket: https://s3.amazonaws.com/cmcv3-general--ci/2017/session-documents/
additional-stylesheets:
  - href: /styles/pages/session-presentations.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}

<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p>
        Thank you for joining us at CampusInsight 2017! We hope the conference provided you with valuable learning and
        networking opportunities. To view a particular presentation, click on the session title below.
    </p>
    <p>
        <strong>Please be sure to bookmark this page for future reference</strong>, as it is not viewable from the
        public CampusInsight conference Website
    </p>
    <div class="session-presentations">
        <!--
            <h2 class="session-track__title header--has-top-border">General Session</h2>
            <ul class="session-presentations-download-list">
                <li>
                    <a
                        href="{{bucket}}general-session/general-session.zip"
                        target="_blank">
                        CampusInsight 2017 General Session
                    </a>
                </li>
            </ul>
        -->

        <h2 class="session-track__title header--has-top-border">Driving Transformation Through Professional
            Services</h2>
        <ul class="session-presentations-download-list">
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-Driving-Transformation-Through-Professional-Services-Track.zip"
                    target="_blank">
                    <em>Download all session presentations in this track</em>
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-Strategic-Solutions-Customer-Impact-Stories.pdf"
                    target="_blank">
                    Strategic Solutions: Customer Impact Stories
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-CRM-Package-Offerings.pdf"
                    target="_blank">
                    CRM Packages and Technical Tools for Best Practice Process Automation
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-PS-Integration-Services-Automations.pdf"
                    target="_blank">
                    Automation Using Forms Builder and Workflow
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-Who-Knew-Campus-Management-Delivers-CampusNexus-Administration-Services.pdf"
                    target="_blank">
                    Who Knew? Campus Management Delivers CampusNexus Administration Services
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-Nothing-is-Wrong-with-Change.pdf"
                    target="_blank">
                    Nothing is Wrong with Change, if It’s in the Right Direction
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-PS-Moving-to-Web-Client.pdf"
                    target="_blank">
                    Moving to the Web Client - CampusNexus Student
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-CRM-FRI-Webform-Geo-Location-Tracker-and-Territory-Assignment.pdf"
                    target="_blank">
                    CRM RFI Webform, Geo Location Tracker and Territory Assignment
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}powering-success-though-professional-services/CampusInsight2017-PS-Integration-Services-New-Offerings.pdf"
                    target="_blank">
                    New Offerings for Integration Services
                </a>
            </li>
        </ul>


        <h2 class="session-track__title header--has-top-border">Managing Constituent Relationships with CRM</h2>
        <ul class="session-presentations-download-list">
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Managing-Constituent-Relationships-with-CRM-Track.zip"
                    target="_blank">
                    <em>Download all session presentations in this track</em>
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-CampusNexus-CRM-State-of-the-Union.pdf"
                    target="_blank">
                    CampusNexus CRM State of the Union
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Cobrowsing-Explored.pdf"
                    target="_blank">
                    Cobrowsing Explored
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Planning-for-a-Successful-Web-Client-Rollout.pdf"
                    target="_blank">
                    Planning for a Successful Web Client Rollout
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-AB-Testing-with-CampusNexus-CRM-Campaigns.pdf"
                    target="_blank">
                    A/B Testing with CampusNexus CRM Campaigns
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Urge-to-Merge-Automated-Contact-Merging.pdf"
                    target="_blank">
                    Urge to Merge - Automated Contact Merging
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Show-Me-the-Money-One-Year-Later.pdf"
                    target="_blank">
                    Show Me the Money…One Year Later!
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Things-We-Wish-We-Knew-Before-We-Started-Texting.pdf"
                    target="_blank">
                    Things We Wish We Knew Before We Started Texting
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Creating-Faculty-Management-using-CampusNexus-CRM.pdf"
                    target="_blank">
                    Creating Faculty Management Features Using CampusNexus CRM
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-We-are-off-to-See-the-Wizard-Using-the-Web-Service-Framework.pdf"
                    target="_blank">
                    We’re off to See the Wizard: Using the Web Service Framework
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Focus-on-the-CampusNexus-CRM-Web-Client.pdf"
                    target="_blank">
                    Focus on the CampusNexus CRM Web Client
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-How-Proper-Governance-Creates-Order-from-Chaos.pdf"
                    target="_blank">
                    How Proper Governance Creates Order From Chaos
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Moderated-Round-Table-Onboarding-New-Teams-Where-do-I-start.pdf"
                    target="_blank">
                    Moderated Roundtable: Onboarding New Teams - Where Do I Start?
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Deep-Dive-Into-the-New-Forms-Builder-Part-1-and-2.pdf"
                    target="_blank">
                    Deep Dive Into the New Forms Builder, Part 1 and 2
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Product-Highlights-CRM-12.0.pdf"
                    target="_blank">
                    Product Highlights - CRM 12.0
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Success-Strategy-for-Long-term-Campaign-Planning.pdf"
                    target="_blank">
                    Success Strategy for Long-term Campaign Planning
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-constituent-relationships-with-crm/CampusInsight2017-Moderated-Round-Table-UX-and-Features-of-the-Web-Client.pdf"
                    target="_blank">
                    Moderated Roundtable: UX and Features of the Web Client
                </a>
            </li>
        </ul>


        <h2 class="session-track__title header--has-top-border">​Technology, Innovation &amp; Strategy</h2>
        <ul class="session-presentations-download-list">
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/CampusInsight2017-Technology-Innovation-Strategy-Track.zip"
                    target="_blank">
                    <em>Download all session presentations in this track</em>
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/CampusInsight2017-Internet-of-Things-for-Higher-Education.pdf"
                    target="_blank">
                    Internet of Things for Higher Education
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/CampusInsight2017-Microsofts-Azure-Cloud-for-Higher-Education.pdf"
                    target="_blank">
                    Microsoft's Azure Cloud for Higher Education
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/CampusInsight2017-A-Lap-Around-CampusNexus-Presentation-Technologies.pdf"
                    target="_blank">
                    A Lap Around CampusNexus Presentation Technologies
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/"
                    target="_blank">
                    Visualizing CampusNexus Data with Microsoft Power BI
                </a>
            </li>
            -->
            <!--
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    Integrating with CampusNexus Services
                </a>
            </li>
            -->
            <!--
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    Improving Your Institution's Data Security
                </a>
            </li>
            -->
            <!--
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    Authoring Custom CampusNexus Workflow Activities
                </a>
            </li>
            -->
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/CampusInsight2017-Integrating-Microsoft-Power-BI-with-Big-Data-and-Your-Institutions-Information.pdf"
                    target="_blank">
                    Integrating Microsoft Power BI with Big Data and Your Institution's Information
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}technology-innovation-strategy/CampusInsight2017-How-Customers-are-Using-and-Benefiting-From-Workflow.pdf"
                    target="_blank">
                    How Campus Management Customers Are Using and Benefiting from Workflow
                </a>
            </li>
        </ul>


        <h2 class="session-track__title header--has-top-border">Financial Aid, Stewardship and Compliance</h2>
        <ul class="session-presentations-download-list">
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/CampusInsight-2017-Financial-Aid-Stewardship-and-Compliance-Track.zip"
                    target="_blank">
                    <em>Download all session presentations in this track</em>
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/Strategic_Solutions_Customer-Impact-Stories_FINAL.pdf"
                    target="_blank">
                    Financial Aid & Student Accounts State of the Union
                </a>
            </li>
            -->
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/CampusInsight-2017-PPT-Automated+Refund+Calculation.pdf"
                    target="_blank">
                    Automated Refund Calculation
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/CampusInsight-2017-PPT-Panel+Discussion_Financial+Aid+Automation.pdf"
                    target="_blank">
                    Panel Discussion: CampusNexus Financial Aid Automation
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/CampusInsight-2017-FA_SA+Regulatory+Update.pdf"
                    target="_blank">
                    Regulatory Update
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/CampusInsight-2017-PPT-Panel+Discusson_CampusNexus+Financial+Aid_Forms_Builder_Workflow+and+Eventing.pdf"
                    target="_blank">
                    Panel Discussion: CampusNexus Financial Aid, Forms Builder, Workflow and Eventing
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/CampusInsight-2017-PPT-Student+Financial+Aid+Awarding.pdf"
                    target="_blank">
                    Student Financial Aid Automated Awarding
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/CampusInsight-2017-Gainful+Employment+(Full+Lifecycle).pdf"
                    target="_blank">
                    Gainful Employment (Full Cycle)
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}financial-aid-stewardship-and-compliance/CampusInsight-2017-Q%26A+Ask+Away.pdf"
                    target="_blank">
                    Q & A - Ask Away
                </a>
            </li>
        </ul>


        <h2 class="session-track__title header--has-top-border">Finance &amp; Human Resource Management</h2>
        <ul class="session-presentations-download-list">
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-Finance-Human-Resource-Management-Track.zip"
                    target="_blank">
                    <em>Download all session presentations in this track</em>
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-CampusNexus-Finance-HR-Payroll-State-of-the-Union.pdf"
                    target="_blank">
                    CampusNexus Finance, HR &amp; Payroll State of the Union
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-CampusNexus-Finance-Suite-Part-1-Demo.pdf"
                    target="_blank">
                    CampusNexus Finance, HR &amp; Payroll - Finance Suite Overview, Part 1 - Demo
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    CampusNexus Finance, HR &amp; Payroll - Finance Suite Overview, Part 2 - Q &amp; A
                </a>
            </li>
            -->
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-CampusNexus-Finance-HR-and-Payroll-Faculty-Management-Module.pdf"
                    target="_blank">
                    CampusNexus Finance, HR &amp; Payroll - Faculty Management Module
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-CampusNexus-FHP-HR-and-Payroll-Suite-Part-1-Demo.pdf"
                    target="_blank">
                    CampusNexus Finance, HR &amp; Payroll - Human Resources and Payroll Suite Overview, Part 1 - Demo
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    CampusNexus Finance, HR &amp; Payroll - Human Resources and Payroll Suite Overview, Part 2 - Q &amp;
                    A
                </a>
            </li>
            -->
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-Leveraging-Business-Intelligence-in-CampusNexus-Finance-HR-Payroll.pdf"
                    target="_blank">
                    Leveraging Business Intelligence in CampusNexus Finance, HR &amp; Payroll
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-Working-Together-Integration-Between-CampusNexus-Finance-HR-and-Payroll-and-Student.pdf"
                    target="_blank">
                    Working Together: Integration Between CampusNexus Finance, HR &amp; Payroll and CampuNexus Student
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-The-Wonders-of-Workflow.pdf"
                    target="_blank">
                    The Wonders of Workflow
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}finance-human-resource-management/CampusInsight2017-The-Bells-n-Whistles-in-CampusNexus-Finance-HR-Payroll.pdf"
                    target="_blank">
                    The Bells n' Whistles in CampusNexus Finance, HR &amp; Payroll
                </a>
            </li>
        </ul>


        <h2 class="session-track__title header--has-top-border">Managing the Student &amp; Academic Enterprise</h2>
        <ul class="session-presentations-download-list">
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Managing-the-Student-and-Academic-Enterprise-Track.zip"
                    target="_blank">
                    <em>Download all session presentations in this track</em>
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-CampusNexus-Student-CampusVue-State-of-the-Union.pdf"
                    target="_blank">
                    CampusNexus Student/CampusVue Student State of the Union
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-In-Search-of-Innovation-An-Update-on-the-Rasmussen-College-Competency-Based-Education-Project.pdf"
                    target="_blank">
                    In Search of Innovation: An Update on the Rasmussen College Competency Based Education Project
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Web-Client-CampusNexus-Student-Whats-New-in-Contact-Manager.pdf"
                    target="_blank">
                    Web Client for CampusNexus Student: What's New in Contact Manager
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Round-Table-Grad-Professional-Schools.pdf"
                    target="_blank">
                    Roundtable: Graduate Professional Schools
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Web-Client-CampusNexus-Student-Whats-New-in-Admissions.pdf"
                    target="_blank">
                    Web Client for CampusNexus Student: What's New in Admissions
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Exploring-Microsoft-Power-BI-Financial-Aid-Analytics.pdf"
                    target="_blank">
                    Exploring Microsoft Power BI - Financial Aid Analytics (Dashboards &amp; Reports)
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Web-Client-for-CampusNexus-Student-Whats-New-in-Academic-Records.pdf"
                    target="_blank">
                    Web Client for CampusNexus Student: What's New in Academics
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Student-Portal-Whats-New.pdf"
                    target="_blank">
                    Student Portal: What's New
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Web-Client-for-CampusNexus-Student-Managing-Reference-Data.pdf"
                    target="_blank">
                    Web Client for CampusNexus Student: Managing Reference Data
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-CampusNexus-Student-Web-Client-Navigation-and-Usability-Roundtable-Part-1-and-2.pdf"
                    target="_blank">
                    CampusNexus Student Web Client Navigation and Usability Roundtable (Part 1)
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Web-Client-A-Sneek-Peek-at-the-Degree-Progress-Audit.pdf"
                    target="_blank">
                    Web Client - A Sneek Peek at the Degree Progress Audit
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    CampusNexus Student Web Client Navigation and Usability Roundtable (Part 2)
                </a>
            </li>
            -->
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Realizing-the-Benefits-of-Workflow-A-Customers-Perspective.pdf"
                    target="_blank">
                    Realizing the Benefits of Workflow: A Customer’s Perspective
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Managing-Upgrades-from-a-Non-Technical-Point-of-View-AKA-Taming-the-Tiger.pdf"
                    target="_blank">
                    Managing Upgrades from a Non-Technical Point of View
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Traditional-Institution-Round-Table.pdf"
                    target="_blank">
                    Traditional Institution Roundtable (Part 1)
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-CampusNexus-Student-Best-Practices-for-Training-New-Staff-and-Preparing-for-Turnover.pdf"
                    target="_blank">
                    CampusNexus Student: Best Practices for Training New Staff and Preparing for Turnover
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    Traditional Institution Roundtable (Part 2)
                </a>
            </li>
            -->
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-Auto-Scheduling-Courses-Using-Workflow.pdf"
                    target="_blank">
                    Auto-Scheduling Courses Using Workflow
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}managing-the-student-academic-enterprise/CampusInsight2017-CampusNexus-Student-CampusVue-State-of-the-Union.pdf"
                    target="_blank">
                    CampusNexus Student/CampusVue Student State of the Union (Encore Presentation)
                </a>
            </li>
            -->
        </ul>


        <h2 class="session-track__title header--has-top-border">Adding Value with Partner Solutions</h2>
        <ul class="session-presentations-download-list">
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-Adding-Value-with-Partner-Solutions-Track.zip"
                    target="_blank">
                    <em>Download all session presentations in this track</em>
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-And-the-Survey-Says-A-Better-Pyament-Experience-ACI-Worldwide-Payments.pdf"
                    target="_blank">
                    And the Survey Says…A Better Payment Experience!
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-Student-Retention-and-Outcome-Improvements-with-Inclusive-Access-and-CampusNexus-Ambassador.pdf"
                    target="_blank">
                    Student Retention and Outcome Improvements with Inclusive Access and CampusNexus
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-Automation-Tools-in-the-Market-Exhibitor-Roundtable.pdf"
                    target="_blank">
                    Automation: Industry Experts Share the Advantages of the Latest Tools in the Market
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-Managing-your-Data-in-a-SaaS-World-iData.pdf"
                    target="_blank">
                    Managing your Data in a SaaS World
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-Engage-Their-Way-Reach-Applicants-and-Students-at-Their-Fingertips-Onehop-ScreenMagic-SMS.pdf"
                    target="_blank">
                    Engage Their Way: Reach Applicants and Students at Their Fingertips
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-Data-Security-and-PCI-Compliance-Exhibitor-Roundtable.pdf"
                    target="_blank">
                    Data Security and PCI Compliance: Industry Experts Discuss Hot Topics and Trends
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-The-Next-Evolution-of-CRM-From-Good-Enough-to-Great-Exhibitor-Roundtable.pdf"
                    target="_blank">
                    The Next Evolution of CRM: From Good Enough to Great
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-The-Mobile-Generation-Keep-Up-and-Get-Ahead-with-a-Winning-Mobile-Strategy-+DubLabs.pdf"
                    target="_blank">
                    The Mobile Generation: Keep Up and Get Ahead with a Winning Mobile Strategy
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}adding-value-with-partner-solutions/CampusInsight2017-Help-our-Partner-Network-Grow.pdf"
                    target="_blank">
                    Help Our Partner Network Grow: We Want to Hear From You
                </a>
            </li>
        </ul>


        <h2 class="session-track__title header--has-top-border">Fundraising and Donor Management</h2>
        <ul class="session-presentations-download-list">
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Fundraising-and-Donor-Management-Track.zip"
                    target="_blank">
                    <em>Download all session presentations in this track</em>
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Leveraging-Our-Partnership-WealthEngine8.pdf"
                    target="_blank">
                    Leveraging Our Partnership - WealthEngine 8
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Importing-and-Using-WealthEngine-8-Data-to-Enhance-Your-Fundraising-Efforts.pdf"
                    target="_blank">
                    Importing and Using WealthEngine 8 Data to Enhance Your Fundraising Efforts
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Improving-Engagement-by-Combining-Talisma-Fundraising-and-CampusNexus-CRM.pdf"
                    target="_blank">
                    Improving Engagement by Combining Talisma Fundraising and CampusNexus CRM
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Whats-New-in-Talisma-Fundraising-2017-Roadmap.pdf"
                    target="_blank">
                    What's New in Talisma Fundraising - 2017 Roadmap
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    Explore Constant Contact with University of Wisconsin-River Falls
                </a>
            </li>
            -->
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Planning-and-Executing-a-Capital-Campaign-in-Talisma-Fundraising.pdf"
                    target="_blank">
                    Planning &amp; Executing a Capital Campaign in Talisma Fundraising
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Planning-and-Tracking-Your-Annual-Development-Program-in-Talisma-Fundraising.pdf"
                    target="_blank">
                    Setting Up, Tracking and Reporting on Annual Fund Success
                </a>
            </li>
            <!--
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/Next-Generation-Finance_HR_and-Payroll-for-Higher-Education_FINAL.pdf"
                    target="_blank">
                    What's New in Online Giving 2017
                </a>
            </li>
            -->
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Reports-Tips-and-Tricks-to-Target-Prospects.pdf"
                    target="_blank">
                    Filters &amp; Reports Tips n' Tricks to Target Prospects
                </a>
            </li>
            <li>
                <a
                    href="{{bucket}}fundraising-and-donor-management/CampusInsight2017-Talisma-Fundraising-Q-A.pdf"
                    target="_blank">
                    Talisma Fundraising Q &amp; A
                </a>
            </li>
        </ul>
    </div>
</div>

{{/content}}

{{#content "after-body"}}

{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}


{{/extend}}
