
<li class="link-box link-box--case-study">
    <div class="link-box__title">Case Studies</div>
    <a class="pill-button link-box__link" href="{{safeValue href '{{url-lang-prefix}}/higher-education-resources/case-studies/' }}">Review</a>
</li>
