<li class="link-box link-box--insights">
    <div class="link-box__title">Insights</div>
    <a class="pill-button link-box__link" href="{{safeValue href '{{url-lang-prefix}}/higher-education-resources/insights/' }}">Read</a>
</li>
