<li class="link-box link-box--product-sheets">
    <div class="link-box__title">Product Sheets</div>
    <a class="pill-button link-box__link" href="{{safeValue href '{{url-lang-prefix}}/higher-education-resources/product-sheets/' }}">Download</a>
</li>
