<li class="info-box info-box--breakout-sessions">
    <h2 class="info-box__title">Breakout Sessions</h2>
    <img src="/images/pages/details/box-breakout-sessions.png" class="info-box__img" alt=""/>
    <div class="info-box__content-wrapper--left">
        <p>Attend breakout sessions and tracks to gain industry insights, engage with product experts and colleagues, and share best practices.</p>
    </div>
    <a class="info-box__link" href="/sessions/">Details</a>
</li>
