<li class="info-box info-box--campusnet-cloud">
    <h2 class="info-box__title">CampusNexus Cloud</h2>
    <img src="/images/pages/services/box-cloud.png" class="info-box__img" alt=""/>
    <div class="info-box__content-wrapper--left">
        <p>A secure, world-class enterprise data center as your platform.</p>
        <p>
            Now you can access the entire CampusNexus<sup>®</sup> portfolio of on-demand technology – in the cloud. With CampusNexus
            Cloud, Campus Management hosts and manages your solutions from a world-class, enterprise data center,
            ensuring maximum availability, security, and scalability.
        </p>
    </div>
    <a class="pill-button info-box__link" href="{{url-lang-prefix}}/services/CampusNexus-cloud/">More</a>
</li>
