<li class="info-box info-box--event">
    <h2 class="info-box__title">Thursday Evening Block Party</h2>
    <img src="/images/pages/details/box-evening-event.png" class="info-box__img" alt=""/>
    <div class="info-box__content-wrapper--left">
        <p>Enjoy a festive, private Block Party in the heart of Pointe Orlando on International Drive that includes live music, dancing, interactive entertainment and games, and southern food with an attitude.</p>
    </div>
    <a class="info-box__link" href="/agenda/evening-event/">Details</a>
</li>
