<li class="info-box info-box--event">
    <h2 class="info-box__title">Frequently Asked Questions</h2>
    <img src="/images/pages/details/box-faq.png" class="info-box__img" alt=""/>
    <div class="info-box__content-wrapper--left">
        <p>If you are attending CampusInsight for the first time, you may be wondering what to expect. Find the answers to help you get the most out of your experience at CampusInsight 2017.</p>
    </div>
    <a class="info-box__link" href="/agenda/faq/">Details</a>
</li>
