<li class="info-box info-box--pre-conference-training">
    <h2 class="info-box__title">Pre-Conference Training</h2>
    <img src="/images/pages/details/box-pre-conference-training.png" class="info-box__img" alt=""/>
    <div class="info-box__content-wrapper--left">
        <p>Take advantage of three days of pre-conference training to gain knowledge and skills you can apply right away back on campus.</p>
    </div>
    <a class="info-box__link" href="/pre-conference-training/">Details</a>
</li>
