<li class="info-box info-box--product-center">
    <h2 class="info-box__title">See How Institutions Deliver Higher Ed on Demand!</h2>
    <img src="/images/ui/box-product-center.png" class="info-box__img" alt="" />
    <div class="info-box__content-wrapper--left">
        <p>
            Mobile recruitment. Highly personalized engagement. Keeping students on the path to success. See
            real-world examples of how the CampusNexus Suite is driving results for today’s colleges and
            universities.
        </p>

        <p>
            Follow our prospective student, ANDY, as he progresses through the student lifecycle, from
            recruitment and admissions - and beyond.
        </p>
    </div>
    <a class="pill-button info-box__link" href="{{url-lang-prefix}}/product-center/">Enter Product Center</a>
</li>
