<li class="info-box info-box--register">
    <h2 class="info-box__title">Register Early and Save</h2>
    <img src="/images/pages/details/box-pricing.png" class="info-box__img" alt=""/>
    <div class="info-box__content-wrapper--left">
        <p>We invite everyone to join us for the latest innovations and training from Campus Management at CampusInsight 2017! Register early and save.</p>
    </div>
    <a class="info-box__link" href="https://s4.goeshow.com/campusmgmt/insight/2017/registration_form.cfm" target="_blank">Register Now</a>
</li>
