.cmc-article__intro-p {
    margin-bottom: 0;
}

hr {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
    border: 0;
    border-top: 1px solid $hr-border;
}

.comp-score-box {
    padding: rhythm(0.5) 0;
    text-align: center;
    box-shadow: 0 0 8px 4px rgba($theme-primary-dark, 0.37);
    margin-left: -82px;
    width: 150px;
    background-color: $font-color-icon;
}

.comp-score {
    @include adjust-font-size-to(65px, 2);
    font-weight: 400;
}

.comp-score-box__ile {
    @include adjust-font-size-to(10px, 1.25);
    border-bottom: 1px solid $hr-border;
}

.comp-score-box__label {
    @include adjust-font-size-to(12px);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.details-row {
    border-bottom: 1px solid $theme-tertiary;
    .col-xs-3 {
        padding: 0;
    }
}

.details-row__item {
    @include adjust-font-size-to(45px, 2);
    font-weight: 400;
    text-align: center;
    background-color: $theme-tertiary;
    color: $font-color-icon;
}

.details-row--alt__item {
    @include adjust-font-size-to(60px, 2);
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid $hr-border;
}

.score-box-label {
    @include adjust-font-size-to(14px, 1.25);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: $font-color-text-darkest;
}

.panel-title {
    font-weight: 400;
}

.session-detail__topics,
.session-detail__comments {
    .score-box-label {
        text-align: left;
        margin-left: $grid-gutter-width;
    }
}

.session-detail.panel {
    margin-bottom: rhythm(2);
}

.session-detail .panel-body {
    padding: $grid-gutter-width / 2;
}

.session-detail .table {
    margin-bottom: 0;
}

.session-detail .panel-heading {
    padding: $grid-gutter-width / 4;
}

.presented-by {
    margin-bottom: rhythm(0.5);
}

.table th {
    font-weight: 400;
}

.table td {
    font-weight: 300;
}

.react-bs-table {
    margin: 0;
    border-radius: 0;
    border-bottom-width: 0;
}

// scss-lint:disable SelectorDepth
.react-bs-table .table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}
// scss-lint:enable SelectorDepth

.eval-summary-table th {
    @include adjust-font-size-to(12px);
}
.eval-summary-table {
    margin-bottom: rhythm(1);
}
