@import 'cmc-site/app/styles/common-imports';
@import 'cmc-site/app/styles/components/event-schedule-table';

.event-schedule-table {
    margin-bottom: rhythm(1.5);
}

.event-schedule-table__day-heading {
    @include adjust-font-size-to(20px, 1);
    font-family: $font-family-secondary;
    letter-spacing: -0.5px;
    color: $theme-tertiary;
    margin: 0 0 rhythm(0.5);
}

.event-schedule-table__button-placeholder {
    min-height: 26px;
}

.event-schedule-table__remove-link {
    @include pill-button();
    @include adjust-font-size-to(14px);
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto 5px 0;
    display: inline-block;
}

// scss-lint:disable QualifyingElement

a.schedule-browse-link {
    @include pill-button();
    margin-bottom: rhythm(1.5);
}

// scss-lint:enable QualifyingElement

.event-schedule-table__button-list {
    li {
        display: inline-block;
    }
    li:not(:last-child) {
        margin-right: $grid-gutter-width / 2;
    }
}
