
.faq-question {
    @include adjust-font-size-to(16px, 1);
    font-family: $font-family-secondary;
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(18px, 1);
    }
    cursor: pointer;
    padding: rhythm(0.5) rhythm(2) rhythm(0.5) rhythm(0.5); // needs to be padding for animation
    position: relative;
    &:focus {
        outline: none;
    }
    &:nth-child(4n+1) {
        background-color: $left-nav-bg;
    }
    &:after {
        font-size: 25px;
        line-height: 0.9em;
        width: 1em;
        height: 1em;
        display: block;
        position: absolute;
        right: rhythm(0.5);
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-family: sans-serif;
        font-weight: 300;
        content: '+';
        background-color: $theme-tertiary;
        border-radius: 50%;
        margin-left: rhythm(1);
        color: $font-color-icon;
    }
    &.ui-state-active:after {
        content: '\2013';
        font-weight: 400;
    }
}

.faq-answer,
.passport-list__sponsor-info {
    display: none;
    padding: 0 rhythm(0.5) rhythm(0.5); // needs to be padding for animation
    &:nth-child(4n+2) {
        background-color: $left-nav-bg;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
