.passport-report {
    min-height: rhythm(10);
    position: relative;
}

.passport-list__sponsor-info {
    @include clearfix;
    clear: both;
}

.passport-report-item__profile {
    margin-bottom: rhythm(1);
}

.passport-report-item__profile,
.passport-report-item__provider-data {
    @include clearfix;
}

.passport-report-item__info-container,
.passport-report-item__codes {
    @include make-xs-column(12);
    @include make-sm-column(6);
    padding: 0 rhythm(1) rhythm(1);
    dt {
        font-weight: 400;
        float: left;
        clear: left;
        min-width: rhythm(5);
    }
    dd {
        float: left;
    }
}

.passport-list {
    margin-bottom: rhythm(1);
}

.passport-report-item__provider-data-photo {
    max-width: 250px;
}
