
.passport-list {
    clear: both;
}

.app--passport-program {
    min-height: rhythm(10);
}

.passport-list__sponsor-info .cmc-form {
    float: none;
    // use padding for proper height calc by jqueryUi
    padding-bottom: rhythm(1);
    margin: 0;
    label {
        @include adjust-leading-to(1.25);
        padding-left: 0;
    }
    .input-wrapper {
        padding-left: 0;
    }
    input {
        @include adjust-font-size-to(16px);
    }
}

.passport-list-item__status {
    display: inline-block;
}

.passport-list__sponsor-title {
    @include adjust-font-size-to(16px, 1);
    font-family: $font-family-secondary;
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(18px, 1);
    }
    cursor: pointer;
    padding: rhythm(0.5) rhythm(2) rhythm(0.5) rhythm(0.5); // needs to be padding for animation
    position: relative;
    &:focus {
        outline: none;
    }
    &:nth-child(4n+1) {
        background-color: $left-nav-bg;
    }
    &:after {
        font-size: 25px;
        line-height: 0.9em;
        width: 1em;
        height: 1em;
        display: block;
        position: absolute;
        right: rhythm(0.5);
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-family: sans-serif;
        font-weight: 300;
        content: '+';
        background-color: $theme-tertiary;
        border-radius: 50%;
        margin-left: rhythm(1);
        color: $font-color-icon;
    }
    &.ui-state-active:after {
        content: '\2013';
        font-weight: 400;
    }
}

.passport-list__sponsor-title--checked {
    &:after {
        // scss-lint:disable SpaceAroundOperator
        background-image: svg-load(
                'images/ui/checkmark.svg' fill=$theme-tertiary
        );
        // scss-lint:enable SpaceAroundOperator
        content: '';
        width: rhythm(1);
        height: rhythm(1);
        background-size: contain;
        border-radius: 0;
        background-color: transparent;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        display: inline-block;
        margin-left: $grid-gutter-width / 2;
        transform: none;
    }
    &.ui-state-active:after {
        content: '';
    }
}

.passport-list-item__input-error {
    @include adjust-leading-to(0.75);
    font-weight: 400;
    display: block;
    color: $font-color-error;
}

.passport-list__sponsor-info:empty {
    padding: 0;
}
