.schedule-report {
    position: relative;
}

.user-info,
.preconf-chart,
.session-chart,
.session-topic-chart,
.pct-topic-chart {
    margin-bottom: rhythm(2);
}

.session-topic-chart,
.pct-topic-chart {
    @include make-xs-column(12);
    @include clearfix;
    height: rhythm(10);
}

.preconf-chart {
    @include make-xs-column(12);
    @include clearfix;
    height: rhythm(22);
}

.session-chart {
    @include make-xs-column(12);
    @include clearfix;
    height: rhythm(57);
}

.user-info {
    @include make-xs-column(12);
    @include clearfix;
}

.active-user-chart {
    height: rhythm(20);
}
