.session-presentations {
    clear: both;
}

.session-presentations-download-list a {
    @include adjust-leading-to(0.75);
    display: inline-block;
}

.session-presentations-download-list li:not(:last-child) {
    margin-bottom: rhythm(0.5);
}

.session-presentations-download-list {
    margin-bottom: rhythm(1);
}

.track-diamond {
    display: block;
    float: none;
    margin: 0 auto rhythm(0.25);
    transform: translateX(-10px);
    @media (min-width: $screen-xs-land-min) {
        display: inline-block;
        margin: 0;
        float: right;
        transform: none;
    }
}
