.cmc-form {
    display: none;
}

// scss-lint:disable SelectorDepth
.cmc-form > fieldset > ul > li {
    margin-bottom: rhythm(1);
}

// scss-lint:enable SelectorDepth

.input-wrapper li {
    display: block;
    label {
        float: none;
        width: auto;
        @media (min-width: $screen-sm-min) {
            float: none;
            width: auto;
        }
    }
}

// scss-lint:disable SelectorDepth QualifyingElement
.cmc-form > fieldset > ul > li > label.long-label + .input-wrapper {
    margin-left: 0;
}

// scss-lint:enable SelectorDepth QualifyingElement

.loading--centered {
    position: relative;
    display: block;
    margin: 0 auto rhythm(1);
}
