.session-browser {
    position: relative;
    min-height: rhythm(15);
}

.session-browser__session,
.pct-browser__session {
    @include make-row(0);
    margin: rhythm(0.25) 0;
    padding-top: rhythm(0.25);
    padding-bottom: rhythm(0.25);
    &:nth-child(even) {
        background-color: $left-nav-bg;
    }
}

.session-browser__day-title,
.pct-browser__day-title {
    @include adjust-font-size-to(24px, 1.5);
    font-family: $font-family-secondary;
    color: $font-color-icon;
    background-color: $theme-tertiary-light;
    clear: both;
    font-weight: 400;
    margin: rhythm(0.25) 0 0;
    padding-left: rhythm(0.5);
}

.session-browser__session-title {
    @include adjust-font-size-to(24px, 1);
    font-family: $font-family-secondary;
    @include make-xs-column(12);
    @include make-sm-column(10);
    margin: rhythm(0.25) 0;
    color: $font-color-link;
}

.pct-browser__session-title {
    @include adjust-font-size-to(18px, 1);
    font-family: $font-family-secondary;
    @include make-xs-column(12);
    @include make-sm-column(10);
    margin: 0;
    span {
        color: $theme-tertiary;
    }
}

.session-browser__more-info-wrapper,
.pct-browser__more-info-wrapper {
    @include make-xs-column(12);
    @include make-sm-column(2);
    text-align: center;
    @media (min-width: $screen-sm-min) {
        text-align: right;
    }
}

.session-browser__label {
    font-weight: 400;
    display: inline-block;
    margin-right: rhythm(0.5);
    min-width: 80px;
    &:after {
        content: ': ';
    }
}

.pct-browser__label {
    font-weight: 400;
    display: inline-block;
    margin-right: rhythm(0.5);
    min-width: 45px;
    &:after {
        content: ': ';
    }
}

.pct-browser__related-courses,
.pct-browser__target-audience,
.pct-browser__prerequisites,
.pct-browser__objectives,
.pct-browser__description {
    margin-bottom: rhythm(1);
    .pct-browser__label {
        float: left;
    }
    li {
        list-style-type: disc;
    }
    p {
        .cmc-article & {
            margin-bottom: rhythm(0.5);
        }
        + ul {
            margin-top: - rhythm(0.5);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        margin-left: rhythm(1);
    }
}

.session-browser__presenters,
.session-browser__description {
    @include make-xs-column(12);
    margin-bottom: rhythm(0.5);
    p:last-child {
        margin-bottom: 0;
    }
}

.session-browser__start-time,
.session-browser__location,
.session-browser__user-type,
.session-browser__user-level {
    @include make-xs-column(12);
    @include make-sm-column(6);
}

.pct-browser__start-time,
.pct-browser__status,
.pct-browser__track,
.pct-browser__price,
.pct-browser__level,
.pct-browser__type,
.pct-browser__location,
.pct-browser__product {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    white-space: nowrap;
}

.pct-browser__description,
.pct-browser__objectives,
.pct-browser__target-audience,
.pct-browser__prerequisites,
.pct-browser__related-courses {
    @include make-xs-column(12);
}

.session-browser .horizontal-menu__wrapper {
    margin-bottom: 0;
}

.session-browser__session:last-child,
.pct-browser__session:last-child {
    margin-bottom: rhythm(1);
}

.session-browser__session-links {
    li {
        @include make-xs-column(12);
        @include make-sm-column(6);
        margin-bottom: rhythm(0.5);
    }
}

.pct-browser__session-links {
    @include make-sm-column(12);
}

.session-browser__session-eval-link-wrapper {
    margin: rhythm(0.5) 0;
}

// scss-lint:disable QualifyingElement

button.session-browser__session-add-link,
a.session-browser__session-add-link,
.pct-browser__session-details-button,
.session-browser__session-details-button,
a.pct-browser__session-add-link,
a.session-browser__session-eval-link {
    @include pill-button();
}

.pct-browser__session-details-button,
.session-browser__session-details-button {
    @include adjust-font-size-to(14px);
    padding-top: 0;
    padding-bottom: 0;
    margin: rhythm(0.5) 0;
    @media (min-width: $screen-sm-min) {
        margin: 0;
    }
}

// scss-lint:enable QualifyingElement

.pct-browser__session-details,
.session-browser__session-details {
    display: none;
    float: left;
    width: 100%;
}

.session-browser__presenter-list-bio {
    display: block;
    margin-bottom: rhythm(1);
    &:empty {
        display: none;
    }
}

.session-browser__presenter-name-title-wrapper {
    display: block;
    margin: 0;
}

.session-browser__presenter-name {
    font-weight: 400;
}

.session-browser__presenter-title {
    font-style: italic;
    &:not(:empty) {
        &:before {
            content: ', ';
        }
    }
}

.session-browser__presenter-institution {
    &:not(:empty) {
        &:before {
            content: ', ';
        }
    }
}

.session-browser__session-eval-complete {
    @include adjust-font-size-to(14px, 1);
    font-weight: 400;
    vertical-align: middle;
    &:after {
        // scss-lint:disable SpaceAroundOperator
        background-image: svg-load(
                'images/ui/checkmark.svg' fill=$theme-tertiary
        );
        // scss-lint:enable SpaceAroundOperator
        content: '';
        width: rhythm(1);
        height: rhythm(1);
        background-size: contain;
        display: inline-block;
        vertical-align: text-bottom;
        margin-left: $grid-gutter-width / 2;
    }
}
