.top-nav-menu .top-nav-menu__charm-button--account {
    &:after {
        // scss-lint:disable SpaceAroundOperator
        background-image: svg-load(
                'images/ui/account.svg' fill=$font-color-text-dark
        );
        width: 35px;
        height: 35px;
        // scss-lint:enable SpaceAroundOperator
    }
}

.cmc-form--login {
    width: auto;
    max-width: 350px;
    label {
        text-align: left;
    }
    @media (min-width: $screen-sm-min) {
        width: auto;
    }
    .input-note {
        @include make-xs-column(12);
        @include make-xs-land-column(8);
        @include make-xs-land-column-offset(4);
        text-align: left;
        margin-bottom: 0;
    }
}

.cmc-form.cmc-form--login {
    fieldset {
        label {
            @media (min-width: $screen-xs-land-min) {
                padding: 0;
            }
        }
    }
}

.account-modal {
    p {
        margin-bottom: rhythm(1);
    }
    .modal-title {
        margin-bottom: rhythm(0.5);
    }
    .modal-body {
        min-height: rhythm(5);
    }
    .signin-error {
        color: $font-color-error;
        &:empty {
            display: none;
        }
    }
    .loading--placeholder {
        display: none;
    }
    .cmc-article__link-list {
        .cmc-article__link {
            margin-left: auto;
            margin-right: auto;
            @media (min-width: $screen-xs-land-min) {
                margin-left: rhythm(0.5);
                margin-right: rhythm(0.5);
            }
        }
    }
}

@mixin create-authenticated-classes($year) {
    // scss-lint:disable QualifyingElement SelectorFormat IdSelector
    li.top-nav-menu__item--account--authenticated.auth-year-#{$year},
    .account-modal-body__authenticated.auth-year-#{$year} {
        display: none;
    }

    // scss-lint:enable QualifyingElement SelectorFormat IdSelector

    .top-nav-menu__item--account--unauthenticated.auth-year-#{$year},
    .account-modal-body__unauthenticated.auth-year-#{$year} {
        display: block;
    }

    .authenticated-#{$year} {
        // scss-lint:disable QualifyingElement SelectorFormat IdSelector
        li.top-nav-menu__item--account--authenticated.auth-year-#{$year},
        .account-modal-body__authenticated.auth-year-#{$year} {
            display: block;
        }
        li.top-nav-menu__item--account--unauthenticated.auth-year-#{$year},
        .account-modal-body__unauthenticated.auth-year-#{$year} {
            display: none;
        }
    }
}
@include create-authenticated-classes('2017');
@include create-authenticated-classes('2018');

#navMenuItem_myconference{
    display: none;
}

.navMenuItem_myconference--unauthenticated {
    display: block;
}

body[class^='authenticated-'], body[class*=' authenticated-']{
    #navMenuItem_myconference{
        display: block;
    }
    .navMenuItem_myconference--unauthenticated {
        display: none;
    }
}


.auth-loading {
    .account-modal-body__authenticated {
        display: none;
    }
    .account-modal-body__unauthenticated {
        display: none;
    }
    .top-nav-menu__item--account--unauthenticated {
        visibility: hidden;
    }
    .loading--placeholder {
        display: block;
    }
}

.choose-country-modal__choose-country-button--sign-out {
    border: 0;
    background: transparent;
}

.cmc-form__submit-button.cmc-form__submit-button--back {
    padding: 0.25rem rhythm(0.75) 0.25rem rhythm(1.25);
    float: left;
    &:after {
        transform: translateY(-50%) rotate(180deg);
        position: absolute;
        left: rhythm(0.5);
        right: auto;
    }
}

.cmc-form {
    label {
        @include make-xs-column(12);
        @include make-xs-land-column(4);
    }
    .validation-error {
        @include adjust-leading-to(0.75);
        display: block;
        text-align: left;
    }
    .form-group.required:after {
        content: none;
    }
}

.cmc-form__submit-button[disabled] {
    opacity: 0.5;
}

.cmc-form__submit-button--login {
    float: right;
}

.cmc-form__create-account-link {
    float: left;
}

.cmc-form [type=button].cmc-form__back-link,
.cmc-form [type=button].cmc-form__forgot-password-link {
    @include adjust-font-size-to(14px, 1);
    font-family: $font-family-primary;
    font-weight: 400;
    color: $font-color-link;
    text-decoration: underline;
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;
    &:after {
        content: none;
    }
    &:last-child {
        margin-right: 0;
    }
}

.cmc-form__submit-row--login {
    margin: rhythm(0.5) 0;
}

.schedule-conflict-modal {
    color: $font-color-text-darker;

    .modal-title {
        margin-bottom: 0;
    }
    .modal-body {
        text-align: left;
    }
    .schedule-conflict-modal__session-title {
        @include adjust-font-size-to(18px, 1);
        font-family: $font-family-secondary;
        color: $font-color-text-darkest;
    }
    .schedule-conflict-modal__session-time {
        display: block;
    }
    .schedule-conflict-modal__overlaps-list,
    .schedule-conflict-modal__session-wrapper {
        margin-bottom: rhythm(1);
    }
    .schedule-conflict-modal__overlaps-list {
        li:not(Llast-child) {
            margin-bottom: rhythm(0.5);
        }
    }
    .cmc-form__submit-row {
        @include clearfix;
    }
}

// scss-lint:disable QualifyingElement

button.schedule-conflict-modal__add-anyway-btn,
button.schedule-conflict-modal__replace-btn,
button.schedule-conflict-modal__cancel-btn {
    @include pill-button();
    float: none;
    margin: auto;
    display: block;

    @media (min-width: $screen-xs-min) {
        margin: 0;
        float: right;
    }
}

button.schedule-conflict-modal__cancel-btn {
    padding: 0.25rem rhythm(0.75) 0.25rem rhythm(1.25);
    margin-bottom: rhythm(1);
    @media (min-width: $screen-xs-min) {
        float: left;
        margin-bottom: 0;
    }
    &:after {
        transform: translateY(-50%) rotate(180deg);
        position: absolute;
        left: rhythm(0.5);
        right: auto;
    }
}

button.top-nav-menu__account-btn {
    @include adjust-font-size-to(16px, 1);
    cursor: pointer;
    font-weight: 400;
    background-color: $left-nav-bg-hover;
    color: $font-color-icon;
    text-decoration: none;
    display: inline-block;
    padding: 0.25rem rhythm(0.75);
    border-radius: rhythm(1);
    border: 0;
}

// scss-lint:enable QualifyingElement
