.sponsor-footer-wrapper {
    @extend %content-wrapper;
    padding: 0;
}

.sponsor-footer {
    h3 {
        @include adjust-font-size-to(32px, 1.5);
        font-family: $font-family-secondary;
        text-transform: uppercase;
        padding-left: rhythm(0.5);
        margin-bottom: rhythm(0.5);
        margin-top: rhythm(1);
    }
    h4 {
        @include adjust-font-size-to(20px, 1.25);
        font-family: $font-family-secondary;
        padding-left: rhythm(0.3);
        color: $theme-tertiary;
        background-color: $left-nav-bg;
        text-transform: uppercase;
        margin-bottom: rhythm(0.5);
    }
    ul {
        @include adjust-font-size-to(16px, 0.75);
        font-family: $font-family-secondary;
        color: $video-orig-air-date;
        padding-left: rhythm(0.3);
        a, a:link, a:hover, a:active, a:visited {
            color: $video-orig-air-date;
            text-decoration: none;
        }
        li {
            margin-bottom: rhythm(0.5);
        }
    }
}

.sponsors-footer__diamond,
.sponsors-footer__platinum,
.sponsors-footer__gold,
.sponsors-footer__silver {
    @include make-xs-column(12, 20px);
    @include make-sm-column(4, 20px);
    @include make-md-column(2, 20px);
    margin-bottom: rhythm(1);
}

.sponsors-footer__bronze {
    @include make-xs-column(12, 20px);
    @include make-md-column(6, 20px);
    margin-bottom: rhythm(1);
    li {
        @media (min-width: $screen-sm-min) {
            width: 33%;
            float: left;
        }
    }
}
