.support-consultations-report {
}

.easybooked-chart,
.day-chart {
    @include make-xs-column(12);
    @include make-sm-column(6);
    height: rhythm(10);
}

.time-chart,
.topics-chart {
    @include make-xs-column(12);
    @include clearfix;
    height: rhythm(10);
}

.analysts-chart {
    @include make-xs-column(12);
    @include clearfix;
    height: rhythm(20);
}

.time-chart,
.analysts-chart {
    margin-bottom: rhythm(2);
}
