---
# <!-- @formatter:off -->
title: Pre-Conference Training
banner-image: /images/pages/details/box-pre-conference-training.png
additional-scripts:
  - src: /scripts/page--pct.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/sessions.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p class="cmc-article__intro-p">
        Get Inside the Latest Features of the CampusNexus Suite
    </p>
    <p>
        With hands on training sessions offered in a variety of half-day and full-day formats, there is sure to be
        something to suit your schedule. Some sessions even include workshop capabilities where, with the right access,
        you can learn while working in your own institution's environment.
    </p>

    <p><a href="https://s3.amazonaws.com/cmcv3-general--ci/2017/2017-Pre-conference-Training-Schedule.pdf" target="_blank">Pre-conference Training Schedule</a></p>

    <p class="cmc-article__intro-p">Please Note: "Add to Schedule" does not register you for training. You must select "Register" to attend Pre-conference Training.</p>

    <section
        class="session-browser"
        id="PctMountPoint"
        data-year="2018"
    >
        <div class="loading--placeholder">Loading...</div>
    </section>

</div>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>

<div class="modal schedule-warning-modal" id="WarningModal" tabindex="-1" role="dialog"
     aria-labelledby="ScheduleWarningModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ScheduleWarningModalLabel">Schedule Notice</h4>
            </div>
            <div class="modal-body schedule-warning-modal__modal-body">
                <p class="">
                    Please Note: "Add to Schedule" does not register you for training. You must select "Register" to attend Pre-conference Training.
                </p>
                <button
                    type="button"
                    class="schedule-warning-modal__continue-btn cmc-article__link">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
