---
# <!-- @formatter:off -->
title: Excellence Awards
label: '2017 Excellence Awards'
banner-image: /images/pages/global/banner-trophy.jpg
publish: draft
additional-scripts:
  - src: /scripts/page--jwplayer.js
    inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Campus Management Excellence Awards</p>

    <p class="cmc-article__intro-p">Applications for nomination will be available starting October 2, 2017.</p>

    <h2 class="secondary-header--alt">What are the Campus Management Excellence Awards?</h2>

    <p>Each year at the CampusInsight Annual Users Conference, Campus Management presents Excellence Awards to client institutions that have achieved outstanding results in utilizing CampusNexus solutions to transform academic delivery, student success and operational efficiency.</p>

    <p>We invite you to share your success story, to be recognized for your excellence, and to share the spotlight with us at CampusInsight 2018 by applying for the award in one of the three categories:</p>

   	<ul class="list--normal list--has-lead-in">
    	<li>Excellence in Student Success</li>
        <li>Excellence in Operational Efficiency</li>
        <li>Excellence in Vision &amp; Innovation</li>
    </ul>


</article>
{{/content}}


{{#content "after-body"}}

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="layout__row">
                <div class="layout__column">
                    <div class="header-with-video">
                        <div class="header-with-video__video">
                            <div class="jwVideoPlayer" id="jwVideoPlayer--2016">
                                <div class="loading--placeholder">Loading...</div>
                            </div>
                        </div>
                        <ul class="video-link-list video-link-list--2016 is-hidden">
                            <li>
                                <button>
                                    <span class="video-url priority--0 type--flash label--low">rtmp://ds8xcy.cloud.influxis.com/vod/_definst_/mp4:ManagedContent/CampusInsight-Kate-T-Penn-State-U_h264_512k_360p_aac_96k.mp4</span>
                                    <span class="video-url priority--1 type--flash label--medium">rtmp://ds8xcy.cloud.influxis.com/vod/_definst_/mp4:ManagedContent/CampusInsight-Kate-T-Penn-State-U_h264_1000k_480p_aac_96k.mp4</span>
                                    <span class="video-url priority--2 type--flash label--high">rtmp://ds8xcy.cloud.influxis.com/vod/_definst_/mp4:ManagedContent/CampusInsight-Kate-T-Penn-State-U_h264_2000k_720p_aac_96k.mp4</span>

                                    <span class="video-url priority--0 type--html label--low">https://ds8xcy.cloud.influxis.com/ManagedContent/CampusInsight-Kate-T-Penn-State-U_h264_512k_360p_aac_96k.mp4</span>
                                    <span class="video-url priority--1 type--html label--medium">https://ds8xcy.cloud.influxis.com/ManagedContent/CampusInsight-Kate-T-Penn-State-U_h264_1000k_480p_aac_96k.mp4</span>
                                    <span class="video-url priority--2 type--html label--high">https://ds8xcy.cloud.influxis.com/ManagedContent/CampusInsight-Kate-T-Penn-State-U_h264_2000k_720p_aac_96k.mp4</span>

                                    <span class="title">Kate Tornatore - The Pennsylvania State University</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="layout__column">
                    <div class="info-box__title" style="text-align: left">CampusInsight Users Conference</div>
                    <div class="info-box__content-wrapper--left">
                        <p><strong>Kate Tornatore</strong>, <em>CRM Project Manager</em>, The Pennsylvania State University</p>
                        <p>Penn State’s Kate Tornatore talks about the collaborative experience at CampusInsight and the opportunity to gain expertise and best practices.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">Guidelines</h2>

                    <p>The Campus Management Excellence Awards nominations are open to all institutions and organizations utilizing Campus Management solutions. Any Campus Management product or professional service offering may have been used in any office across campus. Multiple submissions for an institution may be submitted for consideration. The following criteria are required for submission:</p>

                    <ul class="list--normal list--has-lead-in">
                        <li>Nominations must be submitted online or by printing and submitting the completed form to your Customer Enablement Manager by midnight Wednesday, February 7, 2018.
                        </li>
                        <li>Nominee institutions must be current on their CampusCare agreements.</li>
                        <li>By submitting a nomination, your institution and project team agree to be featured in related Campus Management promotional and marketing materials.
                        </li>
                    </ul>

                    <p>Campus Management Excellence Awards winners will be announced during the 2018 CampusInsight Conference general session on Wednesday, April 1.</p>

                </section>

            </div>
        </div>
    </div>
</div>


<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">Excellence Awards Categories</h2>

                    <ul class="award-categories-list">
                        <li>
                            <h3>Excellence in Student Success</h3>
                            <p>Institution demonstrates innovations or improvements through the use Campus Management solutions or services that directly result in an improved constituent experience and student success. Examples include an increase in recruitment results, decrease in attrition, increase in engagement and retention, increase in student financial responsibility, increase in career placement, or other indicators of student success.</p>
                        </li>
                        <li>
                            <h3>Excellence in Operational Efficiency</h3>
                            <p>Institution demonstrates excellence via business process improvements and/or decreased operational expenses in the areas of employee service, administration, or infrastructure. Examples include increased efficiencies, reduced costs, or enhanced performance at the institution, gained through the use of Campus Management solutions or services.</p>
                        </li>
                        <li>
                            <h3>Excellence in Vision &amp; Innovation</h3>
                            <p>Institution demonstrates excellence in technological innovation and use of Campus Management solutions or services, serving as a catalyst to meet or exceed an institutional goal and positively affect the campus community. Examples include innovation in academic delivery, student or faculty/staff engagement methodologies, mobile technologies, data analytics, cloud, web services, and more.</p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">Winner Benefits</h2>

                    <ul class="list--normal">
                    	<li><strong>Awards Presentation</strong><br />
                        Each winner will receive an award during the general session at CampusInsight 2018. This includes a 90 second success story video illustrating why your application excelled in student success, operational efficiency or vision &amp; innovation.</li>
                        <li><strong>Dedicated blog post</strong></li>
                        <li><strong>A Complimentary all-access registration to CampusInsight 2019</strong></li>
                        <li><strong>A webinar presentation after CampusInsight</strong></li>
                        <li><strong>A formal press release announcing all winners to higher education media outlets</strong></li>
                        <li><strong>An engraved award</strong></li>
                        <li><strong>An official “Campus Management Excellence Award Winner” badge graphic to add to your institution website, email address signature, etc.</strong></li>
                 	</ul>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">Insider Tips Webinar</h2>
                            <h2 class="secondary-header--alt">Want to learn more? Register now for the Campus Management Excellence Awards Insider Tips Webinar</h2>
                            <p>Join Karli Grant, Director, Product Marketing to hear tips on how you can submit a winning Campus Management Excellence Award nomination for your institution. Join us for a webinar on December  5, 2017 at 2:00 PM EST/ 11 AM PT.</p>

                            <ul class="cmc-article__link-list cmc-article__link-list--centered">
                            	<li class="cmc-article__link-list-item">
                                	<a class="cmc-article__link" href="https://attendee.gotowebinar.com/register/6056432587105486593" target="_blank" style="color: #FFFFFF">Register Now</a>
                              	</li>
                         	</ul>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">Nomination Process</h2>

                    <p>Your institution may submit a nomination or multiple nominations, or be nominated by your Customer Enablement Manager, or a Support Analyst, Professional Services Implementation Consultant, or Product Manager at Campus Management.</p>

                    <p>Nominations must be submitted by midnight Wednesday, February 7, 2018. Winners will be announced during the general session at CampusInsight 2018.</p>

                    <p>For questions regarding the Campus Management Excellence Awards program, please contact:</p>

                    <div class="press-release__contact">
                        Karli A. Grant, Director, Product Marketing<br />
                        Campus Management Corp<br />
                        (561) 999-3592<br />
                        kgrant@campusmgmt.com
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
