---
# <!-- @formatter:off -->
title: Dev
show-in-left-nav: false
menu-priority: 0
layout: support-consultations-grid.hbs
additional-scripts:
  - src: /scripts/page--social-media-kiosk.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/social-media-kiosk.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div id="fb-root"></div>
<div class="layout__bg--top">
    <div class="left-nav-menu__layout-container">
        <div id="mainNav"></div>
    </div>
</div>

<div class="twitter-wrapper">
    <h1>Twitter</h1>
    <!-- https://dev.twitter.com/web/embedded-timelines/parameters -->
    <a
        class="twitter-timeline"
        data-height="100%"
        data-chrome="noscrollbar nofooter"
        href="https://twitter.com/hashtag/CampusInsight2017"
        data-widget-id="846436726700589056">
        #CampusInsight2017 Tweets
    </a>
</div>

<div class="facebook-wrapper">
    <!-- https://developers.facebook.com/docs/plugins/page-plugin -->
    <script type="text/x-handlebars-template" id="facebookTemplate">
        <h1>Facebook</h1>
        <div
            class="fb-page"
            data-href="https://www.facebook.com/Campus-Management-Corp-307093670261"
            data-small-header="true"
            data-adapt-container-width="true"
            data-hide-cover="true"
            data-show-facepile="false"
            data-show-posts="true"
            data-width="<%= data.width %>"
            data-height="<%= data.height %>">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/facebook">
                    <a href="https://www.facebook.com/facebook">Facebook</a>
                </blockquote>
            </div>
        </div>
    </script>
</div>

<div class="carousel-wrapper">
    <h1>CampusInsight Events</h1>
    <section
        id="social-media-page-carousel"
        class="social-media-page-carousel">

        <div class="item">
            <img
                class="home-page-carousel__img"
                alt=""
                src="/images/pages/social-media-kiosk/pannel-discussion.png" />
        </div>

        <div class="item">
            <img
                class="home-page-carousel__img"
                alt=""
                src="/images/pages/social-media-kiosk/block-party.png" />
        </div>

        <div class="item active">
            <img
                class="home-page-carousel__img"
                alt=""
                src="/images/pages/social-media-kiosk/BoF-friday.png" />
        </div>
        <div class="item">
            <img
                class="home-page-carousel__img"
                alt=""
                src="/images/pages/social-media-kiosk/BoF-thursday.png" />
        </div>
        <div class="item">
            <img
                class="home-page-carousel__img"
                alt=""
                src="/images/pages/social-media-kiosk/conference-schedule.png" />
        </div>
        <div class="item">
            <img
                class="home-page-carousel__img"
                alt=""
                src="/images/pages/social-media-kiosk/find-post-win.png" />
        </div>
        <div class="item">
            <img
                class="home-page-carousel__img"
                alt=""
                src="/images/pages/social-media-kiosk/passport.png" />
        </div>

    </section>

</div>

{{/content}}
{{/extend}}


