@import 'cmc-site/app/styles/common-imports';
@import '../base/variables';

.current-sponsors__level-heading {
    @include adjust-font-size-to(24px, 1.5);
    font-family: $font-family-secondary;
    max-width: 998px;
    text-align: center;
    color: $font-color-icon;
    background-color: $theme-tertiary-light;
    clear: both;
    font-weight: 400;
    margin: rhythm(0.25) auto;
    padding-left: rhythm(0.5);
}
