@import 'cmc-site/app/styles/common-imports';
@import '../base/variables';

.cmc-form fieldset:nth-child(1) {
    margin-bottom: rhythm(1);
}

.cmc-form p:not([class]) {
    margin: 0;
}

.cmc-form legend {
    font-weight: 400;
}

// scss-lint:disable SelectorDepth
.cmc-form > fieldset:nth-child(3) > ul > li > label,
.cmc-form > fieldset:nth-child(4) > ul > li > label {
    width: auto;
    float: none;
}

// scss-lint:enable SelectorDepth

// scss-lint:disable QualifyingElement
label.long-label {
    @include make-xs-land-column(12);
    + .input-wrapper {
        @include make-xs-land-column-offset(4);
    }
}

// scss-lint:disable QualifyingElement

.cmc-form ul ul li {
    padding-left: $grid-gutter-width;
}

// scss-lint:disable QualifyingElement
.cmc-form input[type=checkbox] {
    margin-right: rhythm(0.4);
}

// scss-lint:disable QualifyingElement
.cmc-form label {
    clear: left;
}

.golf-form {
    display: none;
}
