@import 'cmc-site/app/styles/common-imports';
@import '../base/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/carousel';
@import 'cmc-site/app/styles/components/home-page-carousel';
@import '../insight-override';

.layout__bg--events {
    background: transparent;
}

.home-page-events {
    padding-top: rhythm(1);
}
