@import 'cmc-site/app/styles/common-imports';
@import '../base/variables';

.cmc-form {
    fieldset {
        margin-bottom: rhythm(1);
    }
    > fieldset > legend {
        @include adjust-font-size-to(16px);
    }

    li {
        @include make-row(0);
    }

    > fieldset > ul > li {
        margin: 0;
    }

    legend {
        font-weight: 400;
        padding: 0;
    }

    label {
        @include make-xs-column(12);
        @include make-xs-land-column(4);
    }

    .list--normal {
        li:before {
            content: '';
            display: none;
        }
        li {
            margin: 0;
        }
    }

    .long-label {
        @include make-xs-land-column(12);
        + .input-wrapper {
            @include make-xs-land-column-offset(4);
        }
    }

}

.departments-checkbox-group,
.user-types-checkbox-level,
.requested-equipment-group,
.user-types-checkbox-group {
    label {
        @include make-xs-column(12);
    }
}

.project-info {
    label {
        @include make-xs-column(12);

    }
    .input-wrapper {
        @include make-xs-land-column(12);
        margin-bottom: rhythm(1);
    }
    ol {
        counter-reset: section;
        li {

            counter-increment: section;
        }
        label:before {
            content: counter(section) '. ';
        }
    }
}

.award-category-radio-group {
    label {
        font-weight: 400;
        display: inline-block;
        width: auto;
        padding-right: 5px;
        clear: left;
    }
    p {
        margin-left: rhythm(1.5);
        .cmc-article & {
            margin-bottom: 0;
            padding-bottom: rhythm(0.5); // needs to be paddign for animation
            clear: both;
        }
    }
}

.cmc-form--become-a-sponsor .input-note,
.booth-select-info {
    padding: 0 $grid-gutter-width / 2;
    margin-bottom: rhythm(0.5);
}

.cmc-form--become-a-sponsor {
    @include make-sm-column(8, 0);
    @include make-sm-column-offset(2);
}

.award-category__more-info-icon {
    // scss-lint:disable SpaceAroundOperator
    background-image: svg-load(
            'images/ui/info-i.svg' fill=$font-color-text-dark
    );
    // scss-lint:enable SpaceAroundOperator
    cursor: pointer;
    float: left;
    text-indent: 1rem;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    margin-top: 0.25rem;
    width: 1rem;
    height: 1rem;
    background-size: contain;
}

.award-category__more-info {
    display: none;
}
