    @import 'cmc-site/app/styles/common-imports';
@import '../base/variables';
@import '../components/faq-list';
@import '../components/passport-list';

.cmc-form--passport-registration-form {
    @include clearfix;
}

.profile-view-list {
    @include clearfix;
    dt {
        font-weight: 400;
        float: left;
        clear: left;
        min-width: 100px;
    }
    dd {
        font-weight: 300;
        float: left;
    }
}

.passport__profile-view {
    margin-bottom: rhythm(1);
}

.passport__profile-view__edit-btn {
    @include adjust-font-size-to(14px, 1);
    font-weight: 400;
    border: 0;
    background: transparent;
    color: $font-color-link;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.cmc-form--passport-registration-form {
    label {
        @include adjust-leading-to(1.25);
    }
    .input-wrapper {
    }
    input {
        @include adjust-font-size-to(16px);
        margin-bottom: rhythm(0.5);
    }
}
