@import 'cmc-site/app/styles/common-imports';
@import '../base/variables';

.cmc-form .input-note {
    @include adjust-leading-to(1);
}

.round-table-form__topics-list {
    display: block;
    clear: both;
    margin-bottom: rhythm(1);

    li {
        margin-left: rhythm(1);
        padding-left: $grid-gutter-width / 2;
    }

    label {
        display: block;
        clear: both;
        float: none;
        width: auto;
        margin-left: rhythm(1);
        padding-left: 0;
    }
}
