@import 'cmc-site/app/styles/common-imports';
@import '../base/variables';
@import '../components/event-schedule-table';

.schedule {
    position: relative;
    min-height: rhythm(10);

    .event-schedule-table__day-heading {
        position: relative;
        clear: both;
        cursor: pointer;
        color: $font-color-icon;
        background-color: $theme-tertiary;
        padding: rhythm(0.25);
        margin-bottom: 2px;
        &:after {
            font-size: 25px;
            line-height: 0.9em;
            width: 1em;
            height: 1em;
            display: block;
            position: absolute;
            right: rhythm(0.5);
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            font-family: sans-serif;
            font-weight: 300;
            content: '+';
            background-color: $font-color-icon;
            border-radius: 50%;
            margin-left: rhythm(1);
            color: $theme-tertiary;
        }
        &.show:after {
            content: '-';
            font-weight: 400;
        }
    }
}

// scss-lint:disable QualifyingElement

a.session-browser__session-eval-link {
    @include pill-button();
    @include adjust-font-size-to(14px);
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    display: inline-block;
}

// scss-lint:enable QualifyingElement

.session-browser__session-eval-complete {
    @include adjust-font-size-to(12px, 0.5);
    font-weight: 400;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 7px;
    &:after {
        // scss-lint:disable SpaceAroundOperator
        background-image: svg-load(
                'images/ui/checkmark.svg' fill=$theme-tertiary
        );
        // scss-lint:enable SpaceAroundOperator
        content: '';
        width: 1.5em;
        height: 1.5em;
        background-size: contain;
        display: inline-block;
        vertical-align: text-bottom;
        margin-left: 5px;
    }
}

.event-schedule-table--schedule {
    margin-bottom: rhythm(1);

    th, td {
        vertical-align: middle;
    }

    tbody td:before {
        background-color: $left-nav-bg;
    }
    tr:nth-child(even) {
        background-color: transparent;
        @media (min-width: $screen-xs-land-min) {
            background-color: $left-nav-bg;
        }
    }

    th:nth-child(1) {
        @media (min-width: $screen-xs-land-min) {
            width: 145px;
        }
    }
    td:nth-child(1) {
        &:before {
            content: 'Time';
        }
    }

    td:nth-child(2):before {
        content: 'Event';
    }

    th:nth-child(3) {
        @media (min-width: $screen-xs-land-min) {
            width: 100px;
        }
    }
    td:nth-child(3) {
        &:before {
            content: 'Location';
        }
    }

    th:nth-child(4) {
        @media (min-width: $screen-xs-land-min) {
            width: 130px;
        }
        @media (min-width: $screen-md-min) {
            width: 250px;
        }
    }
    td:nth-child(4) {
        &:before {
            content: '\00a0';
        }
    }
}
