@import 'cmc-site/app/styles/common-imports';
@import '../base/variables';
// scss-lint:disable ImportPath
@import 'slick-carousel/slick/slick.scss';
// scss-lint:enable ImportPath

html, body, .layout__bg--main, main {
    height: 100%;
}

h1 {
    @include adjust-font-size-to(24px, 2);
    font-family: $font-family-secondary;
    background-color: $theme-primary-dark;
    color: $font-color-icon;
}

.facebook-wrapper h1 {
    background-color: $theme-primary;
}

main {
    font-size: 0;
}

.twitter-wrapper,
.facebook-wrapper,
.carousel-wrapper,
.instapaper-wrapper {
    height: 100%;
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
}

// scss-lint:disable SelectorFormat
.fb_iframe_widget iframe {
    margin: auto;
}

// scss-lint:enable SelectorFormat

.instapaper-wrapper {
    text-align: center;
}

.carousel-wrapper {
    background-color: $theme-tertiary;
}

.social-media-page-carousel .item {
    margin: 0;
    img {
        margin: auto;
        max-width: 100%;
    }
}

.slick-slider, .slick-list, .slick-track {
    height: 100%;
}
