@import 'cmc-site/app/styles/common-imports';
@import '../components/event-schedule-table';

.cmc-form--registration-form {
    .cmc-article__link--reversed {
        float: left;
        margin-left: $grid-gutter-width / 2;
    }
}

.support-consultations {

}

.select-analyst-list {
    @include clearfix;
    margin-bottom: rhythm(1);
}

.select-analyst-list-item {
    @include make-xs-column(12);
    @include make-xs-land-column(6);
    @include make-sm-column(4);
    @include make-md-column(3);
    @include make-lg-column(3);
    margin-bottom: rhythm(1);
    text-align: center;
}

.select-analyst-list-item__name {
    @include adjust-font-size-to(14px, 1);
    color: $font-color-text-dark;
    font-weight: 300;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid $border-color;
    padding: 0 rhythm(1);
}

.select-analyst-list-item__topic {
    @include adjust-font-size-to(18px, 1);
    font-weight: 400;
    color: $theme-primary-dark;
    display: block;
}

.support-consultations__select-analyst .cmc-article__link {
    clear: both;
}

.select-analyst-button {
    cursor: pointer;
    background: transparent;
    border: 0;
    width: 100%;
    min-height: rhythm(3.5);
    white-space: nowrap;
    padding: 0;
    &:hover {
        background-color: $left-nav-bg;
    }
}

.support-consultations__select-analyst__days-container {
    @include make-row();
    margin-bottom: rhythm(1);
}

.support-consultations__select-analyst__day {
    @include make-xs-column(12);
    @include make-sm-column(6);
}

.support-consultations__select-analyst__day-title {
    @include adjust-font-size-to(24px, 1.5);
    font-family: $font-family-secondary;
    color: $font-color-icon;
    background-color: $theme-tertiary-light;
    clear: both;
    font-weight: 400;
    margin: rhythm(0.25) 0 0;
    padding-left: rhythm(0.5);
}

.support-consultations__select-analyst__select-slot-button {
    @include pill-button();
    @include adjust-font-size-to(14px);
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    position: absolute;
    left: rhythm(6.25);
}

.support-consultations__select-analyst__day-list-item {
    padding: rhythm(0.5) 0 rhythm(0.5) rhythm(0.5);
    position: relative;
}

.support-consultations__conflict-tooltip {
    &.support-consultations__conflict-tooltip.type-dark {
        //specificity
        padding: rhythm(0.25) rhythm(0.5);
        background-color: $box-bg-grey;
        color: $font-color-text-dark;
        border-radius: 6px;
        &.place-top:after {
            border-top-color: $box-bg-grey;
        }
    }
    p:not([class]) {
        margin: 0;
        font-weight: 400;
    }
    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
}

.support-consultations__conflict-warning-trigger {
    // scss-lint:disable SpaceAroundOperator
    background-image: svg-load(
            'images/ui/info-i.svg' fill=$font-color-text-dark
    );
    // scss-lint:enable SpaceAroundOperator
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-indent: 1rem;
    overflow: hidden;
    vertical-align: middle;
    display: block;
    margin: 0;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    position: absolute;
    left: rhythm(5.25);
    top: rhythm(0.7);
}

.profile-view-list {
    @include clearfix;
    margin-bottom: rhythm(1);
    dt {
        font-weight: 400;
        float: left;
        clear: left;
        min-width: 100px;
    }
    dd {
        font-weight: 300;
        float: left;
    }
}

.support-consultations__scheduled-appointments {
    @include clearfix;
    margin-bottom: rhythm(1);
}
