<!doctype html>
<html lang="{{safeValue language 'en-us'}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{#if private}}
        <meta name="robots" content="noindex, nofollow">
    {{/if}}

    <title>{{title}}</title>

    {{#isnt baseHref undefined}}
        {{#eq NODE_ENV 'production'}}
            <base href="{{baseHref}}" />
        {{/eq}}
    {{/isnt}}

    {{#eq NODE_ENV 'production'}}
        {{>scripts-preload}}

        <link rel="stylesheet" href="/styles/critical.css" inline>
        <link rel="stylesheet" href="/styles/main.css" media="print" onload="this.media='all'">
        <noscript>
            <link rel="stylesheet" href="/styles/main.css">
        </noscript>
    {{else}}
        <link rel="stylesheet" href="/styles/crit-forced.css">
        <link rel="stylesheet" href="/styles/main.css">
    {{/eq}}
    <link rel="canonical" href="{{@root.config.domains.cmc}}/{{trailingSlash path}}" />
    <link rel="stylesheet" href="/styles/insight-override-critical.css" inline>
    {{> additional-stylesheets}}

    <!--<link rel="stylesheet" href="https://basehold.it/26/ff0000">-->
    <!--<link rel="stylesheet" href="/styles/vendor/baseholdit-26-ff0000.css">-->

    <!--[if IE 9]>
    <script>__isIe9 = true;</script>
    <![endif]-->
    <script>
        // window._i18n = {};
        // window._i18n.locale = 'fr';
    </script>

    <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="48x48" href="/images/favicon/apple-touch-icon-48x48.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/favicon/apple-touch-icon-57-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/images/favicon/apple-touch-icon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon/apple-touch-icon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="CampusInsight 2017" />
    <meta name="apple-mobile-web-app-title" content="CampusInsight 2017">

    {{#if meta-keywords}}
        <meta name="keywords" content="{{meta-keywords}}" />
    {{/if}}

    {{#if meta-description}}
        <meta name="description" content="{{meta-description}}" />
        <meta property="og:description" content="{{meta-description}}" />
    {{/if}}

    {{#if fb-image}}
    {{! set by og-image || banner-image || config.facebook.fbDefaultImg}}
        <meta property="og:image" content="{{@root.config.domains.cmc}}{{fb-image}}" />
        <meta property="og:image:width" content="{{fb-image-width}}" />
        <meta property="og:image:height" content="{{fb-image-height}}" />
    {{/if}}

    <meta property="fb:app_id" content="{{@root.config.facebook.fpAppId}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:site_name" content="{{@root.config.facebook.fbSiteName}}" />
    <meta property="og:type" content="{{og-type}}" />
    <meta property="og:url" content="{{@root.config.domains.cmc}}/{{path}}/" />

    <!--
    <PageMap>
    {{#if google-image}}
    {{! set by google-image[url or 'disabled'] || banner-image || disabled}}
        {{#isnt google-image 'disabled'}}
            <DataObject type="thumbnail">
                <Attribute name="src" value="{{@root.config.domains.cmc}}{{google-image}}"/>
                <Attribute name="width" value="{{google-image-width}}"/>
                <Attribute name="height" value="{{google-image-height}}"/>
            </DataObject>
        {{else}}
            <DataObject type="thumbnail" />
        {{/isnt}}
    {{/if}}
    </PageMap>
    -->
</head>

<body class="{{pageCssClass}} auth-loading">
<a name="page-top"></a>
<div id="fb-root"></div>
<!--[if lte IE 9]>
<p>This site requires IE10 or above. <a href="http://outdatedbrowser.com/">Click here to upgrade</a></p>
<![endif]-->


<script type="text/template" id="subSubMenu_twitter_template">
    <div id="subSubMenu_twitter">
        <div class="loading loading--submenu">Loading...</div>
        <a class="twitter-timeline" width="100%" height="450" href="https://twitter.com/CampusMgmt"
           data-widget-id="264605874671190016">Tweets by @CampusMgmt</a>
    </div>
</script>
<script type="text/template" id="subSubMenu_facebook_template">
    <div id="subSubMenu_facebook">
        <div class="plugin-target">
            <div class="loading loading--submenu">Loading...</div>
        </div>
    </div>
</script>

<div class="layout__bg--top" style="position: absolute; top: 0; left: 0; right: 0;">
        {{>main-nav}}
</div>

<div class="layout-bg--social-media-share">
        {{> social-media-share-plugins-list}}
</div>

{{{contents}}}

{{> product-tool-tips}}
<!--{ { >  sponsor-footer } } -->

<div class="layout__bg--footer footer-section">
        {{> footer}}
</div>

<!-- Modal -->

<div class="modal search-modal" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="SearchModalLabel">Search this Site</h4>
            </div>
            <div class="modal-body">
                <form action="/search/" method="get" class="search-form">
                    <label for="search">Search</label>
                    <input type="text" name="q" id="search" placeholder="Search" />
                    <input type="submit" class="search-form__search-btn" value="Search" />
                </form>
            </div>
        </div>
    </div>
</div>
{{>login-modal-2017}}
{{>login-modal-2018}}
<div class="modal schedule-conflict-modal" id="ConfirmModal" tabindex="-1" role="dialog"
     aria-labelledby="ScheduleConflictModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ScheduleConflictModalLabel">Schedule Conflict</h4>
            </div>
            <div class="modal-body">
                <div id="ScheduleConflictMountPoint"></div>
            </div>
        </div>
    </div>
</div>
{{#isnt NODE_ENV 'production'}}
    <script src="/dll.bundle.js"></script>
{{/isnt}}

{{>scripts}}
</body>
</html>
