<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/critical.css" inline>
    {{#eq NODE_ENV 'production'}}
        <link rel="preload" href="/styles/main.css" as="style" onload="this.rel='stylesheet'">
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald" as="style"
              onload="this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/styles/main.css">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald' rel='stylesheet'
                  type='text/css'>
        </noscript>
    {{else}}
        <link rel="stylesheet" href="/styles/main.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald' rel='stylesheet'
              type='text/css'>
    {{/eq}}
    <script src="/scripts/font-css-boot.js" inline></script>
    <link rel="stylesheet" href="/styles/insight-override-critical.css" inline>

    {{> additional-stylesheets}}
</head>
<body>
{{{contents}}}
{{>login-modal-2017}}
{{#isnt NODE_ENV 'production'}}
    <script src="/dll.bundle.js"></script>
{{/isnt}}
<script src="/scripts/cmc-site.js" defer></script>
{{>additional-scripts}}
</body>
</html>
