---
# <!-- @formatter:off -->
title: Sponsorship Opportunities at CampusInsight 2017
label: Become a Sponsor
banner-image: /images/pages/global/banner-ci2017-logo.png
publish: draft
show-in-left-nav: false
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--become-a-sponsor.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
  - href: /styles/pages/nomination-form.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />
    <h1 class="cmc-article__title">{{label}}</h1>
    <p class="cmc-article__subtitle">{{title}}</p>

    <p>
        All sponsorship levels include the following benefits in addition to sponsorship-specific benefits:
    </p>


    <form
        id="requestDemoForm"
        class="cmc-form cmc-form--centered js--simple-form cmc-form--become-a-sponsor"
        action="ci-become-a-sponsor/?site=ci&group=en-us"
        data-lead-source="convert-to-campusnexus"
    >
        <fieldset>
            <ul>
                <li>
                    <label class="required" for="sponsor-name">Sponsor company name</label>
                    <div class="input-wrapper">
                        <input type="text" name="sponsor-name" id="sponsor-name" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-name">Primary contact name</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-name" id="contact-name" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="phone">Phone</label>
                    <div class="input-wrapper">
                        <input type="text" name="phone" id="phone" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="email">Email</label>
                    <div class="input-wrapper">
                        <input type="email" name="email" id="email" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="website">Company website</label>
                    <div class="input-wrapper">
                        <input type="text" name="website" id="website" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="level">Sponsor level selection</label>
                    <div class="input-wrapper">
                        <select name="level" id="level">
                            <option selected="selected" value=""></option>
                            <option value="Diamond - Plan A">Diamond - Plan A</option>
                            <option value="Diamond - Plan B">Diamond - Plan B</option>
                            <option value="Platinum - Plan A">Platinum - Plan A</option>
                            <option value="Platinum - Plan B">Platinum - Plan B</option>
                            <option value="Gold">Gold</option>
                            <option value="Silver">Silver</option>
                            <option value="Bronze">Bronze</option>
                        </select>
                    </div>
                </li>

                <li class="cmc-form__submit-row">
                    <input type="hidden" name="reasonForInquiry" id="reasonForInquiry"
                           value="CampusInsight Contact Form" />
                    <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{{/content}}

{{#content "after-body"}}

{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
