---
# <!-- @formatter:off -->
title: 2017 Sponsorship Packages
label: Sponsors
publish: draft
show-in-left-nav: false
banner-image: /images/pages/global/banner-ci2017-logo.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">Sponsors</h1>
    <p class="cmc-article__subtitle">2017 Sponsorship Packages</p>
    <p class="cmc-article__intro-p">Sponsorship Opportunities at CampusInsight 2017</p>

    <p>All sponsorship levels include the following benefits in addition to sponsorship-specific benefits:</p>
    <ul class="list--normal list--has-lead-in">
        <li>Promotion on campusinsight.com</li>
        <li>Promotion on conference mobile app</li>
        <li>50-word company description with link to your website</li>
        <li>Logo placement in event emails</li>
        <li>Ad in program book</li>
        <li>Onsite signage</li>
        <li>Sponsorship level ribbon recognition</li>
        <li>Invitation to general session</li>
        <li>Passes to Thursday evening event</li>
    </ul>

    <a class="cmc-article__link" href="/documents/2017/CampusInsight-2017-Sponsorship-Prospectus.pdf">Prospectus</a>
    <a class="cmc-article__link" href="/documents/2017/CampusInsight-2017-Sponsorship-Benefits.pdf">Sponsorship
        options</a>
</div>

{{/content}}

{{#content "after-body"}}

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Diamond Sponsorship Package</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/sponsor/diamond-sponsor-logo.png"
                     alt="Diamond Sponsor" />

                <p class="secondary-header--alt">Exclusive Sponsorships:</p>

                <p><b>Package A:</b> Conference Bags and General Session</p>

                <p><b>Package B:</b> Conference Water Bottles and Thursday Night Event</p>

                <p>The Diamond sponsorship benefits include:</p>

                <ul class="list--normal list--has-lead-in">
                    <li><b>Conference Session:</b> 50 minute breakout session to present your solution</li>
                    <li><b>Attendee Passes:</b> 4</li>
                    <li><b>General Program Ad:</b> Full Page</li>
                    <li><b>Exhibit Booth Size:</b> 10 x 20</li>
                </ul>

                <p class="secondary-header--alt">Price: $25,000</p>

                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/sponsors/become-a-sponsor/?level=Diamond - Plan A">Select Diamond</a>
                    </li>
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/documents/2017/CampusInsight-2017-Sponsorship-Benefits.pdf">Sponsorship
                            Options</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Platinum Sponsorship Package</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/sponsor/platinum-sponsor-logo.png"
                     alt="Diamond Sponsor" />

                <p class="secondary-header--alt">Exclusive Sponsorships:</p>

                <p><b>Package A:</b> Notepads and Welcome Reception</p>

                <p><b>Package B:</b> Conference Lunches</p>

                <p>The Platinum sponsorship benefits include:</p>

                <ul class="list--normal list--has-lead-in">
                    <li><b>Conference Session:</b> 50 minute breakout session to present your solution</li>
                    <li><b>Attendee Passes:</b> 3</li>
                    <li><b>General Program Ad:</b> Full Page</li>
                    <li><b>Exhibit Booth Size:</b> 10 x 20</li>
                </ul>

                <p class="secondary-header--alt">Price: $20,000</p>

                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/sponsors/become-a-sponsor/?level=Platinum - Plan A">Select
                            Platinum</a>
                    </li>
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/documents/2017/CampusInsight-2017-Sponsorship-Benefits.pdf">Sponsorship
                            Options</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Gold Sponsorship Package</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/sponsor/gold-sponsor-logo.png"
                     alt="Diamond Sponsor" />

                <p>The Gold sponsorship benefits include:</p>

                <ul class="list--normal list--has-lead-in">
                    <li><b>Attendee Passes:</b> 3</li>
                    <li><b>General Program Ad:</b> Half Page</li>
                    <li><b>Exhibit Booth Size:</b> 10 x 10</li>
                </ul>

                <p class="secondary-header--alt">Price: $15,000</p>

                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/sponsors/become-a-sponsor/?level=Gold">Select Gold</a>
                    </li>
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/documents/2017/CampusInsight-2017-Sponsorship-Benefits.pdf">Sponsorship
                            Options</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Silver Sponsorship Package</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/sponsor/silver-sponsor-logo.png"
                     alt="Diamond Sponsor" />

                <p>The Silver sponsorship benefits include:</p>

                <ul class="list--normal list--has-lead-in">
                    <li><b>Attendee Passes:</b> 2</li>
                    <li><b>General Program Ad:</b> Quarter Page</li>
                    <li><b>Exhibit Booth Size:</b> 10 x 10</li>
                </ul>

                <p class="secondary-header--alt">Price: $8,000</p>

                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/sponsors/become-a-sponsor/?level=Silver">Select Silver</a>
                    </li>
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/documents/2017/CampusInsight-2017-Sponsorship-Benefits.pdf">Sponsorship
                            Options</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Bronze Sponsorship Package</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/sponsor/bronze-sponsor-logo.png"
                     alt="Diamond Sponsor" />

                <p>The Bronze sponsorship benefits include:</p>

                <ul class="list--normal list--has-lead-in">
                    <li><b>Attendee Passes:</b> 2</li>
                    <li><b>General Program Ad:</b> Quarter Page</li>
                    <li><b>Exhibit Booth Size:</b> 10 x 10</li>
                </ul>

                <p class="secondary-header--alt">Price: $5,000</p>

                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/sponsors/become-a-sponsor/?level=Bronze">Select Bronze</a>
                    </li>
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/documents/2017/CampusInsight-2017-Sponsorship-Benefits.pdf">Sponsorship
                            Options</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
