---
# <!-- @formatter:off -->
title: 2017 Sponsors
menu-priority: 0.4
banner-image: /images/pages/global/banner-ci2017-logo.png
additional-stylesheets:
  - href: /styles/pages/current-sponsors.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<h1 class="app__title">Sponsors</h1>

<h2 class="current-sponsors__level-heading">Platinum</h2>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="aci" tabindex="-1">
                <img src="/images/pages/sponsor/aci-logo.jpg" style="display:inline;" alt="ACI Universal Payments" />
                <h3 class="secondary-header--alt">ACI Universal Payments</h3>
                <p>ACI Worldwide, the Universal Payments (UP) company, powers electronic payments for more than 5,100 organizations around the world. More than 1,000 of the largest financial institutions and intermediaries as well as thousands of global merchants rely on ACI to execute $14 trillion each day in payments and securities. In addition, more than 3,600 organizations, including the IRS, rely on ACI’s Bill Presentment and Payment Services. Through our comprehensive suite of software and SaaS-based solutions, we deliver real-time, immediate payments capabilities and enable the industry’s most complete omni-channel payments experience.</p>                
                <p>For more information, please visit <a href="http://www.aciworldwide.com/" target="_blank">www.aciworldwide.com</a>.</p>
     		</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="microsoft" tabindex="-1">
                <img src="/images/pages/sponsor/microsoft-logo-g.jpg" style="display:inline;" alt="Microsoft" />
                <h3 class="secondary-header--alt">Microsoft</h3>                
                <p>Microsoft is the leading platform and productivity company for the mobile-first, cloud-first world, and its mission is to empower every person and every organization on the planet to achieve more. In education, it’s to empower every student. We believe limitless potential is within every student, every educator, every school. Together we can unlock this potential by providing technology that empowers educators and inspires students.</p>                
                <p>For more information, please visit <a href="https://www.microsoft.com/en-us/education" target="_blank">microsoft.com/education</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<h2 class="current-sponsors__level-heading">Gold</h2>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="ambassador" tabindex="-1">
                <img src="/images/pages/sponsor/ambassador-logo.jpg" style="display:inline;" alt="Ambassador" />
                <h3 class="secondary-header--alt">Ambassador</h3>                
                <p>Ambassador creates and manages customized content integration programs that connect students with course materials in the most meaningful and effective way, driving down costs and improving outcomes. Integrated with leading SIS, LMS and Digital Content Platforms, we simplify the adoption, management and delivery of textbooks, eBooks, digital resources, custom content, OER, access codes, online testing, supplies, kits, devices and more. We deliver an exceptional student experience, lower your operational and financial risk, and provide keyintelligence to measure and enhance programs.</p>                
                <p>For more information, please visit <a href="http://www.AmbassadorEd.com/" target="_blank">www.AmbassadorEd.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<h2 class="current-sponsors__level-heading">Silver</h2>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="idata" tabindex="-1">
                <img src="/images/pages/sponsor/iData-logo-g.jpg" style="display:inline;" alt="iData" />
                <h3 class="secondary-header--alt">iData</h3>                
                <p>IData is the leading data management firm for higher education. We provide consulting services as well as a line of innovative data management software products. Started in 2004, iData is based in Alexandria, Virginia.  Our mission is helping higher education institutions be successful through effective data management and innovative technology.</p>      
                <p>For more information, please visit <a href="http://www.idatainc.com/" target="_blank">www.idatainc.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="onehop" tabindex="-1">
                <img src="/images/pages/sponsor/onehop-logo.jpg" style="display:inline;" alt="Onehop" />
                <h3 class="secondary-header--alt">Onehop</h3>                
                <p>At Screen Magic, we endeavour to create innovative ideas and solutions within the Enterprise Mobile Communication niche. We are passionate about offering our customers a convenient way to reduce costs, increase operational efficiency and delight their consumers. Our flagship product, SMS Magic, is the most recommended and rated #1 enterprise texting application on Salesforce.com platform, the global leader in On-Demand CRM space. We are one of the top ISV partners of Salesforce.com in the APAC region. We have proven value across various industries: lead nurturing, loyalty programs, emergency alerts, event reminders, flash sales, price alerts, time-sensitive status updates, etc. With headquarters in Pune, India and presence in Nevada, US, we have successfully catered to over 1500 customers across the globe, under the astute leadership of IITB alumnus. A growing team of 90+ professionals forms the backbone for seamless SMS integration and real-time support to all our global customers.</p>      
                <p>For more information, please visit <a href="http://www.screen-magic.com/" target="_blank">www.screen-magic.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="socketlabs" tabindex="-1">
                <img src="/images/pages/sponsor/socketlabs-logo-g.jpg" style="display:inline;" alt="SocketLabs" />
                <h3 class="secondary-header--alt">SocketLabs</h3>                
                <p>Email is a valuable communication channel for institutions, but avoiding the spam folder is a major challenge. SocketLabs helps Campus Management customers like Penn State, Ohio State, Auburn, and Ball State University overcome email challenges with a proven delivery platform and a team of email experts. </p>      
                <p>For more information, please visit <a href="http://www.socketlabs.com/" target="_blank">www.socketlabs.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<h2 class="current-sponsors__level-heading">Bronze</h2>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="aspiredu" tabindex="-1">
                <img src="/images/pages/sponsor/aspiredu-logo.jpg" style="display:inline;" alt="AspirEDU" />
                <h3 class="secondary-header--alt">AspirEDU</h3>                
                <p>AspirEDU provides analytics solutions that allow schools to better support student retention and instructor engagement.  Dropout Detective™ automatically identifies students that are at risk of dropping out of or failing courses.  Instructor Insight™ provides metrics on the engagement and performance of instructors in their courses.</p>      
                <p>For more information, please visit <a href="http://www.aspiredu.com/" target="_blank">www.aspiredu.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="burning-glass" tabindex="-1">
                <img src="/images/pages/sponsor/burningGlass-logo-g.jpg" style="display:inline;" alt="Burning Glass" />
                <h3 class="secondary-header--alt">Burning Glass</h3>                
                <p>Burning Glass Technologies delivers job market analytics that empower educators, employers, and workers to make data-driven decisions. Burning Glass connects education and job markets, with data that identify the skill gaps that keep job seekers and employers apart.</p>      
                <p>For more information, please visit <a href="http://www.burning-glass.com/" target="_blank">www.burning-glass.com</a>.</p>
           	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="constituo" tabindex="-1">
                <img src="/images/pages/sponsor/constituo-logo.jpg" style="display:inline;" alt="Constituo" />
                <h3 class="secondary-header--alt">Constituo</h3>                
                <p>Constituo's cloud integration platform helps you manage your data and integrations. Non-IT users, aka citizen integrators, can cleanse, transform, and prepare data to enable import and export of prospects and applicants, student transcripts, Financial Aid files, and more. IT analysts define, publish, manage and control data, document and system integrations.</p>      
                <p>For more information, please visit <a href="http://www.constituosoftware.com/" target="_blank">www.constituosoftware.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="docusign" tabindex="-1">
                <img src="/images/pages/sponsor/docusign-logo-g.jpg" style="display:inline;" alt="DocuSign" />
                <h3 class="secondary-header--alt">DocuSign</h3>                
                <p>DocuSign<sup>®</sup> is changing how business gets done by empowering more than 250,000 companies and 100 million users in 188 countries to sign, send and manage documents anytime, anywhere, on any device, with confidence. DocuSign helps educators get the signatures needed to process admissions, document loans and meet regulatory requirements. With DocuSign you can accelerate the process, see real-time status of agreements, improve data quality, eliminate paper, and enhance the student experience — all at the same time.</p>      
                <p>For more information, please visit <a href="http://www.docusign.com/" target="_blank">www.docusign.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="dublabs" tabindex="-1">
                <img src="/images/pages/sponsor/dublabs-logo.jpg" style="display:inline;" alt="DubLabs" />
                <h3 class="secondary-header--alt">DubLabs</h3>                
                <p>DubLabs offers campus mobile solutions focused on the needs of each institution we serve. It’s not about building mobile apps – it’s about personalizing and simplifying the student experience. Visit us to learn how our campus mobile solutions meet stakeholder needs at the more than 150 colleges and universities we serve.</p>      
                <p>For more information, please visit <a href="https://www.dublabs.com/" target="_blank">www.dublabs.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="epx" tabindex="-1">
                <img src="/images/pages/sponsor/epx-logo-g.jpg" style="display:inline;" alt="EPX Electronic Payment Exchange" />
                <h3 class="secondary-header--alt">EPX Electronic Payment Exchange</h3>                
                <p>“EPX supports Campus StudentNexus colleges and universities for secure, PCI compliant End to End payment processing services. As an End to End Processor EPX handles everything from real time card authorization to settlement services.  All payments are tokenized with the EPX BRIC protecting student card information from ‘would be’ hackers.”</p>      
                <p>For more information, please visit <a href="http://www.epx.com/" target="_blank">www.epx.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="illumira" tabindex="-1">
                <img src="/images/pages/sponsor/illumira-logo.jpg" style="display:inline;" alt="Illumira" />
                <h3 class="secondary-header--alt">Illumira</h3>                
                <p>NJEdge aims to deliver and sustain a healthy, vibrant, and thriving technology ecosystem that is purpose-built for the communities we serve. Through active collaboration, adaptive technology, transformative engagement and defined solutions, we have designed a national model of excellence in research and education technology solutions in New Jersey and beyond. </p>      
                <p>For more information, please visit <a href="http://njedge.net/" target="_blank">njedge.net</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="nelnet" tabindex="-1">
                <img src="/images/pages/sponsor/nelnet-logo-g.jpg" style="display:inline;" alt="Nelnet" />
                <h3 class="secondary-header--alt">Nelnet</h3>                
                <p>With a #1 core value of focusing on the customer, we provide innovative educational services in loan servicing, payment processing, education planning, and asset management. These products and services help students and families plan, prepare, and pay for their education while making the administrative and financial processes more efficient for schools and financial organizations. Headquartered in Lincoln, Nebraska, with other offices around the United States and Canada, we employ more than 2,250 associates who serve customers throughout the education life cycle.</p>      
                <p>For more information, please visit <a href="http://www.nelnet.com/" target="_blank">www.nelnet.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="peak" tabindex="-1">
                <img src="/images/pages/sponsor/peak-logo.jpg" style="display:inline;" alt="Peak Performance Technologies" />
                <h3 class="secondary-header--alt">Peak Performance Technologies</h3>                
                <p>Our world is changing. And today’s government and academic leaders are at the forefront of this evolution. In this new world, thought leadership and effective decision-making have never been more important. At Peak Performance Technologies we partner with organizational leaders to address today’s challenges in a secure, cost effective and academically sound fashion. Helping to cut through the propaganda and social buzz of existing vendors to provide refreshing clarity for meaningful results. Working collaboratively we develop effective and lasting improvements to organizations.</p>
                
                <p>Whether we are developing new policies and procedures, realigning an organization, assessing the current state of IT, selecting new technologies, effectively supporting industry standards, building support infrastructures, integrating systems or supporting end users, Peak Performance Technologies is your partner through it all. In this capacity our team can provide complete program management, operations services, implementation and support services to state and local governments, higher education, independent school districts and federal government agencies. We specialize in helping public sector organizations drive the value out of their enterprise applications offering services across the entire lifecycle of a project.</p>      
                <p>For more information, please visit <a href="http://peakperformancetech.com/" target="_blank">peakperformancetech.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="runner" tabindex="-1">
                <img src="/images/pages/sponsor/runner-logo-g.jpg" style="display:inline;" alt="Runner Enterprise Data Quality" />
                <h3 class="secondary-header--alt">Runner Enterprise Data Quality</h3>                
                <p>Founded in 1997 and headquartered in Boca Raton, Florida, Runner Technologies, Inc. (Runner) is a privately owned software company specializing in the integration of address verification and data quality solutions for enterprise systems. The company’s integrated address verification solution, CLEAN_Address® is utilized by more than 600 enterprise customers from higher education institutions, government, corporate, and non-profit organizations. Runner’s proprietary components, methodologies and utilities allow it to seamlessly integrate its solutions into the most complex applications providing data quality services while maintaining the core application's base functionality and upgradability.</p>      
                <p>For more information, please visit <a href="http://runnertech.com" target="_blank">runnertech.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="schooldocs" tabindex="-1">
                <img src="/images/pages/sponsor/schooldocs-logo.jpg" style="display:inline;" alt="SchoolDocs" />
                <h3 class="secondary-header--alt">SchoolDocs</h3>                
                <p>The SchoolDocs Document Management System streamlines the process of electronically capturing, indexing, storing, protecting, searching, retrieving, managing, and controlling information. SchoolDocs features web-based forms that enforce business rules and policies, scanning, forms recognition, optical character recognition (OCR), centralized data repositories, and the management of PDFs and other document formats. Knowledge management features bring structure and control to information, allowing organizations to harness the intellectual capital contained in the underlying data.</p>

<p>SchoolDocs includes automatic retention modules, disaster recovery solutions, compliance monitoring tools and extensive security protection embedded within the system. SchoolDocs will protect your organization through security on the information (specific documents), software, people (administrators, students, or outside users such as auditors) and departments (Admissions, Enrollment, Financial Aid, Placement, etc.) , all of which need different levels of access to school documents.</p>      
                <p>For more information, please visit <a href="http://www.schooldocsllc.net/" target="_blank">www.schooldocsllc.net/</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="softdocs" tabindex="-1">
                <img src="/images/pages/sponsor/softdocs-logo-g.jpg" style="display:inline;" alt="Softdocs" />
                <h3 class="secondary-header--alt">Softdocs</h3>                
                <p>The Softdocs platform has been designed to help meet the business needs of higher education institutions. With a scalable, browser-based solution that minimizes paper records, improves student and employee service through the use of electronic forms, and increases overall processing efficiencies, your institution can see drastic improvements across the board.</p>      
                <p>For more information, please visit <a href="http://www.softdocs.com" target="_blank">www.softdocs.com</a>.</p>
          	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="touchnet" tabindex="-1">
                <img src="/images/pages/sponsor/touchNet-logo.jpg" style="display:inline;" alt="TouchNet" />
                <h3 class="secondary-header--alt">TouchNet</h3>                
                <p>TouchNet, a Global Payments company, is a pioneer in delivering innovative financial technology to institutions of higher education. Since 1989, colleges and universities have relied on TouchNet unified commerce solutions to streamline and secure campus-wide payments and related business transactions and gain greater control over campus transactions, costs, and compliance.</p>      
                <p>For more information, please visit <a href="http://www.touchnet.com/" target="_blank">www.touchnet.com</a>.</p>
           	</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
            <section id="wealthengine" tabindex="-1">
                <img src="/images/pages/sponsor/wealthengine-logo-g.jpg" style="display:inline;" alt="WealthEngine" />
                <h3 class="secondary-header--alt">WealthEngine</h3>                
                <p>WealthEngine<sup>™</sup>, Inc. is a leading provider of audience intelligence solutions to customers targeting HNW clients in the healthcare, education, financial services and luxury markets. The company’s unique data-driven approach to analytics, prospecting, and marketing has transformed the sales, marketing and fundraising processes of more than four thousand clients. Headquartered in Bethesda, MD, WealthEngine serves both the United States and the United Kingdom.</p>      
                <p>For more information, please visit <a href="http://www.wealthengine.com" target="_blank">www.wealthengine.com</a>.</p>
           	</section>
            </div>
        </div>
    </div>
</div>






{{/content}}

{{#content "after-body"}}


{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
