---
# <!-- @formatter:off -->
title: CampusInsight 2017
meta-keywords:
pageCssClass: page--home
og-type: website
additional-scripts:
  - src: /scripts/page--home.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/home.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
{{> home-page-carousel}}
<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <h2 class="info-box__title">Highlights from CampusInsight 2017</h2>
            <div class="cmc-article__video col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2">
                <div class="cmc-article__video__video">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            src="//www.youtube.com/embed/rnktKuSQkEg/?wmode=transparent"
                            frameborder="0" allowfullscreen style="display:block" wmode="Opaque"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}

{{#content "after-body"}}
{{> home-page-events}}



{{/content}}

{{/extend}}
