---
# <!-- @formatter:off -->
title: Search CampusInsight
private: true
banner-image: /images/pages/home/Banner_productSheets.gif
additional-scripts:
  - src: /scripts/page--search.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/search-results.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Search Results</p>

    <div id="SearchResultContainer" class="app" data-index="ci--en-us">
        <div class="loading--placeholder">Loading...</div>
    </div>

    <p class="search-results-by">
        <a href="https://www.algolia.com" target="_blank">
            Search By
            <img src="/images/pages/search/Algolia_logo_bg-white.jpg" class="search-results-by__img" alt="Algolia" />
        </a>
    </p>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}

