---
# <!-- @formatter:off -->
title: Past Excellence Award Winners
menu-priority: 0.7
banner-image: /images/pages/global/banner-excellence-award-logo-2017.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Campus Management Congratulates Past Excellence Award Winners</p>

    <p class="cmc-article__intro-p">Each year, outstanding institutions are selected for their exemplary use of Campus Management’s products.</p>
        
  	<p>Campus Management customers utilize our software and services solutions to to drive student success, operational efficiency, innovation, strategic vision and constituent services.</p>
    
    <p>We invite you to read their award profiles here to gain insight on optimizing your utilization of Campus Management solutions at your institution. What’s more, you can learn how to nominate your own institution for future Excellence Awards.</p>
 </article>
 

{{/content}}


{{#content "after-body"}}

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2017 Excellence in Constituent Services – The Ohio State University</h2>
                    <p>As one of the nation's top-20 public universities, The Ohio State University has earned a reputation for offering quality academic programs and highly personalized constituent service.</p>
                    <p>One of the main challenges of any large university is to keep raising the bar on personalized service even as the institutions grows.</p>
                    <p>With this in mind, the institution over the past two years has looked to its CampusNexus CRM solution and a Campus Management assessment to increase the personalization and timeliness of relevant content for constituents and to increase collaboration across university departments.</p>
                    <p>The results have been impressive, including a 240 percent increase in the number of active users among staff and faculty and a 124 percent increase in the number interactions a year with prospective students. </p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Ohio-State-University-2017-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2017 Excellence in Student Success – Cleveland University–Kansas City</h2>
                    <p>Cleveland University-Kansas City offers a wider range of health care degrees, and is one of the oldest and most respected nonprofit chiropractic colleges in the nation. In an increasingly competitive higher educational landscape, the institution’s goal was to speed and enhance engagement with prospects and students, without having to add more staff.</p>
                    <p>To meet this goal, the institution implemented CampusNexus Student in 2016, a solution that includes financial aid automation, student self-service, CRM, and workflow and forms builder.</p>
                    <p>Through the use of CRM analytics, the institution has been able to create highly targeted admission campaigns, improving their email campaign response rate by 1,000 percent. Through new APIs and workflows, they have reduced prospect response time on a lead by 98 percent—specifically from 24 hours to 30 minutes.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Cleveland-University-2017-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2017 Excellence in Operational Efficiency – Chatham University</h2>
					<p>Chatham University in Pittsburgh, Pa., had a goal to improve academic scheduling efficiency, reduce data entry errors in enrollment management, and eliminate time-consuming manual processes within the Student Accounts Office. To achieve this goal, the institutional developed new workflows within its student information system, CampusNexus Student.</p>
                    <p>The <strong>classroom size workflow</strong> now helps in the course scheduling process by reducing errors and ensuring that faculty and students are assigned an appropriately sized classroom for their courses.</p>
                    <p>With the <strong>enrollment management wizard workflow</strong>, mismatched and inaccurate data entry errors have been eliminated by nearly 100 percent. In the first six months, data cleanup tickets went from 109 records to zero new requests.</p>
                    <p>By implementing a <strong>late payment fee workflow</strong>, the university has eliminated two days’ worth of manual processing per month in their Student Accounts office, for an annual time savings of 192 hours per year, and a cost savings of over $13,000 per year.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Chatham-University-2017-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2017 Excellence in Innovation — Kansas State University</h2>
                    <p>After renovating a historic building and the implementation of CampusNexus CRM, Kansas State University developed an interactive technology platform in the newly dedicated Berney Family Welcome Center.</p>
                    <p>The construction and technology installation ran from March 2015 through August 2016, and was followed by the integration to CampusNexus CRM in 2016. The result was a bright new space, with a massive, intelligent wall that integrates campus visit details (maintained in CampusNexus CRM) and presents this information back to the student.</p>
                    <p>The video wall engagement is then extended to their mobile devices, which they can refer back to for schedules, maps, or details about academic interests at any time.</p>
                    <p>The video wall has been well received by parents and students as an exciting way to engage with the university, stating that the experience is unlike any other they have had at other universities.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Kansas-State-University-2017-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2017 Excellence in Strategic Vision – Positivo University (Universidade Positivo)</h2>
					<p>Established more than three decades ago in the State of Paraná, Brazil, Universidade Positivo (Positivo University) has been recognized for its ability to anticipate and act upon significant shifts technology, evolving academic models, student engagement methodologies, employee development and retention practices, and more.</p>
                    <p>Recognizing that a country-wide downturn in the economy was coming, and that funding for students was being severely cut, the institution worked to align strategies for sustainable growth in student enrollment, reducing operational costs, and excellence in engaging the university’s candidates and students. To execute on this strategy, they decided to implement CampusNexus CRM.</p>
                    <p>As a results of the implementation, the institution was able to structure and automate the process of communication through emails, text messages and phone calls, and their 2016 marketing campaign for undergraduate programs resulted in over 26,000 leads contacted, and a 6.7 percent increase in enrollment. Even with the severe downturn in the economy, Positivo University grew by 25 percent in 2015 and an additional 11 percent in 2016.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Positivo-University-2017-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2016 Excellence in Constituent Services – Botho University in Gaborone, Botswana</h2>
                    <p>Botho University is Botswana’s largest private tertiary education provider. Founded in 1997, Botho serves more than 4,000 students and has trained 16,000 graduates since inception.</p>
                    <p>Prior to implementing Campus Management’s Student, Portal and CRM solutions, Botho recognized they needed to improve its processes for capturing data for applicants, processing the information, responding in a timely fashion and supporting appropriate access to student records.</p>
                    <p>Following the successful implementation of Campus Management’s CampusNexus suite, Botho completely eliminated its manual processes and improved accuracy, efficiency, and transparency throughout the institution. In addition, the University has since achieved its goal to go paperless, successfully instituting 48 new functions, processes, and reports.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Botho-2016-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2016 Excellence in Student Success – Central Michigan University</h2>
                    <p>Central Michigan University is a public research university located in Mount Pleasant, Michigan. Established in 1892, Central Michigan University is one of the largest universities in the state of Michigan and one of the nation's 100 largest public universities.</p>
                    <p>Central Michigan wanted to move the needle on improving student engagement and the student experience, increasing completion rates, and embracing the needs of the growing nontraditional population to help each student succeed.</p>
                    <p>With CampusNexus<sup>®</sup> CRM, the university was able to effectively target different student populations, track completion rates, and differentiate between veteran and beginner students regarding their ability to manage online coursework. As a result, staff and administrators can now accurately target at-risk students online and onsite so they can correlate outreach and engagement to monthly retention rates.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Central-Michigan-2016-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
              
<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2016 Excellence in Operational Efficiency – Lancaster Bible College</h2>
					<p>Lancaster Bible College (LBC) is a private, coeducational Bible college and graduate school in Lancaster, Pennsylvania. The College offers a full range of collegiate programming from non-credit courses to undergraduate, master’s level, and doctoral degree programs.</p>
                    <p>With campuses spread across seven different locations, LBC wanted consistent processes across sites and programs for managing prospective student contacts and leads. Its manually intensive workload included dual data entry of applicant information coming from a dozen different application forms.</p>
                    <p>After implementing CampusNexus Student and CRM, LBC was able to achieve its vertical integration goal in six months, launch a universal common application for perspective students, implement a paperless application, and use CRM for email admissions. Those processes have resulted in increased consistency, as well as reduced workload, and have enabled staff to become more focused on successful relationship-building.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/CampusInsight-2016-Awards-LancasterBible-Case-Study.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>        
        
<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2016 Excellence in Innovation — Rasmussen College</h2>
                    <p>Rasmussen College is a regionally accredited private college, headquartered in Bloomington, Minnesota, with around 14,000 students, across 23 campuses in six states. It offers degree programs at the certificate and diploma level through the associate’s and bachelor’s degree levels.</p>
                    <p>Rasmussen recognized that being innovative with their academic programs could serve their various adult student populations who were looking for a different way to obtain and complete their education.</p>
                    <p>By designing a variety of competency-based education (CBE) programs while leveraging CampusNexus Student as the foundation, Rasmussen gained greater transparency into students’ skills, abilities, knowledge and career objectives. This allows the college to have greater visibility into students’ proficiencies, and prospective employers have confidence in what students know and can do upon earning credentials.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Rasmussen-2016-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>        

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2016 Excellence in Strategic Vision – Bridgepoint Education</h2>
					<p>Bridgepoint Education is a publicly held, proprietary education services company based in San Diego, Calif. It owns two accredited universities, Ashford University and University of the Rockies, which offer degrees both online and on-campus, with a total enrollment of nearly 55,000 students.</p>
                    <p>To provide more compelling outreach to prospective students, Bridgepoint needed to streamline its recruitment processes, accelerate lead management, and create a system that could continuously prioritize the enrollment team’s workload.</p>
                    <p>With CampusNexus CRM, Bridgepoint established processes including near real-time recruitment actions, with leads automatically scored throughout the day based on multiple triggers, allowing advisors to focus on prospects who are most likely to respond or submit an application.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Bridgepoint-2016-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2015 Excellence in Constituent Service – Portland State University</h2>
                    <p>Portland State University is recognized throughout the world for programs like Urban Planning, Social Work, and Environmental Studies that directly engage the community, and aim students towards the creation of a better, more sustainable world.</p>
                    <p>Student retention is a major strategic priority for Portland State University, with a large percentage of its students being first-generation, nontraditional, or transfer students who can slip through the cracks.</p>
                    <p>The university utilized CampusNexus CRM alongside its existing SIS to create an advisor workspace that provides a full picture of students’ academic progress.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Portland-State-University-2015-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2015 Excellence in Student Success – Franklin University</h2>
					<p>Franklin University, a private, nonprofit institution, has grown into the second-largest private university in the state of Ohio, serving nearly 10,000 students from across the country and around the world.</p>
                    <p>The university’s goal was to increase the number of prospective students with a system to rank prospects and identify high quality candidates in a more tactical and strategic manner.</p>
                    <p>With CampusNexus CRM, Franklin University's new student enrollment exceeded forecasts by 16% at the undergraduate level and 54% at the graduate level, with a 6% increase in new student enrollment overall compared to the prior winter.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Franklin-2015-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2015 Excellence in Operational Efficiency – Porter and Chester/YTI Career Institutes</h2>
					<p>Porter and Chester/YTI Career Institutes  is a private sector, post-secondary technical institution with nine campuses throughout Connecticut and Massachusetts, featuring ten different career programs serving the skilled trades, transportation, health care and technology industries.</p>
                    <p>Each institution utilized its own student information system as well as numerous other technologies. The institution wanted to unite all campuses on one system.</p>
                    <p>With CampusNexus Student, Porter and Chester Institute/YTI centralized 19 disparate touch points across 5 growing campuses on one system.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Porter-Chester-YTI-2015-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2015 Excellence in Innovation – Indiana University</h2>
                    <p>Indiana State University  is a public that combines a tradition of strong undergraduate and graduate education with a focus on community and public service. The Princeton Review named Indiana State as one of the “Best in the Midwest” 11 years running.</p>
                    <p>Serving approximately 11,500 students, the University’s Distance Nursing program found the process of tracking these exams a labor intensive, resulting in challenging recordkeeping for the university.</p>
                    <p>Utilizing CampusNexus CRM, administrators were able to automate communications for each of the exam stages and view student profiles through a centralized system.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Indiana-State-University-2015-Excellence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2015 Excellence in Strategic Vision – Estacio S.A.</h2>
					<p>Estacio S.A. is Brazil’s second largest university system with over 500,000 students across 84 campuses around the country target and serves a diverse constituency that continues to spur its unprecedented growth today.</p>
                    <p>The institution needed more flexible learning models and modern engagement tools to tailor communications and services to a diverse audience, including many first-generation higher education students.</p>
                    <p>With CampusNexus CRM, Estacio S.A. increased the number of new students by 92% in the second half of 2014 compared with the same period in 2013, and application to enrollment conversion rate rose 55% in same timeframe.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Estacio-Case-Study-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2014 Excellence in Constituent Service – A.T. Still University</h2>
					<p>AT Still University  is a non-profit, private, graduate school for the health professions, as well as the world’s first osteopathic medical school. The school’s main campus is in Kirksville, Missouri, with a second campus in Arizona.</p>
                    <p>The institution processes more than 18,000 applications a year, a majority of them from seven different third-party agencies. Integrating this data with its student information system was manually intensive for staff members, until the university developed a way to load it automatically with Web services technology from Campus Management.</p>
                    <p>In one application cycle, they  processed 18,356 new applications for 557 open seats. This was achieved with fewer than 10 people in the residential admissions office, which, given the volume, would not have been possible before the automated system.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/AT-Still-University-2014-Excelence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2014 Excellence in Student Success – University of Ottawa</h2>
                    <p>University of Ottawa is based in Ottawa, Ontario, Canada, and is the largest bilingual public research university in North America, serving nearly 36,000 undergraduate students.</p>
                    <p>The university’s student finance office needed a solution that would enable administrators to guide students through the difficult process of financing their education and improve its response rate.</p>
                    <p>After implementing CampusNexus CRM, the department’s ‘Once-and-Done’ response rate grew to 31-33% and improved the students’ experience.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/University-of-Ottawa-2014-Excelence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2014 Excellence in Operational Efficiency – CollegeAmerica</h2>
					<p>With six different campuses in some of the largest metropolitan areas of Colorado, Arizona, and Wyoming, CollegeAmerica offers employment-focused degrees in healthcare, business, technology, and graphic arts.</p>
                    <p>Prior to deploying CampusNexus CRM, CollegeAmerica had limited visibility into students applying to the school. They were using an old CRM system, which offered no ability to mine the data to learn about prospects.  What’s more, they would have to perform double data entry with every contact. </p>
                    <p>Today admissions recruiters make outbound calls to prospective students directly from the CampusNexus CRM phone workspace, with interaction data and appointments automatically set and instant visibility into staff productivity.</p>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2014 Excellence in Innovation – University of Alabama</h2>
                    <p>The University of Alabama is a public research university enrolling 29,500 undergraduate students and an additional 5,000 graduate students. The university also ranks among the top five institutions for having the highest number of enrolled National Merit Scholars.</p>
                    <p>One of the challenges the institution faced was getting to prospects faster, where they are – at recruitment fairs, school visits and private receptions. Recruiters needed access to the same powerful recruitment tools they have back on campus.</p>
                    <p>To meet this need, the university’s IT team utilized iServices to design a mobile CRM experience, and enabled recruiters to create, reply and resolve student interactions using their iPhones<sup>®</sup>, iPads<sup>®</sup>, and other mobile devices.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/University-of-Alabama-2014-Excelence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <section tabindex="-1">
                    <h2 class="info-box__title">2014 Excellence in Strategic Vision – Orange County Public Schools</h2>
                    <p>Orange County Public Schools District is the public school district for Orange County, Florida, and enrolls nearly 200,000 students. The district includes an adult education system with post-secondary offerings at six dedicated campuses.</p>
                    <p>In 2010, Florida’s Orange County Public Schools undertook an ambitious effort to integrate disparate systems serving unique constituencies throughout the county as part of its stated goal of being a “top producer of successful students in the nation.”</p>
                    <p>The district increased operational efficiency, improved workflows, and improved student outcomes with Campus Management’s student information system, CampusNexus Student.</p>
                </section>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="https://www.campusmanagement.com/docs/case-studies/cmc/en-us/Orange-County-Public-Schools-2014-Excelence-Award-Campus-Management.pdf"
                           style="color: #FFFFFF;" target="_blank">Case Study</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
