---
# <!-- @formatter:off -->
title: The Campus Management Excellence Awards - Nomination Form
label: Nomination Form
banner-image: /images/pages/home/ci2016ExcellenceAwardLogoBanner.png
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--simple-form.js
    inline: true
  - src: /scripts/page--nomination-form.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
  - href: /styles/pages/nomination-form.css
    inline: true
publish: draft
show-in-left-nav: false
private: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__title--app">The Campus Management Excellence Awards</h1>
    <p class="cmc-article__sub-title--app">2017 Nomination Form</p>

    <form id="requestDemoForm"
          class="cmc-form cmc-form--centered js--simple-form"
          action="ci-award-nomination/?site=ci&group=en-us"
          data-lead-source="ci-award-nomination"
          data-success-redirect-url="/contact-us/contact-complete/"
    >
        <fieldset class="award-category-radio-group">
            <legend class="required">Award Category</legend>
            <div class="award-category-errors"></div>
            <label>
                <input
                    type="radio"
                    name="award-category"
                    value="Excellence in Constituent Service"
                    required=""
                    data-parsley-errors-container=".award-category-errors"
                >
                Excellence in Constituent Service
            </label>
            <span class="award-category__more-info-icon">Info</span>
            <p class="award-category__more-info">
                Institution demonstrates excellence via use of Campus Management solutions or services to provide an
                enriched constituent experience. Examples of constituent experience include recruitment, engagement,
                student service, retention, personnel management, alumni relations, or fundraising.
            </p>
            <label>
                <input
                    type="radio"
                    name="award-category"
                    value="Excellence in Student Success"
                >
                Excellence in Student Success
            </label>
            <span class="award-category__more-info-icon">Info</span>
            <p class="award-category__more-info">
                Institution demonstrates innovations or improvements through the use Campus Management solutions or
                services that directly result in student success. Examples include a decrease in attrition, increase in
                retention, increase in student financial responsibility, or increase in career placement.
            </p>
            <label>
                <input
                    type="radio"
                    name="award-category"
                    value="Excellence in Operational Efficiency"
                >
                Excellence in Operational Efficiency
            </label>
            <span class="award-category__more-info-icon">Info</span>
            <p class="award-category__more-info">
                Institution demonstrates excellence via business process improvements and/or decreased operational
                expenses in the areas of employee service, administration, or infrastructure. Examples include increased
                efficiencies, reduced costs, or enhanced performance at the institution, gained through the use of
                Campus Management solutions or services.
            </p>
            <label>
                <input
                    type="radio"
                    name="award-category"
                    value="Excellence in Innovation"
                >
                Excellence in Innovation
            </label>
            <span class="award-category__more-info-icon">Info</span>
            <p class="award-category__more-info">
                Institution demonstrates excellence in technological innovation and use of Campus Management solutions
                or services, serving as a catalyst to meet or exceed an institutional goal and positively affect the
                campus community. Examples include innovation in the use of mobile technologies, cloud, Web services,
                big data, and more.
            </p>
            <label>
                <input
                    type="radio"
                    name="award-category"
                    value="Excellence in Strategic Vision"
                >
                Excellence in Strategic Vision
            </label>
            <span class="award-category__more-info-icon">Info</span>
            <p class="award-category__more-info">
                Institution demonstrates the ability to foresee trends, needs or issues pertaining to the business of
                higher education, and works in a transformational way&nbsp;with Campus Management solutions or services
                to address these for the betterment of the institution and the constituents it serves. Examples include
                anticipating significant shifts in technology, evolving academic models, student engagement
                methodologies, employee development and retention practices, and more.
            </p>
        </fieldset>

        <fieldset>
            <legend>Nominee Contact Information</legend>
            <ul>
                <li>
                    <label class="required" for="institution-name">Institution Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="institution-name" id="institution-name" required />
                    </div>
                </li>
                <li>
                    <label for="institution-address" class="tallInputLabel required">Institution Address</label>
                    <div class="input-wrapper">
                        <textarea name="institution-address" id="institution-address" required></textarea>
                        <p class="input-note">[city, state, zip] (headquarters address or location applying for
                            award)</p>
                    </div>
                </li>
                <li>
                    <fieldset>
                        <legend>Award nominee contact</legend>
                        <ul>
                            <li>
                                <label class="required" for="nominee-name">Name</label>
                                <div class="input-wrapper">
                                    <input type="text" name="nominee-name" id="nominee-name" required />
                                </div>
                            </li>
                            <li>
                                <label class="required" for="nominee-title">Title</label>
                                <div class="input-wrapper">
                                    <input type="text" name="nominee-title" id="nominee-title" required />
                                </div>
                            </li>
                            <li>
                                <label class="required" for="nominee-phone">Phone</label>
                                <div class="input-wrapper">
                                    <input type="text" name="nominee-phone" id="nominee-phone" required />
                                    <p class="input-note">(please provide direct line or extension if applicable)</p>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="nominee-email">Email</label>
                                <div class="input-wrapper">
                                    <input type="email" name="nominee-email" id="nominee-email" required />
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Nomination Information</legend>
            <ul>
                <li>
                    <fieldset>
                        <legend>General Information</legend>
                        <ul>
                            <li>
                                <label class="required" for="project-name">Project Name</label>
                                <div class="input-wrapper">
                                    <input type="text" name="project-name" id="project-name" required />
                                </div>
                            </li>
                            <li>
                                <fieldset>
                                    <legend>
                                        Team Lead <em>(if different from the nominee contact person)</em>
                                    </legend>
                                    <ul>
                                        <li>
                                            <label class="" for="team-lead-name">Name</label>
                                            <div class="input-wrapper">
                                                <input type="text" name="team-lead-name" id="team-lead-name" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="" for="team-lead-title">Title</label>
                                            <div class="input-wrapper">
                                                <input type="text" name="team-lead-title" id="team-lead-title" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="" for="team-lead-phone">Phone</label>
                                            <div class="input-wrapper">
                                                <input type="text" name="team-lead-phone" id="team-lead-phone" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="" for="team-lead-email">Email</label>
                                            <div class="input-wrapper">
                                                <input type="email" name="team-lead-email" id="team-lead-email" />
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                            </li>
                            <li class="otherTeamMembers">
                                <label class="long-label" for="other-team-members">Other Team Members</label>
                                <div class="input-wrapper">
                                    <textarea name="other-team-members" id="other-team-members"></textarea>
                                    <p class="input-note">
                                        (optional, please include the following information for any
                                        names included: Name, Title, Phone, Email)</p>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </li>

                <li>
                    <fieldset class="departments-checkbox-group">
                        <legend class="required">
                            Departments, offices or disciplines the project spans <em>(please
                            select all that apply)</em>
                        </legend>
                        <div class="departments-errors"></div>
                        <label>
                            <input type="checkbox" name="departments[]"
                                   value="Academic Services (Registration, Advising, Retention)"
                                   data-parsley-required="true" data-parsley-mincheck="1"
                                   data-parsley-errors-container=".departments-errors"
                            >
                            Academic Services (Registration, Advising, Retention)
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Advancement/Development">
                            Advancement/Development
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Alumni Relations">
                            Alumni Relations
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Athletics">Athletics</label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Bursar/Student Accounts">
                            Bursar/Student Accounts
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Continuing Education">
                            Continuing Education
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Enrollment Management">
                            Enrollment Management
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Finance/Business Office">
                            Finance/Business Office
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Financial Aid">
                            Financial Aid
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Human Resources">
                            Human Resources
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Information Technology">
                            Information Technology
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Institutional Research">
                            Institutional Research
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Marketing">
                            Marketing
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Payroll Office">
                            Payroll Office
                        </label>
                        <label><input type="checkbox" name="departments[]" value="Student Retention/Success">
                            Student Retention/Success
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]"
                                   value="Student Services (Campus Safety, Career Services, Residence Life, Student Life)">
                            Student Services (Campus Safety, Career Services, Residence Life, Student Life)
                        </label>
                        <label>
                            <input type="checkbox" name="departments[]" value="Teaching & Learning">
                            Teaching & Learning
                        </label>
                        <label>Specify your own value:</label>
                        <div class="input-wrapper">
                            <input type="text" name="departments[]" />
                        </div>
                    </fieldset>
                </li>
                <li>
                    <fieldset class="project-info">
                        <legend>Project Information</legend>
                        <p>Please provide a detailed response to each question. Examples of
                            quantitative statements include:</p>
                        <ul class="list--normal list--has-lead-in">
                            <li>improved retention of first year students by 8%</li>
                            <li>processed over 18,000 applications from five third-party services automatically</li>
                            <li>registered 500 students from waitlist courses into available course sections in 30
                                minutes through workflow
                            </li>
                            <li>saved approximately $35,000 annually</li>
                        </ul>
                        <p>
                            You may submit any supporting images, documentation or Web links to <a
                            href="mailto:kgrant@campusmgmt.com">kgrant@campusmgmt.com</a>.
                        </p>
                        <ol>
                            <li>
                                <label class="required tallInputLabel" for="project-overview">
                                    Please provide an overview/summary of the scope of your
                                    project identified for the Excellence Award you are applying for:
                                </label>
                                <div class="input-wrapper">
                                    <textarea name="project-overview" id="project-overview"></textarea>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="project-needs">
                                    What strategic needs, goals and objectives did you identify
                                    for this project?
                                </label>
                                <div class="input-wrapper">
                                    <textarea name="project-needs" id="project-needs"></textarea>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="project-challenge">
                                    What business challenge was your organization facing that
                                    necessitated or inspired this project?
                                </label>
                                <div class="input-wrapper">
                                    <textarea name="project-challenge" id="project-challenge"></textarea>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="project-timeframe">
                                    What was the timeframe of the project?
                                    <br />
                                    Please list inception to completion dates
                                </label>

                                <div class="input-wrapper">
                                    <textarea name="project-timeframe" id="project-timeframe"></textarea>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="project-who-benefit">
                                    Which constituents benefited (or will benefit) from this
                                    project?
                                </label>
                                <div class="input-wrapper">
                                    <textarea name="project-who-benefit" id="project-who-benefit"></textarea>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="project-cmc-solutions">
                                    Which Campus Management solutions are/were involved (please
                                    specify product version or type of service)?
                                </label>
                                <div class="input-wrapper">
                                    <textarea name="project-cmc-solutions" id="project-cmc-solutions"></textarea>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="project-cmc-help">
                                    How did Campus Management help you achieve your goals and
                                    objectives?
                                </label>
                                <div class="input-wrapper">
                                    <textarea name="project-cmc-help" id="project-cmc-help"></textarea>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="project-measured">
                                    What are the actual measurable results of this project? Are
                                    they what your team expected and intended? If not, how do they differ?
                                </label>
                                <div class="input-wrapper">
                                    <textarea name="project-measured" id="project-measured"></textarea>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </li>
                <li class="cmc-form__submit-row">
                    <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
