---
# <!-- @formatter:off -->
title: Excellence Awards Nominations Closed
label: 2017 Excellence Awards
publish: draft
show-in-left-nav: false
private: true
banner-image: /images/pages/home/ci2016ExcellenceAwardLogoBanner.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">2017 Excellence Awards</h1>
    <p class="cmc-article__subtitle">{{title}}</p>


    <p>
        The third annual Campus Management Excellence Awards nominations are closed. The five category winners will be announced on Thursday morning, April 21st, during the CampusInsight general session. See you there!
    </p>

    <h2 class="secondary-header--alt">Excellence Awards Categories</h2>
    <ul class="award-categories-list">
        <li>
            <h3>Excellence in Constituent Service</h3>
            <p>
                Institution demonstrates excellence via use of Campus Management solutions or services to provide an
                enriched constituent experience. Examples of constituent experience include recruitment, engagement,
                student service, retention, personnel management, alumni relations, or fundraising.
            </p>
        </li>
        <li>
            <h3>Excellence in Student Success</h3>
            <p>
                Institution demonstrates innovations or improvements through the use Campus Management solutions or
                services that directly result in student success. Examples include a decrease in attrition, increase in
                retention, increase in student financial responsibility, or increase in career placement.
            </p>
        </li>
        <li>
            <h3>Excellence in Operational Efficiency</h3>
            <p>
                Institution demonstrates excellence via business process improvements and/or decreased operational
                expenses in the areas of employee service, administration, or infrastructure. Examples include increased
                efficiencies, reduced costs, or enhanced performance at the institution, gained through the use of
                Campus Management solutions or services.
            </p>
        </li>
        <li>
            <h3>Excellence in Innovation</h3>
            <p>
                Institution demonstrates excellence in technological innovation and use of Campus Management solutions
                or services, serving as a catalyst to meet or exceed an institutional goal and positively affect the
                campus community. Examples include innovation in the use of mobile technologies, cloud, Web services,
                big data, and more.
            </p>
        </li>
        <li>
            <h3>Excellence in Strategic Vision</h3>
            <p>
                Institution demonstrates the ability to foresee trends, needs or issues pertaining to the business of
                higher education, and works in a transformational way&nbsp;with Campus Management solutions or services
                to address these for the betterment of the institution and the constituents it serves. Examples include
                anticipating significant shifts in technology, evolving academic models, student engagement
                methodologies, employee development and retention practices, and more.
            </p>
        </li>
    </ul>


</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">
        {{>[info-box/campusnet-cloud]}}
        {{>[info-box/product-center]}}
    </ul>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo]}}
{{>[link-box/product-sheets]}}
{{>[link-box/insights]}}
{{>[link-box/case-studies]}}
{{/content}}

{{/extend}}
