---
# <!-- @formatter:off -->
title: Evening Event
banner-image: /images/pages/details/banner-evening-event.png
menu-priority: 0.8
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">CampusInsight 2017 Block Party</p>

    <p class="cmc-article__intro-p">Join us Thursday, April 27, 7:00pm to 11:00pm</p>

    <p>Join your colleagues for a festive, private Block Party in the heart of Pointe Orlando on International Drive on Thursday night at CampusInsight 2017.</p>

    <p>A short distance from the Rosen Centre Hotel, you will dine outside on the private patios and enjoy live music, interactive entertainment and games at Historic Lafayette’s Music Room and Restaurant or Itta Bena, a steak and seafood restaurant and piano bar.</p>

    <p>We will also provide continuous transportation between the hotel and the event throughout the night , so walk or ride and stay as long as you like.</p>

    <p style="font-style: italic;">This event is included as part of your registration fee. The companion fee for an additional guest is $85.</p>


</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}

