---
# <!-- @formatter:off -->
title: CampusInsight 2017 Executive Forum and Golf Tournament
label: Contact Us
show-in-left-nav: false
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--executive-activities-registration.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/executive-activities-registration.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <p class="cmc-article__sub-title--app">
        April 26th - 27th<br />
        Rosen Centre Hotel - Orlando, Florida
    </p>

    <h1 class="cmc-article__title--app">{{title}}</h1>

    <p class="cmc-article__sub-title--app">
        Join Jim Milton, CEO, Campus Management, for the exclusive CampusInsight 2017 Executive Forum and Golf
        Tournament. The golf event will tee-off at 8:00am on Wednesday, April 26th, at the beautiful Shingle Creek Golf
        Club. Transportation will be provided to and from the golf course, with busses departing at 7:15am.
    </p>
    <p class="cmc-article__sub-title--app">
        Please complete the form below to confirm your spot at this invitation only event!
    </p>

    <form id="requestDemoForm"
          class="cmc-form cmc-form--centered"
          action="ci-executive-activities-registration/?site=ci&group=en-us"
          data-lead-source="convert-to-campusnexus"
    >

        <fieldset>
            <legend>
                Contact Information
            </legend>
            <ul>
                <li>
                    <label class="required" for="firstName">First Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="firstName" id="firstName" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="lastName">Last Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="lastName" id="lastName" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="email">Email</label>
                    <div class="input-wrapper">
                        <input type="email" name="email" id="email" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="institution">Institution</label>
                    <div class="input-wrapper">
                        <input type="text" name="institution" id="institution" required />

                    </div>
                </li>
            </ul>
        </fieldset>

        <p>Select all the events you plan to attend:</p>

        <fieldset>
            <legend>Wednesday – April 26th</legend>
            <ul>
                <li>
                    <label><input type="checkbox" name="will-golf">Executive Forum Golf Tournament</label>
                    <ul class="golf-form">
                        <li>
                            <label for="needs-golf-clubs">Need golf clubs?</label>
                            <div class="input-wrapper">
                                <select id="needs-golf-clubs" name="needs-golf-clubs">
                                    <option selected="selected" value="No">No</option>
                                    <option value="Left Handed">Left Handed</option>
                                    <option value="Right Handed">Right Handed</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label for="needs-golf-shoes">Need golf shoes?</label>
                            <div class="input-wrapper">
                                <select id="needs-golf-shoes" name="needs-golf-shoes">
                                    <option selected="selected" value="No">No</option>
                                    <option value="Mens">Mens</option>
                                    <option value="Womens">Womens</option>
                                </select>
                            </div>
                        </li>
                        <li id="golf-form__shoe-size-li">
                            <label for="shoe-size">Shoe Size</label>
                            <div class="input-wrapper">
                                <input
                                    type="text"
                                    id="shoe-size"
                                    name="shoe-size"
                                    data-parsley-validate-if-empty="true"
                                    data-parsley-required-if="#needs-golf-shoes"
                                />
                            </div>
                        </li>
                        <li>
                            <label class="long-label" for="golf-special-needs-message">Please indicate any special
                                needs:</label>
                            <div class="input-wrapper">
                                <textarea id="golf-special-needs-message" name="golf-special-needs-message"></textarea>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <label><input type="checkbox" name="will-executive-dinner">Executive Dinner 7:00pm – 9:30pm</label>
                    <ul class="executive-dinner-form" style="display: none;">
                        <li class="dinner-special-requests">
                            <label class="long-label" for="executive-dinner-special-message">
                                Food Allergies/Dietary Requests
                            </label>
                            <div class="input-wrapper">
                                <textarea id="executive-dinner-special-message"
                                          name="executive-dinner-special-message"></textarea>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </fieldset>

        <fieldset class="contactForm contactForm--thursday">
            <legend>Thursday – April 27th</legend>
            <ul>
                <li>
                    <label class="longLabel--for-checkbox">
                        <input type="checkbox" name="will-executive-program">
                        Executive Program 9:00am – 5:00pm
                    </label>
                </li>
                <li>
                    <label class="longLabel--for-checkbox">
                        <input type="checkbox" name="will-client-event">
                        Client Event 7:00pm – 10:00pm
                    </label>
                </li>
            </ul>
        </fieldset>

        <div class="cmc-form__submit-row">
            <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
        </div>
    </form>

</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
