---
# <!-- @formatter:off -->
title: Frequently Asked Questions
banner-image: /images/pages/details/box-faq.png
additional-scripts:
  - src: /scripts/page--faq.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/faq.css
    inline: true
menu-priority: 0.1
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <p class="cmc-article__title">{{title}}</p>

    <p class="cmc-article__subtitle">Get the Most Out of Your Experience at CampusInsight 2017</p>

    <p>
        All of us at Campus Management are thrilled that you’ll be attending this year’s conference. If you are
        attending CampusInsight for the first time, you may be wondering what to expect. This page contains information
        that should help you get the most out of your experience at CampusInsight 2017.
    </p>

    <div class="faqs faq-list">
        <h2 class="faq-question">What is CampusInsight?</h2>
        <div class="faq-answer">
            <p>
                CampusInsight is an annual user conference for those organizations that use our products and services.
                Campus Management hosts CampusInsight.
            </p>
        </div>


        <h2 class="faq-question">What are the differences between CampusInsight’s “pre-conference” and “users
            conference” events?</h2>
        <div class="faq-answer">
            <p>
                CampusInsight consists of two major events. The first event is CampusInsight Pre-Conference Training.
                This event takes place over a three-day period (April 24-26). Pre-conference training provides in-depth
                training on the use, optimization, and functionality of all products in the Campus Management product
                suite. The second event is the CampusInsight Users Conference. This event immediately follows our
                pre-conference training. This year, the users conference takes place over a two-day period (April
                27-28). The users conference consists of dozens of topic-specific “breakout sessions” that contain
                information about how you can best leverage our products to achieve the optimal business practices for
                your organization. The users conference allows you to meet Campus Management’s technical experts,
                managers and executives face-to-face. Additionally, the users conference allows users of our products
                and services to meet and learn from each other.
            </p>
        </div>


        <h2 class="faq-question">Where can I find the agendas for the pre-conference training and the users
            conference?</h2>
        <div class="faq-answer">
            <p>
                Click the <a href="/agenda/">Agenda</a> item in the main navigation to view the overall schedules for
                pre-conference training and the users conference.
            </p>
        </div>


        <h2 class="faq-question">Where can I find the breakout sessions schedule and locations?</h2>
        <div class="faq-answer">
            <p>
                You can view the information listed under “<a href="/sessions/">Breakout Sessions</a>” from the main
                navigation menu. The information is also included in the conference guide, distributed at the live
                event.
            </p>
        </div>


        <h2 class="faq-question">Do I need to register in advance for any training sessions or breakout sessions?</h2>
        <div class="faq-answer">
            <p>
                Yes, registration is required. For full registration information, please select the “Register Now” link
                when available. You must register specifically for each Pre-conference training class as they are priced
                separately. If you are attending the conference on Thursday and Friday, you do not need to register for
                each breakout session, simply register for the conference and attend any breakout sessions you like.
            </p>
        </div>


        <h2 class="faq-question">Can I bring family members or significant others to CampusInsight 2017?</h2>
        <div class="faq-answer">
            <p>
                The pre-conference training and the user conference are not open to guests. However, you may bring a
                guest to the Wednesday evening reception at no charge and there is no registration required for your
                guest. For an additional fee per guest, you may also bring family and friends with you to the Thursday
                evening event. You can pay the additional guest fee when you register for CampusInsight 2017.
        </div>


        <h2 class="faq-question">Is there a parking fee at CampusInsight 2017?</h2>
        <div class="faq-answer">
            <p>
                The Rosen Centre Hotel has complementary self-parking for those who are staying at the hotel and
                attending the conference.
            </p>
        </div>


        <h2 class="faq-question">Which user conference sessions should I attend?</h2>
        <div class="faq-answer">
            <p>
                The users conference consists of several tracks and each track consists of several breakout sessions.
                This year’s users conference tracks are listed under Breakout Sessions. Our CampusInsight Users
                Conference online schedule provides detailed descriptions of the breakout sessions that are in each
                track.
            </p>
            <p>
                On the first day of the users conference, April 27, please plan on attending the General Session in the
                morning.
            </p>
            <p>
                <b>Courtesy Tip</b>: During sessions, and presentations, please remember to silence your cell phones and
                devices. Also, sessions may not be recorded in any way.
            </p>

        </div>


        <h2 class="faq-question">What Internet, fax, and other business services will be available and where will I find
            them?</h2>
        <div class="faq-answer">
            <p>
                There will be e-mail stations located in the conference area with a printer. There is also a hotel
                business office near the CampusInsight registration desk that you may find useful for your business
                needs.
            </p>
        </div>


        <h2 class="faq-question">Will there be vendor exhibits?</h2>
        <div class="faq-answer">
            <p>
                Yes. Please visit our exhibitors in the Grand Ballroom on the first level. Exhibits begin on Wednesday
                afternoon at 5 PM and run through Friday afternoon.
            </p>
        </div>


        <h2 class="faq-question">What should I wear?</h2>
        <div class="faq-answer">
            <p>
                The dress code for both the pre-conference and the users conference events is “business casual.” Note
                that session and training room temperatures may vary during conference days. Therefore, we suggest that
                you bring a sweater or jacket just in case. Depending on the length of your stay in Orlando, pack
                accordingly. As Florida’s weather can change quickly, we also suggest that you include suntan lotion,
                sunglasses, a hat or cap for sun protection, and an umbrella.
            </p>
            <p>
                <b>Tip</b>: The hotel convention center space is large, so please be sure to pack comfortable shoes.
            </p>

        </div>


        <h2 class="faq-question">Will you provide breakfast, lunch, or dinner?</h2>
        <div class="faq-answer">
            <p>
                During the pre-conference training days, we will serve a continental breakfast, buffet lunch, and
                morning and afternoon coffee breaks. On Wednesday, there is a reception from 5:00 p.m. to 6:30 p.m.
                during which we will serve light hors d’oeuvres. On Thursday and Friday, we will serve breakfast and
                lunch in addition to two scheduled coffee breaks. In addition, the hotel has a number of available
                restaurants.
            </p>
        </div>
        <h2 class="faq-question">What kind of entertainment will be available?</h2>
        <div class="faq-answer">
            <p>
                There are two entertainment events scheduled for CampusInsight 2017. The first event is the
                CampusInsight 2017 Reception. The reception will take place in the Grand Ballroom during the evening of
                Wednesday, April 26, from 5:00 to 6:30 p.m. Please join us at the reception for hors d’oeuvres and other
                refreshments. Feel free to visit with our exhibitors and meet your peers in a fun and relaxed
                atmosphere!
            </p>
            <p>
                <b>Party at The Pointe Orlando</b>: In addition to our Wednesday evening reception, we will also host a
                party at the Pointe Orlando, Thursday evening, April 27. Please register for the party when you register
                for the CampusInsight 2017 conference. Your conference registration allows you to attend the party at no
                additional cost. You may purchase additional guest tickets when you register for the conference.
            </p>
        </div>
        <h2 class="faq-question">How do I get to the Thursday evening party?</h2>
        <div class="faq-answer">
            <p>
                Motor coaches will be available to take you to the Pointe Orlando and back to the Rosen Centre Hotel.
                Also, directions will be available at the registration desk if you wish to drive yourself. It is located
                right down the street from the hotel on International Drive. But, you must select this option upon
                registration for yourself and a companion. Your ticket is included in your conference fee and the
                companion fee of $85 provides entry for a guest to attend.
            </p>
        </div>
        <h2 class="faq-question">Will there be an Information Desk at CampusInsight?</h2>
        <div class="faq-answer">
            <p>
                Yes, there is a registration/hospitality desk in the Grand Ballroom Lobby in the Rosen Centre Hotel on
                the Main Level.
            </p>
            <p>
                Here is the schedule:<br />
                Hospitality Desk Hours (for registration and assistance):<br />
                Sunday: 4:00 p.m. to 7:00 p.m.<br />
                Monday: 7:00 a.m. to 5:00 p.m.<br />
                Tuesday: 7:00 a.m. to 5:00 p.m.<br />
                Wednesday: 7:00 a.m. to 5:00 p.m.<br />
                Thursday: 7:00 a.m. to 5:00 p.m.<br />
                Friday: 7:00 a.m. to 4:00 p.m.<br />
            </p>
        </div>

        <h2 class="faq-question">How will I find my Customer Enablement Manager at CampusInsight?</h2>
        <div class="faq-answer">
            <p>
                Our Customer Enablement Managers will have a desk located near the exhibit area in the Grand Ballroom
                starting on Wednesday afternoon. To find your Customer Enablement Manager, just stop by the Customer
                Enablement Management desk.
            </p>
        </div>
        <h2 class="faq-question">How long does it take to get to the local airport?</h2>
        <div class="faq-answer">
            <p>
                The Orlando International airport is located 13.6 miles or about 16 minutes away from The Rosen Centre
                Hotel. The address of the hotel is 9840 International Drive, Orlando, FL 32819. Either taxi or shuttle
                service can be used between the airport and the hotel. A taxi from the Orlando airport is around $42 one
                way.
            </p>
            <p>
                For shuttle information click here: <a href="http://www.internationaldriveshuttle.com">http://www.internationaldriveshuttle.com</a>
            </p>
        </div>
        <h2 class="faq-question">Can I provide you with feedback regarding my CampusInsight 2017 experience?</h2>
        <div class="faq-answer">
            <p>
                Yes. After the conference, we provide attendees with a survey questionnaire through which they can
                submit ideas, suggestions, and comments for consideration. You can also send suggestions to your Campus
                Management Customer Enablement Manager or visit your Customer Enablement Manager during the conference.
            </p>
        </div>
        <h2 class="faq-question">Can I provide suggestions for next year’s CampusInsight?</h2>
        <div class="faq-answer">
            <p>
                Yes. Remember, CampusInsight is YOUR conference – so we invite you to be a part of it! If you would like
                to volunteer for the committee that will start planning for our next conference, CampusInsight 2018,
                please send an e-mail message to Karli Grant at: <a href="mailto:kgrant@campusmgmt.com">kgrant@campusmgmt.com</a>.
            </p>
            <p>
                <b>Tip</b>: CampusInsight 2018 will be held April 16-20, 2018 at The Rosen Shingle Creek Hotel, 9939
                Universal Boulevard in Orlando, Florida.
            </p>
        </div>

        <h2 class="faq-question">What is the hotel registration procedure and cut-off date?</h2>
        <div class="faq-answer">
            <p>
                Rosen Centre Hotel<br />
                9840 International Drive<br />
                Orlando, FL 32819<br />
            </p>
            <p>
                Campus Management has reserved a block of rooms at the Rosen Centre Hotel for CampusInsight
                2017 at the rate of $185.00 for single/double occupancy. There is no charge for self-parking at the
                hotel.
                Below is the link for online registration. To book a hotel room, <a
                href="http://bookings.ihotelier.com/bookings.jsp?groupID=1695996&hotelID=2018&themeId=19613">Click here
                to make your reservation</a>.
            </p>
            <p>
                &bullet; Any changes, requests or cancelations must be made by calling 800-204-7234. Make sure you ask
                for the group rate. The group rate code is: CampusInsight 2017
            </p>
            <p>
                The cut-off date is Friday, March 17, 2017, at midnight. The hotel will continue to accept reservations
                after that at the group rate, on a space available basis only.
            </p>
        </div>

        <h2 class="faq-question">May I record the sessions at the conference?</h2>
        <div class="faq-answer">
            <p>
                Attendees may not record any of the pre-conference or conference sessions.
            </p>
        </div>

        <h2 class="faq-question">How do I get documentation for a visa application to attend CampusInsight?</h2>
        <div class="faq-answer">
            <p>
                Please contact Teodora Stanic at <a href="mailto:tstanic@campusmgmt.com">tstanic@campusmgmt.com</a> with any questions you may have regarding conference invitation letters or any other information you may need to apply for a visa. You may also send an email to <a href="mailto:campusinsight@campusmgmt.com">campusinsight@campusmgmt.com</a>.
            </p>
        </div>

        <h2 class="faq-question">Who do I contact if I have further questions regarding CampusInsight?</h2>
        <div class="faq-answer">
            <p>
                For general users conference information, contact Patsy Canning: <a
                href="mailto:pcanning@campusmgmt.com">pcanning@campusmgmt.com</a>
            </p>
            <p>
                For pre-conference training questions, contact George Valiente: <a
                href="mailto:gvaliente@campusmgmt.com">gvaliente@campusmgmt.com</a>
            </p>
            <p>
                For conference tracks/sessions questions, contact Karli Grant: <a href="mailto:kgrant@campusmgmt.co">kgrant@campusmgmt.com</a>
            </p>
            <p>
                Thank you for your interest in the CampusInsight 2017 conference. We look forward to seeing you!
            </p>

        </div>
    </div>



</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}

