---
# <!-- @formatter:off -->
title: General Session Panel
menu-priority: 0.4
banner-image: /images/pages/global/banner-ci2017-logo.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">General Session Panel</h1>
    <p class="cmc-article__subtitle">Accelerating Transformation in Higher Education</p>
    <p class="cmc-article__intro-p">Thursday April 27 | General Session | 10:45am - 11:45am</p>

    <p>The imperative for all institutions today is to transform academic delivery, student success, and operational efficiencies.</p>

    <p>Explore the pathways to transformation during a lively panelist discussion with some of the industry’s top thought leaders during the general session at CampusInsight 2017.</p>

</div>

{{/content}}

{{#content "after-body"}}

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Margo Day</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/details/box-margo-day.png" alt="Margo Day" style="margin-left: 10px;"/>

                <p class="secondary-header--alt">Vice President, U.S. Education, Microsoft</p>

                <p>Margo Day is vice president of U.S. Education for Microsoft Corp. She is responsible for the U.S. Education strategy and sales to K–12 and higher education customers across the U.S., playing a key role in Microsoft’s initiatives to help institutions transform learning and improve student outcomes. Day has more than 28 years of experience in high technology software sales, marketing, business development, and partner and channel management.</p>

                <p>In her previous role, Day was Microsoft’s vice president for Small and Midmarket Solutions and Partners (SMS&amp;P) in the West Region. Day was honored for her work on behalf of women at Microsoft, earning its 2006 Most Inspirational Woman award and in 2012 was nominated for the Anita Borg Women of Vision Social Impact Award.</p>

            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Steve Gunderson</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/details/box-steve-gunderson.png" alt="Steve Gunderson" style="margin-left: 10px;"/>

                <p class="secondary-header--alt">President and CEO, Career Education Colleges and Universities</p>

                <p>Steve Gunderson is the president and CEO of the Career Education Colleges and Universities (CECU) formerly the Association of Private Sector Colleges and Universities (APSCU).</p>
                <p>Gunderson has held a number of leadership positions that have addressed the education and workforce investment challenges facing America’s citizens. Gunderson was 23 when he was first elected to the Wisconsin State Legislature. After three terms, Gunderson served 16 years in the U.S. Congress and was a recognized leader on education, employment policy, health care, human rights and agriculture issues.</p>
                <p>Following his career in public service, he was named the senior consultant and managing director of the Washington office of The Greystone Group, a strategic management and communications consulting firm. He was the lead author of the book “The Jobs Revolution: Changing How America Works.”</p>

            </div>
        </div>
    </div>
</div>

<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Liz Murphy</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/details/box-liz-murphy.png" alt="Liz Murphy" style="margin-left: 10px;"/>

                <p class="secondary-header--alt">CEO, CampusWorks</p>

                <p>Liz Murphy joined CampusWorks in 2011 as the company’s chief executive officer and a member of the Board of Directors.</p>
                <p>Previously, Liz served as the chief client officer at Datatel (now Ellucian), where she began her career in 1989. Liz is also involved with many volunteer and philanthropic activities; she previously served as Chairman of the Lupus Foundation of America’s DC, Virginia and Maryland Chapter and now serves as president of Continuous Quality Improvement Network (CQIN) as well as a board member of both Community College Business Officers (CCBO) and Quality Matters.</p>
                <p>Liz earned her BA from the University of Scranton, where she has served since 2008 on the Capital Campaign Steering Committee, and her MA in Executive Management from the University of Maryland.</p>

            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Matt Sigelman</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/details/box-matt-sigelman.png" alt="Matt Sigelman" style="margin-left: 10px;"/>

                <p class="secondary-header--alt">CEO, Burning Glass Technologies</p>

                <p>Matthew Sigelman is CEO of Burning Glass Technologies, a leading labor market analytics firm. For more than a decade, he has led Burning Glass in harnessing the power of data to deliver artificial intelligence technologies that have helped fill millions of jobs. Burning Glass data drives initiatives for more than a dozen state and national governments, as well as educational institutions and major employers.</p>
                <p>Matt is consulted frequently by national media, by researchers, and the White House. He served previously with McKinsey &amp; Company and Capital One. He holds an A.B. from Princeton University and an M.B.A. from Harvard.</p>

            </div>
        </div>
    </div>
</div>


<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/event]}}
                {{>[info-box/faq]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
