---
# <!-- @formatter:off -->
title: Conference Details
banner-image: /images/pages/global/banner-ci2017-logo.png
show-in-left-nav: false
private: true
additional-stylesheets:
  - href: /styles/pages/conference-details.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>
    <h1 class="cmc-article__title">{{title}}</h1>

    <p class="cmc-article__subtitle">There's something for everyone at CampusInsight 2017!</p>

    <p>Informative breakout sessions, networking events, three full days of new
    and expanded pre-conference training, a Wednesday night reception, and a fun-filled Thursday night party!</p>


    <h2 class="event-schedule-table__day-heading">Sunday, April 23</h2>

    <table class="event-schedule-table">
        <thead>
            <tr>
                <th class="event-schedule-table__time-cell">Time</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-schedule-table__time-cell">4:00 pm – 6:00 pm</td>
                <td>Conference Hospitality Desk and Registration Open</td>
            </tr>
        </tbody>
    </table>

    <h2 class="event-schedule-table__day-heading">Monday, April 24</h2>

    <table class="event-schedule-table">
        <thead>
            <tr>
                <th class="event-schedule-table__time-cell">Time</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-schedule-table__time-cell">7:00 am – 5:00 pm</td>
                <td>Conference Hospitality Desk and Registration Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">7:30 am – 8:45 am</td>
                <td>Breakfast Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">9:00 am – 12:30 pm</td>
                <td>Pre-conference Training</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">12:30 pm – 1:30 pm</td>
                <td>Lunch Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">1:30 pm – 5:00 pm</td>
                <td>Pre-conference Training</td>
            </tr>
        </tbody>
    </table>

    <h2 class="event-schedule-table__day-heading">Tuesday, April 25</h2>

    <table class="event-schedule-table">
        <thead>
            <tr>
                <th class="event-schedule-table__time-cell">Time</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-schedule-table__time-cell">7:00 am – 5:00 pm</td>
                <td>Conference Hospitality Desk and Registration Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">7:30 am – 8:45 am</td>
                <td>Breakfast Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">9:00 am – 12:30 pm</td>
                <td>Pre-conference Training</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">12:30 pm – 1:30 pm</td>
                <td>Lunch Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">1:30 pm – 5:00 pm</td>
                <td>Pre-conference Training</td>
            </tr>
        </tbody>
    </table>

    <h2 class="event-schedule-table__day-heading">Wednesday, April 26</h2>

    <table class="event-schedule-table">
        <thead>
            <tr>
                <th class="event-schedule-table__time-cell">Time</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-schedule-table__time-cell">7:00 am – 5:00 pm</td>
                <td>Conference Hospitality Desk and Registration Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">7:30 am – 8:45 am</td>
                <td>Breakfast Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">9:00 am – 12:30 pm</td>
                <td>Pre-conference Training</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">12:30 pm – 1:30 pm</td>
                <td>Lunch Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">1:30 pm – 5:00 pm</td>
                <td>Pre-conference Training</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">5:00 pm – 6:30 pm</td>
                <td>Exhibit Booths Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">5:00 pm – 6:30 pm</td>
                <td>Welcome Reception</td>
            </tr>
        </tbody>
    </table>

    <h2 class="event-schedule-table__day-heading">Thursday, April 27</h2>

    <table class="event-schedule-table">
        <thead>
            <tr>
                <th class="event-schedule-table__time-cell">Time</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-schedule-table__time-cell">7:00 am – 5:00 pm</td>
                <td>Conference Hospitality Desk and Registration Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">7:30 am – 8:45 am</td>
                <td>Breakfast Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">8:00 am – 9:00 am</td>
                <td>Exhibit Booths Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">9:00 am – 12:00 pm</td>
                <td>General Session</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">12:00 pm – 1:00 pm</td>
                <td>Lunch Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">1:00 pm – 5:00 pm</td>
                <td>Breakout Sessions</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">1:00 pm – 5:00 pm</td>
                <td>Exhibit Booths Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">2:50 pm – 3:00 pm</td>
                <td>Refreshments in the Exhibit Hall</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">7:00 pm – 11:00 pm</td>
                <td>Evening Event</td>
            </tr>
        </tbody>
    </table>

    <h2 class="event-schedule-table__day-heading">Friday, April 28</h2>

    <table class="event-schedule-table">
        <thead>
            <tr>
                <th class="event-schedule-table__time-cell">Time</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-schedule-table__time-cell">7:00 am – 4:00 pm</td>
                <td>Conference Hospitality Desk and Registration Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">7:30 am – 8:45 am</td>
                <td>Breakfast Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">8:00 am – 3:00 pm</td>
                <td>Exhibit Booths Open</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">9:00 am – 12:00 pm</td>
                <td>Breakout Sessions</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">9:50 am – 10:00 am</td>
                <td>Refreshments in the Exhibit Hall</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">12:00 pm – 1:00 pm</td>
                <td>Lunch Buffet</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">1:00 pm – 4:00 pm</td>
                <td>Breakout Sessions</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">2:50 pm – 3:00 pm</td>
                <td>Refreshments in the Exhibit Hall</td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">4:00 pm</td>
                <td>Conference Ends</td>
            </tr>
        </tbody>
    </table>


</div>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}


{{/extend}}
