---
# <!-- @formatter:off -->
title: Justify Your Trip Letter
show-in-left-nav: true
banner-image: /images/pages/global/banner-ci2017-logo.png
menu-priority: 0.8
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Download and Customize this Request Letter</p>

    <p class="cmc-article__intro-p">Your institution already recognizes the importance of ongoing training to maximize its investment in the
        software you use – and there is no better opportunity for training than at CampusInsight.</p>

    <p>Your manager or supervisor, however, will still need to know what is planned for this year and how much it will cost.</p>

    <p>That’s what the “Justify Your Trip Letter” is all about. It describes how you will have access to in-depth
        pre-conference training, 100 breakout sessions with subject-matter experts, and the latest best practices from
        colleagues and institutions throughout the country.</p>

    <h2 class="secondary-header--alt">Request Letter Outlines Value of Attending</h2>

    <p>Just add your name and pricing information to the attached letter and it’s good to go. Of course, you can modify
    the letter however you wish, but we think you will find it a big head-start on gaining the approval you need.</p>

    <p>We look forward to seeing you at CampusInsight 2017 in Orlando!</p>

        <a class="cmc-article__link" href="/documents/2017/Justify-Your-Trip_CampusInsight-2017.zip">Download Letter</a>

</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}

