---
# <!-- @formatter:off -->
title: Privacy
show-in-left-nav: false
banner-image: /images/pages/agenda/Banner_Privacy.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p>Campus Management Corp. (“Campus Management”) respects your privacy and is committed to protecting any personal
        information that you provide to us. Our goal is to deliver content that will be useful to you. In order to provide
        relevant information, be responsive to your specific requests, and enhance your experience while utilizing our website,
        we will from time to time request information from you.</p>

    <p>This statement explains our policies and practices regarding the use and disclosure by Campus Management of the
        personal information you provide. It is important for you to understand that Campus Management reviews and updates
        this Privacy Policy as it deems appropriate. As a result, you should periodically review this policy to make sure that
        you are aware of how we are using the personal information you provide us. By using our web site and other sites, portals
        and forums we make available to you from time-to-time (referred to in this policy as our “web site”), you consent to the
        collection and use of your personal information by Campus Management as explained below.</p>

    <p>Campus Management provides links to other sites we believe may be of interest to you. These sites are provided as a
        convenience and are beyond our control and Campus Management is not responsible for the privacy practices or the content
        on these web sites. You should check the privacy policies of those sites before providing your personal information to them.</p>

    <h2 class="secondary-header--alt">Copyright &amp; Trademarks</h2>

    <p>All contents of our web site are, in their entirety and unless otherwise expressly indicated, the property of Campus
        Management Corp., copyright © 2016. All rights reserved. Unauthorized use, in whole or in part, is not permitted without
        the express written consent of an authorized Campus Management executive.</p>

    <p>Campus Management Corp, Campus Management, the Campus Management logo, CampusNexus, CampusVue, CampusCare, CampusNet,
        CampusLink, Donor2, Talisma, and other marks, are trademarks, service marks, and/or designs of Campus Management Corp.,
        and may be registered in the U.S., other countries, or both. All other trademarks or service marks are property of their
        respective owners.</p>

    <h2 class="secondary-header--alt">Collection of Information</h2>

    <p>In general, you can visit our web site without providing us with any personal information. However, at various
        times during navigation across our web site, there are instances where we need your personal information to grant
        you access to our protected content or secure sites. This information may include registration data, such as your
        name, address, email address and phone number. Campus Management may collect information from you through the use
        of user request forms to send you information you have specifically requested from us. Campus Management may also
        request information that will assist you in better using Campus Management products and services. This information
        may include information about your organization and your responsibilities within that organization. Please do not
        submit any personal information to us if you are less than 18 years of age.</p>

    <h2 class="secondary-header--alt">Cookies</h2>

    <p>We use cookies, small text files placed on your device, to collect data.  Cookies help Campus Management, among
        other things, to better understand user behavior, tell us which parts of our web site you have visited, and measure
        the effectiveness of web searches.</p>

    <p>You have a variety of tools to control cookies, including browser controls to block and delete cookies.  You should
        check with your web provider to find out how to disable cookies. Your browser choices may impact your experience with
        our web site.</p>

    <h2 class="secondary-header--alt">Use of Information</h2>

    <p>We may use the information provided by you for various purposes to enhance your business relationship with Campus
        Management, including, by way of example: engaging in transactions or communications with you and your employer; verifying
        compliance with the agreement between Campus Management and your employer; providing future service and support; responding
        to user inquiries and requests for information; and informing you of new product and service offerings as they become available.</p>

    <h2 class="secondary-header--alt">Disclosure of Information</h2>

    <p>Although Campus Management does not sell, trade or transfer your information to third parties, we reserve the right
        to share the information with our business associates or “partners” for various reasons, including marketing, advertising
        or product and service offering purposes. We may also disclose this information if we are required to disclose it by court
        order or other legal requirements.</p>

    <h2 class="secondary-header--alt">Corrections</h2>

    <p>The accuracy of your personal information is important to Campus Management. Our contact information is below. If you
        contact us to make any changes to your information, we will attempt to make those changes in a timely manner.</p>

    <h2 class="secondary-header--alt">Security</h2>

    <p>Campus Management is concerned with the security of your information and has in place reasonable measures to
        prevent unauthorized access to that information. To that end, we put in place the appropriate physical, electronic
        and managerial procedures to secure your personal information.</p>

    <h2 class="secondary-header--alt">Usernames and Passwords</h2>

    <p>Access to certain content on our web site may be allowed under agreement between you or your employer and Campus
        Management and will require a username and/or password. In some cases, failure to provide personal information may
        prevent you from accessing certain parts of our web site that may contain certain confidential information.</p>

    <h2 class="secondary-header--alt">Procedure for Comments About this Website</h2>

    <p>Campus Management values accuracy, respectfulness and good taste in its marketing. Comments regarding inaccurate,
        defamatory, libelous, infringing (including, without limitation, any copyright or trademark infringement claims), or
        other questionable content found in any Campus Management web site or within any other media produced and distributed
        by the Company should be submitted in writing to the Company’s Corporate Communications Manager. Comments must include
        the sender’s contact information, including a mailing address and daytime telephone number. Such comments will be
        considered and replied to or remedied within ten (10) business days of receipt. Send comments to:</p>

    <p>Corporate Communications Manager&#160;<br/>RE: Website comments <br/>Campus Management Corp. <br/>5201 Congress
        Ave. <br/>Boca Raton, FL 33487 USA <br/><a href="mailto:webmaster@campusmgmt.com">webmaster@campusmgmt.com</a>
        <br/><br/>If you have questions regarding our Privacy Statement, please contact: <a
            href="mailto:webmaster@campusmgmt.com">webmaster@campusmgmt.com</a></p>
</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}

