---
# <!-- @formatter:off -->
title: CampusNexus CRM Roundtable
show-in-left-nav: false
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--simple-form.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
  - href: /styles/pages/round-table-sign-up.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__title--app">CampusNexus CRM Roundtable Sign Up</h1>

    <p class="cmc-article__sub-title--app">Please complete and submit the form below. </p>

    <form id="requestDemoForm"
          class="cmc-form cmc-form--centered js--simple-form"
          action="ci-round-table-sign-up/?site=ci&group=en-us"
          data-lead-source="ci-round-table"
          data-success-redirect-url="/agenda/round-table-sign-up-complete/"
    >
        <fieldset>
            <ul>
                <li>
                    <label class="required" for="firstName">First Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="firstName" id="firstName" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="lastName">Last Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="lastName" id="lastName" />
                    </div>
                </li>
                <li>
                    <label class="required" for="email">Email</label>
                    <div class="input-wrapper">
                        <input type="email" name="email" id="email" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="phone">Phone</label>
                    <div class="input-wrapper">
                        <input type="text" name="phone" id="phone" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="title">Title</label>
                    <div class="input-wrapper">
                        <input type="text" name="title" id="title" />
                    </div>
                </li>
                <li>
                    <label class="required" for="institution">Institution</label>
                    <div class="input-wrapper">
                        <input type="text" name="institution" id="institution" />
                    </div>
                </li>
                <li>
                    <label>Topics</label>
                    <ul class="round-table-form__topics-list">
                        <li>
                            Campaigns
                            <label>
                                <input type="radio" name="campaigns" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="campaigns" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="campaigns" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Event Management
                            <label>
                                <input type="radio" name="events" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="events" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="events" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Third Party Integrations
                            <label>
                                <input type="radio" name="thirdPartyIntegrations" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="thirdPartyIntegrations" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="thirdPartyIntegrations" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Web Interface
                            <label>
                                <input type="radio" name="webInterface" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="webInterface" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="webInterface" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Chat
                            <label>
                                <input type="radio" name="chat" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="chat" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="chat" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Text/SMS
                            <label>
                                <input type="radio" name="textSms" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="textSms" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="textSms" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Forms Builder
                            <label>
                                <input type="radio" name="formsBuilder" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="formsBuilder" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="formsBuilder" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Duplicate Handling (Contacts and Leads)
                            <label>
                                <input type="radio" name="duplicateHandling" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="duplicateHandling" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="duplicateHandling" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Filter Issues / Limitations
                            <label>
                                <input type="radio" name="filters" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="filters" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="filters" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            CMC Support and Issue Resolution
                            <label>
                                <input type="radio" name="issueResolutionProcess" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="issueResolutionProcess" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="issueResolutionProcess" value="1" />
                                Not interested
                            </label>
                        </li>
                        <li>
                            Product and Technical Issues
                            <label>
                                <input type="radio" name="technicalIssues" value="3" />
                                Must have to make the roundtable worthwhile
                            </label>
                            <label>
                                <input type="radio" name="technicalIssues" value="2" />
                                Great if we have time
                            </label>
                            <label>
                                <input type="radio" name="technicalIssues" value="1" />
                                Not interested
                            </label>
                        </li>
                    </ul>
                </li>
                <li>
                    <label class="tallInputLabel" for="message">Other Topics of Interest</label>
                    <div class="input-wrapper">
                        <p class="input-note">Please note known other issues that you want discussed</p>
                        <textarea name="message" id="message"></textarea>
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/event]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}


{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
