---
# <!-- @formatter:off -->
title: Contact Campus Management
label: Contact Us
show-in-left-nav: false
private: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<div class="cmc-article">
    <h1 class="cmc-article__title--app">CampusNexus CRM Roundtable Sign Up</h1>
    <p class="cmc-article__sub-title--app">
        Thank you for submitting topics and signing up to attend the CampusNexus CRM Roundtable on Wednesday.  We look forward to seeing you there.
    </p>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}


{{/extend}}

