---
# <!-- @formatter:off -->
title: Venue Information
label: Hotel & Travel
banner-image:
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Hotel &amp; Discounts</p>

    <figure class="press-release__figure" style="width: 250px;">
        <img src="/images/pages/agenda/venue-info/hotelImages1.png" alt="Rosen Centre Hotel" />
        <img src="/images/pages/agenda/venue-info/hotelImages2.png" alt="Rosen Centre Hotel" />
        <img src="/images/pages/agenda/venue-info/hotelImages3.png" alt="Rosen Centre Hotel" />
    </figure>

    <p class="cmc-article__intro-p">Rosen Centre Hotel, 9840 International Drive, Orlando, FL 32819</p>

    <p class="secondary-header--alt">The CampusInsight room block has now expired and rooms at the Rosen Centre may not be available.  To look for alternate hotels, please use the link below.</p>

    <a href="http://www.bing.com/search?q=hotels+on+international+drive+orlando&src=IE-SearchBox&FORM=IENTSR" target="_blank" >Hotel Search</a>

    <p>Campus Management has reserved a block of rooms at The Rosen Centre&#160;Hotel&#160;for CampusInsight 2017 at the rate of $185.00 for
        single/double occupancy. There is no charge for self-parking at the hotel.</p>

    <p>A few things to know about room reservations:</p>

    <ul class="list--normal list--has-lead-in">
        <li>The Rosen Centre hotel combines impressive meeting capabilities with resort-style luxury in a world-class
            destination. Each guestroom includes complimentary high-speed internet access, 32’ flat screen TV, safe,
            mini-refrigerator, iron &amp; board, hair dryer, coffee/tea maker, two telephones with voice mail.
        </li>
        <li>Multiple dining options - Everglades Restaurant, Cafe Gauguin, Banshoo Sushi, Red&#39;s Deli, Smooth Java,
            proudly serving Starbucks coffee and 98Forty Tapas and Tequila
        </li>
        <li>Any changes, requests or cancelations must be made by calling 800-204-7234. Make sure you ask for the group
            rate. <b>The group&#160;rate&#160;code is: CampusInsight 2017</b>
        </li>
    </ul>

    <a class="cmc-article__link" href="http://bookings.ihotelier.com/bookings.jsp?groupID=1695996&amp;hotelID=2018&amp;themeId=19613">Room Reservations</a>

</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <h2 class="info-box__title">Visit Orlando’s Show Your Badge Program</h2>

                <img class="cmc-article__section__bg-image" src="/images/pages/details/box-ci-logo.png"
                     alt="Diamond Sponsor" />

                <p class="secondary-header--alt">Enjoy Dining Discounts</p>

                <p>While attending the CampusInsight 2017 Users Conference in Orlando, show your convention badge to a participating “Show Your Badge” venue between April 24 -28 (or during the valid offer time stated by the restaurant) to take advantage of a great dining offer!</p>

                <p>Download the Program Guide and Program Map to find a participating venue.</p>


                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/documents/2017/Show-Your-Badge-Program.pdf" target="_blank">Program Guide</a>
                    </li>
                    <li class="cmc-article__link-list-item">
                        <a class="cmc-article__link" href="/documents/2017/Show-Your-Badge-Map.pdf" target="_blank">Program Map</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/event]}}
                {{>[info-box/faq]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}

