---
# <!-- @formatter:off -->
title: Schedule Report
show-in-left-nav: false
additional-scripts:
  - src: /scripts/page--schedule-report.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/schedule-report.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}

<div class="cmc-article">

    <p class="cmc-article__subtitle">{{title}}</p>

    <div
        id="ScheduleReport"
        class="schedule-report"
        data-year="2018"
    >
        <div class="loading--placeholder">loading...</div>
    </div>
</div>
{{/content}}

{{/extend}}
