---
# <!-- @formatter:off -->
title: Support Consultations Grid
layout: support-consultations-grid.hbs
additional-scripts:
  - src: /scripts/page--support-consultations-grid.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/support-consultations-grid.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="layout__bg--top">
    <div class="left-nav-menu__layout-container">
        <div id="mainNav"></div>
    </div>
</div>
<section class="support-consultations-grid">
    <h1 class="support-consultations-grid__title cmc-article__subtitle">Support Consultations</h1>
    <div
        id="CiAppMountPoint"
        data-year="2018"
    >
        <div class="loading--placeholder">Loading...</div>
    </div>
</section>
{{/content}}

{{/extend}}
