---
# <!-- @formatter:off -->
title: Session Evaluation
show-in-left-nav: false
private: true
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--session-evaluation.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/session-evaluation.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__title--app">Loading...</h1>
    <p class="cmc-article__sub-title--app session-eval-form__sub-title">Session Evaluation</p>
    <p class="cmc-article__sub-title--app session-eval-form__sub-title-two">Please complete and submit the form
        below. </p>

    <form id="requestDemoForm"
          class="cmc-form cmc-form--centered js--simple-form"
          action="session-evaluation/?site=ci&group=en-us"
          data-lead-source="session-evaluation"
          data-year="2018"
    >
        <div class="loading loading--placeholder loading--top">Loading...</div>

        <fieldset>
            <ul>
                <li>
                    <label class="required" for="email">Email:</label>
                    <div class="input-wrapper">
                        <input type="text" name="email" id="email" required />
                    </div>
                </li>
                <li>
                    <label class="long-label">
                        1. The Presenter(s) conveyed information effectively.
                    </label>
                    <div class="input-wrapper">
                        <ul>
                            <li>
                                <label><input type="radio" name="conveyed_info" value="Strongly Agree" />
                                    Strongly Agree
                                </label>
                            </li>
                            <li><label><input type="radio" name="conveyed_info" value="Agree"> Agree</label></li>
                            <li><label><input type="radio" name="conveyed_info" value="Neutral"> Neutral</label></li>
                            <li><label><input type="radio" name="conveyed_info" value="Disagree"> Disagree</label></li>
                            <li>
                                <label><input type="radio" name="conveyed_info" value="Strongly Disagree" />
                                    Strongly Disagree
                                </label>
                            </li>
                            <li>
                                <label><input type="radio" name="conveyed_info" value="Not Applicable" />
                                    Not Applicable
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label class="long-label">
                        2. The presentation, examples, handouts, and other materials enhanced my understanding of the
                        subject matter.
                    </label>
                    <div class="input-wrapper">
                        <ul>
                            <li>
                                <label><input type="radio" name="materials" value="Strongly Agree" />
                                    Strongly Agree
                                </label>
                            </li>
                            <li><label><input type="radio" name="materials" value="Agree"> Agree</label></li>
                            <li><label><input type="radio" name="materials" value="Neutral"> Neutral</label></li>
                            <li><label><input type="radio" name="materials" value="Disagree"> Disagree</label></li>
                            <li>
                                <label><input type="radio" name="materials" value="Strongly Disagree" />
                                    Strongly Disagree
                                </label>
                            </li>
                            <li>
                                <label><input type="radio" name="materials" value="Not Applicable" />
                                    Not Applicable
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label class="long-label">
                        3. The information presented will be useful to me in my work environment.
                    </label>
                    <div class="input-wrapper">
                        <ul>
                            <li>
                                <label><input type="radio" name="useful_at_work" value="Strongly Agree" />
                                    Strongly Agree
                                </label>
                            </li>
                            <li><label><input type="radio" name="useful_at_work" value="Agree"> Agree</label></li>
                            <li><label><input type="radio" name="useful_at_work" value="Neutral"> Neutral</label></li>
                            <li><label><input type="radio" name="useful_at_work" value="Disagree"> Disagree</label></li>
                            <li>
                                <label><input type="radio" name="useful_at_work" value="Strongly Disagree" />
                                    Strongly Disagree
                                </label>
                            </li>
                            <li>
                                <label><input type="radio" name="useful_at_work" value="Not Applicable" />
                                    Not Applicable
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label class="long-label">
                        4. Describe your level of experience with the topic presented in this session:
                    </label>
                    <div class="input-wrapper">
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" name="user_experience_level" value="Beginner">
                                    Beginner
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="user_experience_level" value="Intermediate">
                                    Intermediate
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="user_experience_level" value="Advanced">
                                    Advanced
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label class="long-label">
                        5. Overall, this session could be described as:
                    </label>
                    <div class="input-wrapper">
                        <ul>
                            <li><label><input type="radio" name="overall" value="Excellent"> Excellent</label></li>
                            <li>
                                <label>
                                    <input type="radio" name="overall" value="Above Average">
                                    Above Average
                                </label>
                            </li>
                            <li><label><input type="radio" name="overall" value="Average"> Average</label></li>
                            <li><label><input type="radio" name="overall" value="Below Average"> Below Average</label>
                            </li>
                            <li><label><input type="radio" name="overall" value="Poor"> Poor</label></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label class="long-label">
                        6. Should this topic be repeated again next year?
                    </label>
                    <div class="input-wrapper">
                        <ul>
                            <li><label><input type="radio" name="repeat_next_year" value="Yes"> Yes</label></li>
                            <li><label><input type="radio" name="repeat_next_year" value="No"> No</label></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label class="long-label" for="comments">
                        7. Please make any additional comments on this session below:
                    </label>
                    <div class="input-wrapper">
                        <textarea name="comments" id="comments"></textarea>
                    </div>
                </li>

                <li>
                    <label class="long-label" for="topics_next_year">
                        8. Please provide us with topics you would like to see offered in next year's sessions.
                    </label>
                    <div class="input-wrapper">
                        <textarea name="topics_next_year" id="topics_next_year"></textarea>
                    </div>
                </li>

                <li class="cmc-form__submit-row">
                    <input type="hidden" name="session_name" id="session_name" />
                    <input type="hidden" name="session_id" id="session_id" />
                    <input type="hidden" name="year" id="year" />
                    <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
