---
# <!-- @formatter:off -->
title: Tracks & Sessions
banner-image: /images/pages/details/box-breakout-sessions.png
baseHref: /sessions/
additional-scripts:
  - src: /scripts/page--sessions.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/sessions.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p class="cmc-article__intro-p">Focused Tracks with "How To" Techniques
        and Best Practices</p>

    <p>Select a track from the "Select Track" drop-down menu to view detailed breakout session information that can help
        you plan for CampusInsight 2017.</p>

    <section
        class="session-browser"
        id="SessionsMountPoint"
        data-year="2017"
    >
        <div class="loading--placeholder">Loading...</div>
    </section>

</div>
{{/content}}

{{#content "after-body"}}


<div class="modal schedule-warning-modal" id="RoundTableWarningModal" tabindex="-1" role="dialog"
     aria-labelledby="RoundTableWarningModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="RoundTableWarningModalLabel">Schedule Notice</h4>
            </div>
            <div class="modal-body schedule-warning-modal__modal-body">
                <p class="">
                    Please Note: "Add to Schedule" does not register you for the CampusInsight Conference.
                </p>
                <button
                    type="button"
                    class="schedule-warning-modal__continue-btn cmc-article__link">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
