---
# <!-- @formatter:off -->
title: Tracks
banner-image: /images/pages/details/box-breakout-sessions.png
menu-priority: 0.9
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

<img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>

    <p class="cmc-article__subtitle">Tracks</p>

    <p class="cmc-article__intro-p">This year’s conference provides more Campus Management product-related information and training than ever 
    before.</p>
    
    <p>Whether you are interested in recruiting, admissions, academics, financial aid, systems administration, 
    or IT, you will find focused tracks with outstanding practical value for the way you work in the real world.</p>

    <h2 class="session-track__title header--has-top-border">Powering Success through Professional Services</h2>

    <img src="/images/pages/sessions/ps-diamond.png" alt="" style="float: right;"/>

    <p>Powering Success is all about your success. Join implementation experts and client leaders sharing solutions to some of the most common business problems, best practices, tips and tricks. Sessions range from new functionality information, to rolling out applications enterprise-wide, to customization and automation of solutions to meet client unique expectations. Learn how Professional Services can help you maximize your use of Campus Management products and create efficiencies and gains at your institution. Business Solutions Optimization, Industry Consulting and Enterprise CRM Practices staff will be available to answer all your questions. Sessions to include tips and tricks, new Professional Service offerings, roundtable discussions, plus much more.</p>


    <h2 class="session-track__title header--has-top-border">Managing Constituent Relationships with CRM</h2>

    <img src="/images/pages/sessions/crm-diamond.png" alt="" style="float: right;"/>

    <p>The sessions in this track are designed for all professionals using Campus Management’s CRM solution, including those involved with strategies to enhance institutional communications and relationship management. The sessions assume a working knowledge of constituent relationship management, and focus on actual client use of the solution, practical tips and techniques to accomplish your institution's desired outcomes.</p>


    <h2 class="session-track__title header--has-top-border">​Technology, Innovation &amp; Strategy</h2>

    <img src="/images/pages/sessions/tech-diamond.png" alt="" style="float: right;" />

    <p>The Technology, Innovation & Strategy track provides a broad spectrum of technology and strategic planning topics for professionals working in any area of IT. Attendees will hear from client institutions on their innovative uses of Campus Management solutions, as well as updates on the technology roadmap, including new reporting technologies related to our data services and Power BI. Additionally this year, participants will find value in learning about the CampusNexus® architecture, including looking at the technologies that is driving the new web client capabilities.</p>


    <h2 class="session-track__title header--has-top-border">Financial Aid, Stewardship and Compliance</h2>

    <img src="/images/pages/sessions/fa-diamond.png" alt="" style="float: right;" />

    <p>This track provides you with key information in the areas of Financial Aid, Regulatory, and Student Accounts. This year’s sessions include an overview of the solution roadmap, an update on regulatory and compliance issues, and many client-led sessions focusing on FA Automation, Packaging Status Promotion, Formsbuilder 3.1 incorporating Workflow and more to attain better insight and improved tools for your institution to empower the success of your students and employees.</p>


    <h2 class="session-track__title header--has-top-border">Finance &amp; Human Resource Management</h2>

    <img src="/images/pages/sessions/cv-finance-diamond.png" alt="" style="float: right;" />

    <p>The Finance &amp; Human Resource Management Track provides information for key administrators in multiple offices on campus. The sessions this year provide an overview of features in Campus Management’s software, including a demo, functional and technical information for the new CampusNexus® Finance, HR &amp; Payroll solution. As part of this track, clients may schedule individual appointments with the Product Manager.</p>


    <h2 class="session-track__title header--has-top-border">Managing the Student &amp; Academic Enterprise</h2>

    <img src="/images/pages/sessions/customer-enablement-diamond.png" alt="" style="float: right;" />

    <p>Sessions in the Managing the Student &amp; Academic Enterprise Track provide information for professionals of all levels serving in the registrar, academic, academic/support services, and student success/retention and student services offices. Participants will learn what is new within the solution and what is planned on the roadmap. Many clients, as well as Campus Management product experts, will present tips and tricks sessions, the use of CampusNexus<sup>®</sup>sup> features, and ​the delivery of the new data warehouse and analytic options to help manage academics and gain the best ROI with the solution.
    </p>

    <h2 class="session-track__title header--has-top-border">Adding Value with Partner Solutions</h2>

    <img src="/images/pages/sessions/comp-diamond.png" alt="" style="float: right;" />

    <p>Campus Management’s Partner Network is comprised of companies offering solutions that add value and additional functionality to Campus Management’s suite of products. Learn how the Partner Network benefits our clients by helping to improve data continuity, operational efficiencies and ROI. Come see if a Partner Network solution is right for your institution.</p>


    <h2 class="session-track__title header--has-top-border">Fundraising and Donor Management</h2>

    <img src="/images/pages/sessions/tfr-diamond.png" alt="" style="float: right;" />

    <p>The Fundraising and Donor Management Track provides information on new features delivered in the Talisma Fundraising solution, as well as those planned for the next year, with the primary focus being on practical and strategic uses of the solution to get the most out of your data and fundraising strategies. Many networking opportunities exist within these sessions as well as at other points during the conference.</p>
    ​​​​​​​​​​​​​​
</div>
{{/content}}

{{#content "after-body"}}

{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
