---
# <!-- @formatter:off -->
title: Contact Campus Management
label: Contact Us
show-in-left-nav: false
private: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<div class="cmc-article">
    <h1 class="cmc-article__title--app">Thank You for Contacting <span class="cmc-article__title__company-name">Campus Management</span></h1>
    <p class="cmc-article__sub-title--app">
        A representative will contact you shortly to answer any questions you may have about Campus Management’s
        products and services.
    </p>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}


{{/extend}}

