---
# <!-- @formatter:off -->
title: Contact Campus Management
label: Contact Us
show-in-left-nav: false
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--simple-form--with-formalizer.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__title--app">Contact Us</h1>

    <p class="cmc-article__sub-title--app">Please complete and submit the form below. Be sure to select a reason for
        Inquiry from the drop down
        field. This will ensure your message is delivered to the appropriate department.</p>

    <form id="requestDemoForm"
          class="cmc-form cmc-form--centered js--simple-form--with-formalizer"
          action="contact-us/?site=ci&group=en-us"
          data-lead-source="convert-to-campusnexus"
    >
        <fieldset>
            <ul>
                <li>
                    <label class="required" for="firstName">First Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="firstName" id="firstName" required/>
                    </div>
                </li>
                <li>
                    <label class="required" for="lastName">Last Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="lastName" id="lastName"/>

                    </div>
                </li>
                <li>
                    <label class="required" for="email">Email</label>
                    <div class="input-wrapper">
                        <input type="email" name="email" id="email" required/>

                    </div>
                </li>
                <li>
                    <label class="required" for="phone">Phone</label>
                    <div class="input-wrapper">
                        <input type="text" name="phone" id="phone" required/>

                    </div>
                </li>
                <li>
                    <label class="required tallInputLabel" for="message">Message</label>
                    <div class="input-wrapper">
                        <textarea name="message" id="message" required></textarea>
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <input type="hidden" name="reasonForInquiry" id="reasonForInquiry"  value="CampusInsight Contact Form" />
                    <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
