---
# <!-- @formatter:off -->
title: My Conference
banner-image: /images/pages/global/banner-ci2017-logo.png
menu-priority: 0
private: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__title">{{title}}</h1>

    <p class="cmc-article__subtitle">Plan your CampusInsight 2017 Day</p>

    <p>Use these tools to get the most out of the CampusInsight 2017 Users Conference.</p>

    <ul class="archive-list">
        <li class="archive-list-item">
            <p class="archive-list-item__title">Conference Schedule</p>
            <p class="archive-list-item__text">Plan and build your schedule for CampusInsight 2017.</p>
            <img src="/images/pages/my-conference/box-my-schedule.png" class="archive-list-item__img"
                 alt="View my Conference Schedule"/>
            <a class="archive-list-item__link" href="/my-conference/schedule/">
                View
            </a>
        </li>
        <!--<li class="archive-list-item">
            <p class="archive-list-item__title">Support Consultation</p>
            <p class="archive-list-item__text">Schedule a one-on-one consultation with a support analyst.</p>
            <img src="/images/pages/my-conference/box-my-support.png" class="archive-list-item__img"
                 alt="Schedule a Support Consultation"/>
            <a class="archive-list-item__link" href="/my-conference/support-consultations/">
                View
            </a>
        </li>
        <li class="archive-list-item">
            <p class="archive-list-item__title">Passport Program</p>
            <p class="archive-list-item__text">Visit all the vendor booths for a chance to win a Amazon Kindle Fire.</p>
            <img src="/images/pages/my-conference/box-my-passport.png" class="archive-list-item__img"
                 alt="Passport Program"/>
            <a class="archive-list-item__link" href="/my-conference/passport-program/">
                View
            </a>
        </li>-->
    </ul>

    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item">
            <a class="cmc-article__link sign-out-button" href="#">Sign Out</a>
        </li>
    </ul>


</div>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}


{{/extend}}
