---
# <!-- @formatter:off -->
title: Passport Program
publish: draft
private: true
show-in-left-nav: false
banner-image: /images/pages/global/banner-ci2017-logo.png
additional-scripts:
  - src: /scripts/page--passport.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/passport.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__title">{{title}}</h1>

    <p class="cmc-article__subtitle">
        Explore Our Sponsors and Win a Kindle Fire HD
    </p>

    <p>
        Use your mobile to enter the Passport codes from Campus Management and its sponsors attending CampusInsight 2017,
        for a chance to win a Kindle Fire HD.
    </p>

    <div
        id="PassportMountPoint"
        class="app app--passport-program"
        data-year="2018"
    >
        <div class="loading--placeholder">Loading...</div>
    </div>

</div>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/breakout-sessions]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}


{{/extend}}
