---
# <!-- @formatter:off -->
title: My Conference Schedule
show-in-left-nav: false
private: true
additional-scripts:
  - src: /scripts/page--schedule.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/schedule.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <section
        class="schedule"
        id="ScheduleMountPoint"
        data-year="2017"
    >
        <div class="loading--placeholder">Loading...</div>
    </section>

</div>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/pre-conference-training]}}
                {{>[info-box/event]}}
            </ul>
        </div>
    </div>
</div>

<div class="layout__bg--info-box-alt-row">
    <div class="layout__container">
        <div class="layout__info-box-list-wrapper">
            <ul class="info-box-list">
                {{>[info-box/faq]}}
                {{>[info-box/register]}}
            </ul>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>contact-us--general-info}}
{{>contact-us--pct}}
{{>contact-us--sessions}}
{{/content}}

{{/extend}}
