---
# <!-- @formatter:off -->
title: Call for Presentations
banner-image: /images/pages/global/banner-ci2017-logo.png
show-in-left-nav: false
publish: draft
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">{{title}}</h1>

    <p class="cmc-article__subtitle">Submit a Breakout Session Topic</p>

    <p class="cmc-article__intro-p">Please complete and submit the presentation form by Wednesday, Nov. 23rd, 2016</p>

    <p>Planning for the 2017 CampusInsight users conference is underway, and Campus Management invites you to submit
        a 50-minute breakout session topic to be included in the conference agenda.</p>

    <p>Client presentations provide valuable information and insights into how to utilize Campus Management solutions,
        and offer the opportunity to share best practices, lessons learned, and how to achieve the greatest ROI. Over
        one-third of the breakout sessions at CampusInsight 2016 were presented by clients and were very highly
        rated.</p>

    <p>To submit a session topic, please complete the online form by Wednesday, November 16th; selected speakers will
        be notified by Wednesday, November 23rd.</p>

    <p>For questions regarding session topics, please contact: Karli A. Grant, Director, Product Marketing,
        (561) 999-3592, <a href="mailto:kgrant@campusmgmt.com">kgrant@campusmgmt.com</a></p>

</article>

<ul class="cmc-article__link-list cmc-article__link-list--centered">
    <li class="cmc-article__link-list-item">
        <a class="cmc-article__link" href="/presenter-resources/presentation-form/">Submit Session Topic</a>
    </li>
</ul>

{{/content}}

{{#content "after-body"}}
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
