---
# <!-- @formatter:off -->
title: Call for Presentations
banner-image: /images/pages/home/ci2016ExcellenceAwardLogoBanner.png
show-in-left-nav: false
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--simple-form.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
  - href: /styles/pages/nomination-form.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__title--app">{{title}}</h1>

    <p class="cmc-article__sub-title--app">
        Campus Management Corp. invites you to submit a 50-minute presentation topic to be included in the CampusInsight
        2017 conference agenda.
    </p>
    <form
        id="requestDemoForm"
        class="cmc-form cmc-form--centered js--simple-form"
        action="ci-call-for-presentations/?site=ci&group=en-us"
        data-lead-source="call-for-presentations"
        data-success-redirect-url="/contact-us/contact-complete/"
    >
        <fieldset>
            <ul>
                <li>
                    <label class="required" for="session-title">Session Title</label>
                    <div class="input-wrapper">
                        <input type="text" name="session-title" id="session-title" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="session-type">Type of Session</label>
                    <div class="input-wrapper">
                        <select name="session-type" id="session-type" required>
                            <option selected="selected" value=""></option>
                            <option value="Presentation">Presentation</option>
                            <option value="Panel Discussion">Panel Discussion</option>
                            <option value="Moderated Round Table with audience participation">
                                Moderated Round Table with audience participation
                            </option>
                        </select>
                    </div>
                </li>
                <li>
                    <label class="required" for="description">Description</label>
                    <div class="input-wrapper">
                        <textarea name="description" id="description" required></textarea>
                        <p class="input-note">(please limit to 50 words)</p>
                    </div>
                </li>
                <li>
                    <label class="required" for="track">Track</label>
                    <div class="input-wrapper">
                        <select id="track" name="track" required>
                            <option selected="selected" value=""></option>
                            <option value="Managing the Academic Enterprise">Managing the Academic Enterprise</option>
                            <option value="Financial Aid, Stewardship and Compliance">Financial Aid, Stewardship and
                                Compliance
                            </option>
                            <option value="Managing Constituent Relationships with CRM">Managing Constituent
                                Relationships with CRM
                            </option>
                            <option value="Finance &amp; Human Resource Management">Finance &amp; Human Resource
                                Management
                            </option>
                            <option value="Talisma Fundraising and Donor Management">Talisma Fundraising and Donor
                                Management
                            </option>
                            <option value="Technology, Innovation &amp; Strategy">Technology, Innovation &amp;
                                Strategy
                            </option>
                        </select>
                    </div>
                </li>
                <li>
                    <label class="required long-label">
                        Type of user to whom the session content is oriented
                    </label>
                    <div class="input-wrapper user-types-checkbox-group">
                        <p class="input-note">(select all that apply)</p>
                        <div class="user-type-errors"></div>
                        <label>
                            <input
                                type="checkbox"
                                name="user-type[]"
                                value="Functional"
                                data-parsley-required="true"
                                data-parsley-mincheck="1"
                                data-parsley-errors-container=".user-type-errors"
                            >
                            Functional
                        </label>
                        <label>
                            <input type="checkbox" name="user-type[]" value="Technical">
                            Technical
                        </label>
                        <label>
                            <input type="checkbox" name="user-type[]" value="Executive">
                            Executive
                        </label>
                    </div>
                </li>
                <li>
                    <label class="required long-label">
                        Level of product expertise for which this session is suited
                    </label>
                    <div class="input-wrapper user-types-checkbox-group">
                        <p class="input-note">(select all that apply)</p>
                        <div class="user-level-errors"></div>
                        <label>
                            <input
                                type="checkbox"
                                name="user-level[]"
                                value="Beginner"
                                data-parsley-required="true"
                                data-parsley-mincheck="1"
                                data-parsley-errors-container=".user-level-errors"
                            >
                            Beginner
                        </label>
                        <label>
                            <input type="checkbox" name="user-level[]" value="Intermediate">
                            Intermediate
                        </label>
                        <label>
                            <input type="checkbox" name="user-level[]" value="Expert">
                            Expert
                        </label>
                    </div>
                </li>
                <li>
                    <fieldset>
                        <ul>
                            <li>
                                <label class="required" for="speaker1name">Speaker 1 Name</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker1name" id="speaker1name" required />
                                </div>
                            </li>
                            <li>
                                <label class="required" for="speaker1title">Speaker 1 Title</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker1title" id="speaker1title" required />
                                </div>
                            </li>
                            <li>
                                <label class="required" for="speaker1institution">Speaker 1 Institution</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker1institution" id="speaker1institution" required />
                                </div>
                            </li>
                            <li>
                                <label class="required" for="speaker1bio">Speaker 1 Bio</label>
                                <div class="input-wrapper">
                                    <textarea name="speaker1bio" id="speaker1bio" required></textarea>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </li>
                <li>
                    <fieldset>
                        <ul>
                            <li>
                                <label class="" for="speaker2name">Speaker 2 Name</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker2name" id="speaker2name" />
                                </div>
                            </li>
                            <li>
                                <label class="" for="speaker2title">Speaker 2 Title</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker2title" id="speaker2title" />
                                </div>
                            </li>
                            <li>
                                <label class="" for="speaker2institution">Speaker 2 Institution</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker2institution" id="speaker2institution" />
                                </div>
                            </li>
                            <li>
                                <label class="" for="speaker2bio">Speaker 2 Bio</label>
                                <div class="input-wrapper">
                                    <textarea name="speaker2bio" id="speaker2bio"></textarea>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </li>
                <li>
                    <fieldset>
                        <ul>
                            <li>
                                <label class="" for="speaker3name">Speaker 3 Name</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker3name" id="speaker3name" />
                                </div>
                            </li>
                            <li>
                                <label class="" for="speaker3title">Speaker 3 Title</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker3title" id="speaker3title" />
                                </div>
                            </li>
                            <li>
                                <label class="" for="speaker3institution">Speaker 3 Institution</label>
                                <div class="input-wrapper">
                                    <input type="text" name="speaker3institution" id="speaker3institution" />
                                </div>
                            </li>
                            <li>
                                <label class="" for="speaker3bio">Speaker 3 Bio</label>
                                <div class="input-wrapper">
                                    <textarea name="speaker3bio" id="speaker3bio"></textarea>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </li>
                <li>
                    <p>Standard room equipment includes a PC with USB ports, a projector, and microphone.</p>
                    <p>Please bring your own converter cable if you choose to present from an Apple computer or
                        device.</p>
                    <label class="long-label">Requested Equipment</label>
                    <div class="input-wrapper requested-equipment-group">
                        <label>
                            <input type="checkbox" name="requested-equipment[]" value="Flip charts and markers">
                            Flip charts and markers
                        </label>
                        <label>
                            <input type="checkbox" name="requested-equipment[]" value="Table stanchions">
                            Table stanchions
                        </label>
                        <label>
                            <input type="checkbox" name="requested-equipment[]" value="Room layout with round tables">
                            Room layout with round tables
                        </label>
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>


    <p>
        <b><em>Please email this completed form to Karli Grant (<a href="mailto:kgrant@campusmgmt.com">kgrant@campusmgmt.com</a>)
            by Wednesday, November 16th, 2016. Selected speakers will be notified by November 23rd.</em></b>
    </p>
    <p>
        <b>Speakers are responsible for all expenses incurred in conjunction with the CampusInsight 2017&nbsp;Users
            Conference including registration, housing and travel.</b> The speaker and institution receive recognition
        in the conference program guide and on CampusInsight.com. All presentations for the conference are due to Campus
        Management by Friday, March 17th, 2017&nbsp;and are reviewed for formatting, grammar, content and branding.
    </p>
</div>
</div>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">
        {{>[info-box/campusnet-cloud]}}
        {{>[info-box/product-center]}}
    </ul>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo]}}
{{>[link-box/product-sheets]}}
{{>[link-box/insights]}}
{{>[link-box/case-studies]}}
{{/content}}

{{/extend}}
