<li class="link-box link-box--brazil">
    <div class="link-box__title">Pre-Conference Training</div>
    <p>
        George Valiente<br/>
		Director of Professional and Education Services<br/>
        Telephone: 561-999-3517<br/>
        <a href="mailto:gvaliente@campusmgmt.com">gvaliente@campusmgmt.com</a>
    </p>
</li>
