<li class="link-box link-box--brazil">
    <div class="link-box__title">General Information</div>
    <p>
        Danielle Valderrama<br/>
		Events Manager<br/>
        Telephone: 561-982-3729<br/>
        <a href="mailto:dvalderrama@campusmgmt.com">dvalderrama@campusmgmt.com</a>
    </p>
</li>
