<footer class="cmc-footer">
    <div class="cmc-footer__vcard__org">
        <div class="fn org cmc-footer__section-title">Campus Management Corp.</div>
        <div class="adr">
            <div class="street-address">5201 Congress Ave.</div>
            <span class="locality">Boca Raton</span>
            <span class="region">FL</span>
            <span class="postal-code">33487</span><br>
        </div>
        <p><a href="http://www.campusmanagement.com/">www.campusmanagement.com</a></p>
    </div>

    <div class="cmc-footer__contact-container">
        <div class="cmc-footer__vcard__contact-numbers">
            <div class="cmc-footer__section-title">Contact Numbers</div>

            <div class="tel">
                <span class="type">Corporate: </span><span class="value">561.923.2500</span>
            </div>
            <div class="tel">
                <span class="type">Sales: </span><span class="value">866.397.2537</span>
            </div>
            <div class="tel">
                <span class="type">Support: </span><span class="value">800.483.9106</span>
            </div>
            <div class="tel">
                <span class="type">Fax: </span><span class="value">561.999.0096</span>
            </div>
        </div>
    </div>

    <div class="cmc-footer__contact-links">
        <div class="cmc-footer__section-title">Contact Links</div>
        <ul>
            <li><a href="http://www.campusmanagement.com/contact-us/?reason=Sales">Sales</a></li>
            <li><a href="http://www.campusmanagement.com/contact-us/?reason=Support">Support</a></li>
        </ul>
    </div>

    <div class="layout__row cmc-footer__copyright-row">
        <small class="cmc-footer__copyright">©{{thisYear}} Campus Management Corp. All Rights Reserved | <a
                href="/agenda/privacy/">Privacy</a></small>
        <div class="cmc-footer__phone-number">1-866-397-2537</div>
    </div>
    <div class="layout__row">
        <a class="cmc-footer__phone-number--link" href="tel:+1-866-397-2537">1-866-397-25374<span>Touch to Call</span></a>
    </div>
</footer>
