<section id="home-page-carousel" data-interval="10000" class="home-page-carousel carousel slide">
    <div class="home-page-carousel__border">
        <h1>Campus News</h1>
        <div class="carousel-inner" role="listbox">
		
		<div class="item active">
                <div class="home-page-carousel__item home-page-carousel__item--centered">
                    <div class="home-page-carousel__img-wrapper">
                        <img class="home-page-carousel__img" alt=""
                             src="/images/pages/homepage-carousel/shingle-creek-hotel-carousel.jpg" />
                    </div>
                    <div class="home-page-carousel__item-content-wrapper">
                        <p class="home-page-carousel__sub-title">See You Next Year</p>
                        <div class="home-page-carousel__content-body">
							<p>We invite everyone to join us for the latest innovations and training from Campus Management at CampusInsight 2018!</p>
							<p>See you at the Rosen Shingle Creek hotel!</p>
							<p class="carousel__item-sub-title--alt">CampusInsight 2018 - April 16 - 20, 2018</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" class="active" data-slide-to="0">
            <span class="carousel-indicators__graphic">1</span>
        </li>
    </ol>

    <a class="left carousel-control" href="#home-page-carousel" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home-page-carousel" role="button" data-slide="next">
        <span class="sr-only">Next</span>
    </a>
</section>
