<div class="layout__bg--events">
    <div class="layout__container">
        <section class="home-page-events">
            <h1>Campus Events</h1>
            <ul class="home-page-events-list">
                <li class="home-page-events__item__wrap">
                    <div class="home-page-events__item home-page-events__item--Event">
                        <h2><span>Pre-Conference Training</span></h2>

                        <p class="home-page-events__text">
                            Do you have any questions about pre-conference training at CampusInsight 2018?
                        </p>
						<a class="home-page-events-item__details-link"
                           href="mailto:gvaliente@campusmgmt.com?Subject=CampusInsight 2018 conference training">The Learning Center</a>
                    </div>
                </li>
                <li class="home-page-events__item__wrap">
                    <div class="home-page-events__item home-page-events__item--Event">
                        <h2><span>General Conference Information</span></h2>

                        <p class="home-page-events__text">
                            Do you have questions about CampusInsight 2018 registration, event dates, location or
                            additional information?
                        </p>
						<a class="home-page-events-item__details-link"
                           href="mailto:dvalderrama@campusmgmt.com">Contact Us</a>
                    </div>
                </li>
                <li class="home-page-events__item__wrap ">
                    <div class="home-page-events__item home-page-events__item--Event">
                        <h2><span>Conference Tracks/Sessions</span></h2>

                        <p class="home-page-events__text">
                            Do you have questions about CampusInsight 2018 breakout session tracks?
                        </p>
						<a class="home-page-events-item__details-link"
                           href="mailto:kgrant@campusmgmt.com">Contact Us</a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
