{{#if use-generated-partials}}
    {{>left-nav-menu--generated}}
{{else}}
    <div class="left-nav-menu__layout-container">
        <div id="mainNav" class="left-nav-menu">
            <div class="left-nav-menu-wrap">
                <button type="button" id="toggle-menu-button"
                        class="left-nav-menu__toggle-button dl-trigger">
                    Open Menu
                </button>
                <a href="{{@root.config.domains.self}}{{url-lang-prefix}}/" class="left-nav-menu__home-link">Home</a>
                {{>top-nav-menu}}
            </div>
            <div class="left-nav-menu__toggle-contents">
                    {{{sortCollectionData collection.[0] leftNavStartFrom 2 'left-nav-menu-content'}}}
            </div>
        </div>
    </div>
{{/if}}
