
<ul class="left-nav-menu__list {{#eq class 'root static'}}dl-menu{{else}}dl-submenu{{/eq}}">
    {{#each files}}
        {{#if show-in-left-nav}}
            <li id="navMenuItem_{{shortName}}_{{#ifDefined 'currentDepth'}}sub{{else}}top{{/ifDefined}}"
                class="left-nav-menu__list-item {{#if files}}left-nav-menu__list-item--has-children{{/if}}">
                <a href="{{href}}" class="menu-item {{activeMenuItemClass this}}">{{{label}}}</a>
                {{#childIsShowInLeftNav files}}
                    {{#eq shortName 'productcenter'}}{{ideDebug}}{{/eq}}
                    {{>left-nav-menu-content this}}
                {{/childIsShowInLeftNav}}
            </li>
        {{/if}}
    {{/each}}
</ul>
