<div
    class="modal account-modal"
    id="AccountModal-2017"
    data-year="2017"
    tabindex="-1"
    role="dialog"
    aria-labelledby="AccountModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AccountModalLabel">Account</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="account-modal-body__intro-txt">Log in or sign up with Google, Facebook or your Email.</p>
                    <p class="signin-error"></p>
                    <div class="email-signin-mount-point" data-year="2017"></div>
                    <ul class="choose-provider cmc-article__link-list cmc-article__link-list--centered">
                        <li class="cmc-article__link-list-item">
                            <button class="cmc-article__link sign-in-button--google">Google</button>
                        </li>
                        <li class="cmc-article__link-list-item">
                            <button class="cmc-article__link sign-in-button--facebook">Facebook</button>
                        </li>
                        <li class="cmc-article__link-list-item">
                            <button class="cmc-article__link sign-in-button--email">Email</button>
                        </li>
                    </ul>

                </div>
                <div class="loading--placeholder">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>
