<div class="layout__bg--product-tool-tips">
    <div class="products-and-solutions">
        <h2 class="products-and-solutions__title">Transform <span>Higher Education</span></h2>
        <p class="products-and-solutions__sub-title">Gain knowledge and expertise through a wide range of training
            courses. Unite with colleagues to share best practices.</p>
    </div>
</div>
