<div class="sponsor-footer-wrapper">
    <div class="sponsor-footer">
        <h3>Sponsors</h3>
        <!--
        <div class="sponsors-footer__diamond">
            <h4>Diamond</h4>
            <ul>
            </ul>
        </div>
        -->
        <div class="sponsors-footer__platinum">
            <h4>Platinum</h4>
            <ul>
                <li><a href="/sponsors/current-sponsors/#aci">ACI Worldwide</a></li>
				<li><a href="/sponsors/current-sponsors/#microsoft">Microsoft</a></li>
            </ul>
        </div>
        <div class="sponsors-footer__gold">
            <h4>Gold</h4>
            <ul>
                <li><a href="/sponsors/current-sponsors/#ambasador">Ambassador Education Solutions</a></li>
            </ul>
        </div>
        <div class="sponsors-footer__silver">
            <h4>Silver</h4>
            <ul>
				<li><a href="/sponsors/current-sponsors/#idata">iData</a></li>
				<li><a href="/sponsors/current-sponsors/#onehop">Onehop</a></li>
				<li><a href="/sponsors/current-sponsors/#socketlabs">Socket Labs</a></li>
            </ul>
        </div>
        <div class="sponsors-footer__bronze">
            <h4>Bronze</h4>
            <ul>
				<li><a href="/sponsors/current-sponsors/#aspiredu">AspirEDU</a></li>
				<li><a href="/sponsors/current-sponsors/#burning-glass">Burning Glass</a></li>
				<li><a href="/sponsors/current-sponsors/#constituo">Constituo</a></li>
				<li><a href="/sponsors/current-sponsors/#docusign">DocuSign</a></li>
				<li><a href="/sponsors/current-sponsors/#dublabs">DubLabs</a></li>
				<li><a href="/sponsors/current-sponsors/#epx">EPX</a></li>
				<li><a href="/sponsors/current-sponsors/#illumira">Illumira</a></li>
				<li><a href="/sponsors/current-sponsors/#nelnet">NelNet</a></li>
				<li><a href="/sponsors/current-sponsors/#runner">Runner</a></li>
				<li><a href="/sponsors/current-sponsors/#schooldocs">SchoolDocs</a></li>
				<li><a href="/sponsors/current-sponsors/#softdocs">Softdocs</a></li>
				<li><a href="/sponsors/current-sponsors/#touchnet">TouchNet</a></li>
				<li><a href="/sponsors/current-sponsors/#wealthengine">WealthEngine</a></li>
				<li><a href="/sponsors/current-sponsors/#peak">Peak Performance Technologies</a></li>
            </ul>
        </div>
    </div>
</div>
