<ul class="top-nav-menu">
    <li>
        <button
            type="button"
            data-target="#SearchModal"
            data-toggle="modal"
            class="top-nav-menu__charm-button top-nav-menu__charm-button--search"
            title="Search"
        >
            Search
        </button>
    </li>
    <li>
        <a
            href="/contact-us/"
            class="top-nav-menu__charm-button top-nav-menu__charm-button--contact"
            title="Contact"
        >
            Contact
        </a>
    </li>
    <!--
    <li class="top-nav-menu__item--account--unauthenticated auth-year-2018">
        <button
            type="button"
            data-target="#AccountModal-2018"
            data-toggle="modal"
            class="top-nav-menu__account-btn"
            title="Sign In"
        >
            Sign In
        </button>
    </li>

    <li class="top-nav-menu__item--account--authenticated auth-year-2018">
        <button
            type="button"
            class="top-nav-menu__account-btn sign-out-button"
            title="Sign Out"
            data-year="2018"
        >
            Sign Out
        </button>
    </li>
    -->
    <!--
    <li class="top-nav-menu__item--account--unauthenticated auth-year-2017">
        <button
            type="button"
            data-target="#AccountModal-2017"
            data-toggle="modal"
            class="top-nav-menu__account-btn"
            title="Sign In"
        >
            Sign In
        </button>
    </li>

    <li class="top-nav-menu__item--account--authenticated auth-year-2017">
        <button
            type="button"
            class="top-nav-menu__account-btn sign-out-button"
            title="Sign Out"
            data-year="2017"
        >
            Sign Out
        </button>
    </li>
    -->
</ul>
